[2018-02-25 21:35] abishekktwm opened #2630 "No clear error message when RPCClient connects to p2pAddress by mistake"
Connect via clientRPC to the _wrong_ p2pAddress instead of the server RPC address results in an infinite loop of connection retries. This common mistake would be better served by a clear error message.

This is accentuated by the node startup not logging the client RPC addresses anymore. Unclear if this is intentional or an error. The current node startup logs print the p2pAddress and the p2pPort

[2018-02-26 06:45] opticyclic opened #2631 "Provide A Wrapper Method To Get The Notary"
This code is called all the time

         // We retrieve the notary identity from the network map.
        final Party notary = getServiceHub().getNetworkMapCache().getNotaryIdentities().get(0);

https://github.com/search?q=getNotaryIdentities&type=Code&utf8=✓

Why don't you create a wrapper or Util or something to make getting it a shorter piece of code.

[2018-02-27 09:46] remyrd opened #2647 "Dependency Conflicts prevent calling Classloader when using quasar agent"
I'm trying to include an external dependency to one of the [sample projects](https://github.com/corda/observable-states/blob/master/build.gradle).

This dependency calls `ClassLoader.defineClass`, which exits with `java.lang.ClassFormatError: Illegal UTF8 string in constant pool in class file org/apache/xerces/impl/xpath/regex/ParserForXMLSchema`. The exception is identical to the one mentioned by

[2018-02-27 13:52] patrickkuo commented on #2326
this check is removed in corda v3, closing this issue.

[2018-02-27 13:52] #2326 closed

[2018-02-28 16:44] dazraf opened #2674 "Bug: Stripping issuer from Amount<Issued<T>> does not preserve displayTokenSize"
This was found on release version 2.0.0.
[code]

[2018-03-02 10:07] george-hawkins opened #2703 "Is the doorman still part of Corda?"
The current situation with the doorman is a bit confusing.

The doorman is clearly a key element of the [v1.0 network permissioning documentation](https://docs.corda.net/releases/release-V1.0/permissioning.html). However all mention of the doorman has been removed in the current corresponding [v2.0 documentation](https://docs.corda.net/permissioning.html) (and neither is there any mention of any k

[2018-03-02 11:27] mikehearn commented on #2703
Hi George, sorry for the confusion around this. The churn you've seen is because we hadn't finished all the network protocols in version 1/2, so this stuff has only been consolidating for version 3. The term "doorman" refers to an HTTP server that accepts certificate signing requests and signs node certs if the operator of the server wants to welcome that node into their compatibility zone (you ca

[2018-03-02 14:11] george-hawkins commented on #2703
Cool - thanks Mike for that feed back. PS on a different topic I logged some issues ([#12](https://github.com/corda/corda-gradle-plugins/issues/12) and [#18](https://github.com/corda/corda-gradle-plugins/issues/18)) against the corda-gradle-plugins project but they seem to be just sitting there quietly (maybe bugs are just assigned on a periodic basis?). As I've fixed them in my local code base th

[2018-03-02 14:11] #2703 closed

[2018-03-02 14:22] mikehearn commented on #2703
The maintainer of that module has been on holiday. He'll be back next week. We're also going to set up more sub-maintainers to ensure that bugs and PRs get looked at faster. I used to do it but I'm pretty busy with other things these days, so it's time to scale the open source project!

[2018-03-11 06:14] opticyclic opened #2785 "Create The META-INF services From The Build"
At the moment you have to create files that are in META-INF as part of your source code.
e.g.

    # Register here any CorDapp plugins extending from net.corda.node.CordaPluginRegistry.

Almost all files in the META-INF directory are normally created as part of the build process.

It would make sense to create these services files automatically using reflection or annotations instead of people man

[2018-03-12 01:53] opticyclic opened #2786 "Don't Use Short Variable Names"
We aren't writing in C.

Don't use short cryptic variable names like `stx` that are hard to understand unless you know in advance what they are.

`signedTransaction` is a lot easier to read and understand.

[2018-03-12 02:23] opticyclic opened #2787 "Why Do I Need A Transaction To Get Cash Balances?"
In order to get a cash balance I need to do

    val balance = testBank.database.transaction { testBank.services.getCashBalance(USD) }

If I don't wrap the call in a transaction

    val balance = testBank.services.getCashBalance(USD)

I get

    java.lang.IllegalStateException: No transaction in context.

As an client developer I shouldn't have to care that I need a transaction and have to be exp

[2018-03-12 03:57] opticyclic opened #2788 "Add A Method That Runs A Flow And Returns"
I wasted an hour trying to work out why nothing was in the vault here:

        val myFlow = MyFlows.MyFlow(Amount(50000, USD), mainBank.info.chooseIdentity())
        testBank.services.startFlow(myFlow)

        val testStates = mainBank.database.transaction { mainBank.services.vaultService.queryBy<TestState>().states }

It turns out that if I add `.resultFuture.getOrThrow()` to the `startFlow` f

[2018-03-13 16:31] opticyclic opened #2807 "Add More Currencies"
There are only 6 currencies defined internally
https://github.com/corda/corda/blob/master/finance/src/main/kotlin/net/corda/finance/Currencies.kt

You should expand that to cover at least the top 10 traded currencies and probably cover more like top 25 to make the product more usable for banks to use out of the box.

[2018-03-13 16:58] opticyclic opened #2809 "Add More Financial Products"
There are very few financial products and it is a lot of repetition for every project to recreate the same financial products over and over again.

[2018-03-14 14:53] anthonykr3 commented on #2788
Thanks for the report. We've made a lot of changes to the test api as part of our v3 release, and it now doesn't expose any internals. If you migrate to version 3, the StartedMockNode class (which replaces the StartedNode<MockNode> in the MockNetwork) in the test api has a startFlow function which calls startFlow and then calls .resultFuture.getOrThrow() - hopefully that should help.

[2018-03-15 11:03] #2788 closed

[2018-03-15 11:03] joeldudleyr3 commented on #2786
Thanks for the feedback. Unfortunately, the API is now stabilised, so we can't modify these parameter names.

[2018-03-15 11:03] #2786 closed

[2018-03-16 13:16] #81 closed

[2018-03-16 13:17] #151 closed

[2018-03-16 13:18] #1346 closed

[2018-03-16 13:18] #1840 closed

[2018-03-16 13:19] #518 closed

[2018-03-16 13:19] joeldudleyr3 commented on #518
This should be fixed now.

[2018-03-22 09:22] joeldudleyr3 commented on #2787
@rick-r3 Hey Rick, would this be possible?

[2018-03-22 09:23] joeldudleyr3 commented on #2807
@opticyclic Hi, can you open a PR to add the top 10/top 25? See https://docs.corda.net/contributing.html for some guidelines, or reach out on Slack :)

[2018-03-22 09:55] joeldudleyr3 commented on #2787
@opticyclic Unfortunately, the `ServiceHub` doesn't have a reference to the database that backs it. So in the context of tests, you have to tell it which database to use using a database transaction.

[2018-03-22 10:06] rick-r3 commented on #2787
Actually, for the testing framework, we could add a `withServices` helper so the above could become:

`val balance = testBank.withServices { getCashBalance(USD) }`

It's not perfect, but I think could cut down on the boilerplate and if people get into the habit of using it (and we recommend it in documentation etc) rather than just `testBank.services`, it could be a reasonable win.  We can even gi

[2018-03-23 02:00] opticyclic opened #2869 "Why Is The Word "corda-" In The Version?"
The version numbering for v3 of corda looks incorrect. (Although the [ plugins ](https://jcenter.bintray.com/net/corda/plugins/cordformation/) look fine)
http://repo1.maven.org/maven2/net/corda/corda-finance/

    0.13.0/                                           2017-06-28 07:09         -
    0.14.0/                                           2017-08-08 15:36         -
    1.0.0/

[2018-03-26 16:57] dazraf opened #2878 "Deploy version 3 artefacts to maven central"
Please can you deploy version 3 artifacts to maven central. Thanks.

[2018-03-26 17:05] fenryka commented on #2878
Looking at https://mvnrepository.com/artifact/net.corda/corda/corda-3.0 it seems to be there, unless this isn't what you're referring to

[2018-03-27 14:42] yunxizhang opened #2885 "Mutablist is treated as an UnmodifiableCollection in Corda v3.0"
* Issue: we have issues in corda when trying to migrate our code from v2.0 to v3.0 is that we are using a MutableList which should be able to add new items to its list. This worked fine in corda v2.0, but we got exceptions in release-v3.

The relevant code is
[code]
The exception we have is shown below:

[code]

* We finally figured out a solution for the issue, and think this issue might be a bug

[2018-03-28 09:14] #2885 closed

[2018-03-28 09:16] fenryka commented on #2878
They are in maven central

http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22net.corda%22%20AND%20a%3A%22corda%22

[2018-03-28 09:17] #2878 closed

[2018-03-28 17:51] dazraf opened #2898 "CordaServices are instantiated multiple times per Party when using NodeDriver"
This reproduces an issue we've seen with Corda v3, whereby a `CordaService` is started *twice* per party:

https://github.com/dazraf/corda-v3-bug-multiple-services
    Please note the CordaService com.template.MyService

To reproduce:
From the IDE run `com.template.NodeDriverKt.main`

N.B. the logs generate the following:

[code]

[2018-04-02 06:50] zhangxin20180402 opened #2904 "java.io.IOException: An existing connection was forcibly closed by the remote host"
Windows10
JDK1.8

[WARN ] 2018-04-02T05:56:13,827Z [nioEventLoopGroup-2-1] channel.DefaultChannelPipeline.warn - An exceptionCaught() event was fired, and it reached at the tail of the pipeline. It usually means the last handler in the pipeline did not handle the exception. {}
java.io.IOException: An existing connection was forcibly closed by the remote host
	at sun.nio.ch.SocketDispatcher.read0(N

[2018-04-03 21:18] siddtwm opened #2913 "Flows cannot explicitly request a transaction be notarized"
In corda-core (**release-V3.0** on commit  **d9d6684**), the FinalityFlow determines whether the signed transaction should be notarized based on presence of inputs, time window and by the presence of the notary's key in the list of signers. This approach does not allow the flow creation process to explicitly request notarization of the transaction.

The presence of the notary's signature will be h

[2018-04-04 01:52] zhangxin20180402 commented on #2904
For the tast deployNodes, using the IP address instead of localhost, seems it has something with IPV6 implementation on windows 10

[2018-04-04 01:52] #2904 closed

[2018-04-06 12:40] janisolekss opened #2940 "Triple class is not on whitelist, but should"
https://github.com/corda/corda/blob/130b1d9325e23f67de47097cf14a716ae03559f8/node-api/src/main/kotlin/net/corda/nodeapi/internal/serialization/DefaultWhitelist.kt#L22

[2018-04-06 14:09] mikehearn commented on #2869
This will be fixed with v3.1 which should be out soon, the word will come after the number as is more conventional.

It was/is an attempt to differentiate Corda open source artifacts from the R3 Corda (enterprise edition) artifacts.

[2018-04-09 08:33] adubrovs opened #2946 "Performance limitation"
In our envirement we observe that the performance of validating notary nodes is severely limited by the method `hashCode` in `OpaqueBytes`. Here is the typical stacktrace:
[code]

From the sources code of `OpaqueBytes` it becomes apparent, that, each time when `ByteSequence` checks the hashcode of bytes, `OpaqueBytes` clones the entire buffer in the following method `OpaqueBytes::get`:
[code]

[2018-04-10 17:18] rick-r3 commented on #2946
Already fixed in 3.0.

[2018-04-10 17:18] #2946 closed

[2018-04-10 19:01] WizardOfAus commented on #1143
@antonylewis It sounds rather centralised. How is it not?

[2018-04-11 07:15] gendal commented on #1143
Hi @WizardOfAus. You're right in one respect:  a single node notary would indeed be centralised (how could it not!) However, that's not how they're deployed... they're either deployed in HA clusters (ie crash fault tolerant but not byzantine fault tolerant), which can be suitable for some scenarios but I know is not acceptable in all cases - or in byzantine fault tolerant clusters, where each node

[2018-04-11 15:17] mikehearn commented on #2869
It's fixed in the upcoming 3.1 release.

[2018-04-11 19:40] opticyclic commented on #2869
It would be better to use the group id or the artifact id to distinguish between open source and enterprise.

[2018-04-12 12:41] dazraf opened #2959 "Make SignedTransaction fully Jackson de/serialisable"
The current implementation serialises the TransactionSignatures as a string with no way of deserialising back to the Java type. I think there are benefits to being able to deserialise back to a fully formed object. Can we modify JacksonSupport to include a more thorough set of de/serialisers please?

[2018-04-12 19:50] fenryka commented on #2869
3.1 is released with the versioning swapped from corda-3.0 to 3.1-corda which hopefully makes things better whilst retaining the intentional labeling of the version.

https://github.com/corda/corda/releases/tag/release-V3.1

[2018-04-12 19:50] #2869 closed

[2018-04-13 07:03] tomtau opened #2963 "RPC deadlocks after a node restart"
With @Quiark, we observed this issue with Corda 3.1 and prior versions: when one is doing some operation with RPC (e.g. starting a flow) and at that time, a node (that a particular RPC Client is connected to) shuts down and then starts up again, RPCOps is stuck. There's an exception thrown on one of the threads, something like:

[code]

[2018-04-13 09:25] bpaunescu commented on #2963
@tomtau thank you for signalling this issue. It's caused by Artemis not being too nice about non-durable queues and messages during failover. Specifically, messages don't get re-sent if failover takes too long. Furthermore, there are RPCs that can't really handle connection loss(the ones that return observables and send updates).

There was a pull request https://github.com/corda/corda/pull/2770 t

[2018-04-13 09:45] tomtau commented on #2963
@bpaunescu To make it more precise, for flow invocation, the RPC gets stuck waiting on this line: https://github.com/corda/corda/blob/master/client/rpc/src/main/kotlin/net/corda/client/rpc/internal/RPCClientProxyHandler.kt#L241

Would it be all right to add a timeout to that `replyFuture.getOrThrow`?

[2018-04-13 10:09] bpaunescu commented on #2963
@tomtau Sure, that's one of the lines that can cause issues. A timeout would eliminate this issue, however there are others regarding observables, updates and reattaching client observables to the server after failover. For the time being we're now going with a fail fast approach.
Also, please feel free to PR your proposed change. Community contributions are encouraged and welcome.

[2018-04-16 19:47] opticyclic commented on #2869
Surely it would have made more sense to use the version number 3.1 and use com.r3.corda for the group id of the enterprise version.

[2018-04-17 06:35] ivica7 opened #2971 "Question: How does a non-validating notary knows if a participant is allowed to spend a state?"
Since non-validating notaries in Corda are not performing input/output state validation of a transaction, how does a notary service know that a transaction initiator is allowed to spend specific input states?

For instance, in this simple cash example:

[code]

Smart Contract Rules validate that ``transfer`` transactions are only valid, if input state is owner by the transaction initiator and sum

[2018-04-17 13:10] trferreira-BR opened #2973 "KryoException with BigDecimal - Objects structures not deserialize in Corda V3"
Hello R3 Team,

I figured out a problem in Corda V3 related to deserialization with a structure annoted with CordaSerializable.
I reported to @mikehearn this issue in Slack Corda to confirm that and He and I concluded it is a bug.

@CordaSerializable is not functional in a structure with classes serialized/deserialized by default, such as java.math.BigDecimal.

I decided to test the same structure

[2018-04-18 09:45] anthonykr3 commented on #2971
The non-validating notary would check that State1 hadn't been 'spent'. I.e., it had not been confirmed as the input of another transaction, in order to prevent double spends. It would not validate the contract as it would not see the transaction information to be able to do that. The contract would be evaluated by the parties that participated in the transaction. For further information see [here]

[2018-04-18 09:45] #2971 closed

[2018-04-18 11:49] ivica7 commented on #2971
@anthonykr3 thank you for your answer. One more question: If someone would be able to "steal" the State1 from the issuer's vault and create a fraudlent transaction on it, would he be able to consume State1 by letting the non-validating notary sign his transaction? The fraudlent transaction wouldn't make sense of course, but this way the state would be marked as consumed and the real issuer wouldn'

[2018-04-18 12:27] anthonykr3 commented on #2971
Unless the person who 'stole' the state 'stole' the nodes private key as well, they wouldn't be able to sign the transaction to mvoe the state, so the other party to the tranasction would reject it. This stackoverflow answer here has a bit more info: https://stackoverflow.com/questions/47387485/in-corda-what-data-is-sent-to-a-non-validating-notary-service?rq=1

[2018-04-18 13:29] anthonykr3 commented on #2971
Yes, however it also records the identity of the caller, so that it would be possible for the owner to raise a dispute and subsequently undo the commit of the input states - see [here](https://github.com/corda/corda/blob/master/node/src/main/kotlin/net/corda/node/services/transactions/NonValidatingNotaryFlow.kt#L18)

[2018-04-18 13:32] gendal commented on #2971
Hi there. We offer both options for a reason.  There are no absolutes in this business, only tradeoffs :)  A validating notary protects you against the attack you describe but it needs to see the transaction, as you say.  In situations where malicious submitters are not in your threat model (a far more common scenario than you might imagine for the problems we're solving with Corda!) then you can

[2018-04-19 17:57] abishekktwm opened #2984 "Unable to change the issued key to a node"
Thank you for choosing to report an issue with Corda.

When reporting an issue please make sure it contains;

* A clear description of the issue

If I issue a new certificate to a node (say by removing the existing certificate and starting the node to issue a new dev certificate) it corrupts the node database and throws the following exception

* Any logs or stack traces that you can provide (use

[2018-04-24 09:15] remmeier opened #2993 "clarify OSS strategy"
we have here Corda as OSS community and R3 as company being the main driver of the project. It would be great to see a clear statement about the OSS strategy. From the website this is not entirely clear, e.g. "Available as open source software or as an enterprise platform" (https://www.r3.com/technology/). https://www.r3.com/ecosystem/ gives some more details for the membership program.

[2018-04-24 09:45] gendal commented on #2993
Hi! Your timing is perfect. I've just proposed an update to our contribution guidelines to help make this clearer.  It's currently in review.  It would be great it you were to take a look and let us know what you think.  Does it answer your questions? If not, please do feel free to point out where more clarity is needed or if you think I haven't got the balance right, etc, etc: https://github.com/

[2018-04-24 13:57] mikehearn commented on #2993
Initial areas our commercial offering differs are:

* Performance
* Database backend support
* Firewall bridging/integration (you can run a separate "float" component in a DMZ in Enterprise)
* High availability

There may be other areas of differentiation later. Our enterprise version isn't generally available yet but we're working on it, and when that's launched we'll have formal marketing materi

[2018-04-24 13:57] #2993 closed

[2018-04-24 14:06] mikehearn commented on #2993
But please do feel free to continue the conversation - all I intend by closing the bug is getting it off the triage radar, I'm not trying to shut down the discussion.

[2018-04-25 09:47] mikehearn commented on #2984
Is that M18 of Corda? As in from last year? I'm afraid if so, we don't support that old version anymore! Also the network map and identity handling code changed completely since then.

[2018-04-26 16:29] mikehearn commented on #2963
Assinging to Bogdan so he can close this bug once the RPC failover work is done.

[2018-04-26 16:31] mikehearn commented on #2959
https://r3-cev.atlassian.net/browse/CORDA-1383

[2018-04-26 16:32] mikehearn commented on #2940
https://r3-cev.atlassian.net/browse/CORDA-1384

[2018-04-26 16:33] mikehearn commented on #2913
So to clarify you want to notarise a transaction that is purely an issuance, even though it doesn't have a timestamp?

The reason we don't allow this is that the notary wouldn't check or do anything. It'd just sign, but the signature wouldn't mean anything (unless it was a validating notary, in which case it'd have validated, but the recipient is supposed to do that anyway).

Can you explain a bit

[2018-04-26 16:34] mikehearn commented on #2898
https://github.com/corda/corda/issues/2898

[2018-04-26 16:38] mikehearn commented on #2809
We have big dreams for the finance app, but in the end Corda is a platform for writing apps (many of which will handle the details of specific products) and the finance app is partly just a big showcase. We're working on making the cash app much more realistic and deployable, but the others (commercial paper etc) are just toys.

Making sure Corda users have access to a huge library of really solid

[2018-04-26 16:38] #2809 closed

[2018-04-26 16:39] mikehearn commented on #2787
I'd rather we fix this by making the service APIs create their own db transactions. It's really not obvious to me why it works this way currently, and this issue crops up in a lot of different ways and contexts.

[2018-04-26 16:39] mikehearn commented on #2787
See CORDA-825 https://r3-cev.atlassian.net/browse/CORDA-825

[2018-04-26 16:41] mikehearn commented on #2785
Most things don't require that anymore and CordaPluginRegistry was deleted some time ago. Are you using an old version?

[2018-04-26 16:41] #2785 closed

[2018-04-26 16:42] joeldudleyr3 commented on #363
This can no longer be changed due to the API stability commitments.

[2018-04-26 16:42] #363 closed

[2018-04-26 16:42] mikehearn commented on #2674
https://github.com/corda/corda/issues/2674

[2018-04-26 16:42] joeldudleyr3 commented on #508
The network map node has been removed in Corda 3, so this is no longer an issue.

[2018-04-26 16:42] #508 closed

[2018-04-26 16:48] joeldudleyr3 commented on #567
This now works correctly, possibly due to the removal of the concept of advertised services.

[2018-04-26 16:48] #567 closed

[2018-04-26 16:48] joeldudleyr3 commented on #764
This was fixed by requiring a flow to override the progress tracker to be run from the terminal.

[2018-04-26 16:48] #764 closed

[2018-04-26 16:48] mikehearn commented on #2647
The bug you linked to ends with the reporter saying it had nothing to do with Quasar - are you sure that's the issue?

We have plans to start work on isolating apps from the node internals soon. That'll help avoid issues with apps depending on things that conflict with Corda itself. *However* Jena is a database engine. Cordapps are meant to be small pieces of logic like states, contracts and flows

[2018-04-26 16:49] mikehearn commented on #2630
@bpaunescu Can you also fix it so if the port numbers are wrong we don't go into an infinite loop?

@tudor-malene Might this be fixed by your RPC SSL work?

[2018-04-26 16:52] joeldudleyr3 commented on #755
`signingParties` is only the parties whose identity could be resolved, so `Party` is fine.

[2018-04-26 16:52] #755 closed

[2018-04-26 16:53] mikehearn commented on #2629
Hm that's deliberate, it makes it faster to develop, but it sounds like we're not detecting that the target directory already has zone files created and doing it again, which is perhaps the real bug.

@shamsasari Does that sound right? Can you file a JIRA ticket if that's the true bug and link to it from here?

[2018-04-26 16:54] mikehearn commented on #2605
https://r3-cev.atlassian.net/browse/CORDA-1387

[2018-04-26 16:58] mikehearn commented on #2348
I'm afraid this bug report is not clear enough for us to act on. Perhaps you can provide a more detailed error message.

[2018-04-26 16:58] #2348 closed

[2018-04-26 17:05] joeldudleyr3 commented on #853
Hi Simon. We weren't able to replicate this issue on Corda 3. I'm going to close it for now, but please re-open the issue if it occurs again on the latest version.

[2018-04-26 17:05] #853 closed

[2018-04-26 17:13] joeldudleyr3 commented on #969
In case like these, the first thing to check is that the various nodes' machines can ping each other using standard tools. That determines whether it's a networking error or a Corda error.

The next step is to check the node logs for errors, ideally uploading them with this issue.

We aren't able to replicate this issue on Corda 3, so we're closing it for now, but please re-open it and post the lo

[2018-04-26 17:13] #969 closed

[2018-04-26 17:25] kchalkias commented on #2984
This is still possible to happen in current version of Corda. `certificates` directory holds all of the legal identity node keys. It is advisable to one get a backup of this folder in case of accidental deletion.

Among the others, regenerating and re-issuing a new certificate means that if there were assets owned by your previous key(s), you won't be able to consume them. Assuming you can tolerat

[2018-04-26 17:27] tudor-malene commented on #2630
@mikehearn, I think this case is a non-ssl connector (the RPC client)  attempting to connect to an ssl acceptor ( P2P ), and some failover logic intercepting the exception and retrying.
Seems unrelated.

[2018-04-26 17:29] joeldudleyr3 commented on #1143
This is being addressed by this PR: https://github.com/corda/corda/pull/3017.

[2018-04-26 17:29] #1143 closed

[2018-04-26 17:37] joeldudleyr3 commented on #2196
What Java version are you using?

[2018-04-26 17:47] joeldudleyr3 commented on #2674
Thanks for reporting this. Fixed by https://github.com/corda/corda/pull/3019.

[2018-04-26 17:47] #2674 closed

[2018-04-26 17:48] shamsasari commented on #2629
Yep, that's issue. `deployNodes` should delete the `nodes` directory first.

[2018-04-26 18:15] shamsasari commented on #2629
https://r3-cev.atlassian.net/browse/CORDA-1389

[2018-04-26 20:06] remyrd commented on #2647
Hi, soon after I reported the issue I more or less took the approach you mention so I stopped "investigating" further. The issue was also reported on [stack overflow](https://stackoverflow.com/questions/49007205/corda-dependency-conflicts-prevent-calling-classloader-when-using-quasar-agent) if interested, but I'm not familiar enough with gradle to make use of the answer.

Happy to hear work is bei

[2018-04-27 02:58] opticyclic opened #3020 "Don't Eat Stacktraces"
https://github.com/corda/corda/blob/master/node/src/main/kotlin/net/corda/node/services/vault/NodeVaultService.kt#L462-L465

        } catch (e: java.lang.Exception) {
            log.error(e.message)
            throw e.cause ?: e
        }

Ends up with the really unhelpful log message:

    2018-04-26 22:49:16.527 ERROR 6380 --- [nio-8080-exec-2] o.a.c.c.C.[.[.[/].[dispatcherServlet]    : Servl

[2018-04-27 07:58] joeldudleyr3 commented on #2940
https://github.com/corda/corda/pull/3018

[2018-04-27 07:58] #2940 closed

[2018-04-27 09:45] Quiark opened #3023 "Missing PageSpecification in NodeVaultService"
With corda 3.1, don't ask how, but somehow I ended up with a cash transaction that has 201 inputs. This failed when trying to record it in the node vault because the vault query does not include a PageSpecification.

I don't have the stack trace any more but I think it's in `NodeVaultService.makeUpdates.makeUpdate:139`

[2018-04-27 10:09] joeldudleyr3 commented on #702
See https://r3-cev.atlassian.net/browse/CORDA-1392.

[2018-04-27 10:12] joeldudleyr3 commented on #3023
Yes, it looks like it would fail when doing this query if there are too many inputs:

    private fun loadStates(refs: Collection<StateRef>): Collection<StateAndRef<ContractState>> {
        return if (refs.isNotEmpty())
            queryBy<ContractState>(QueryCriteria.VaultQueryCriteria(stateRefs = refs.toList())).states
        else emptySet()
    }

[2018-04-27 10:44] joeldudleyr3 commented on #86
See https://r3-cev.atlassian.net/browse/CORDA-1394.

[2018-04-27 10:47] joeldudleyr3 commented on #3023
We cannot simply provide a max-size page specification as that can potentially lead to JVM OOM exceptions.

We need to constrain the maximum number of allowable states in a transaction. This should be tied into the Network Parameters maximum transaction size and the maximum enforced by the notary https://github.com/corda/corda/commit/7ad19af93f405ae186479b176f1ae49a5a17d790#diff-2ec1f5dbe59e94155c

[2018-04-27 10:49] joeldudleyr3 commented on #3023
See https://r3-cev.atlassian.net/browse/CORDA-1395.

[2018-04-27 11:00] joeldudleyr3 commented on #202
This is fixed as of Corda 3.1.

[2018-04-27 11:00] #202 closed

[2018-04-27 11:01] joeldudleyr3 commented on #498
This is fixed as of Corda 3.1.

[2018-04-27 11:01] #498 closed

[2018-04-27 11:02] joeldudleyr3 commented on #200
This is fixed as of Corda 3.1.

[2018-04-27 11:02] #200 closed

[2018-04-27 11:05] joeldudleyr3 commented on #162
See https://r3-cev.atlassian.net/browse/CORDA-1396.

[2018-04-27 11:05] #162 closed

[2018-04-27 11:30] joeldudleyr3 commented on #284
This is resolved as of Corda 3.1. `EmptyMap`, `SingletonMap` and `LinkedHashMap` are all whitelisted. `HashMap` is not whitelisted, for the non-determinism reasons listed above.

[2018-04-27 11:30] #284 closed

[2018-04-27 11:36] joeldudleyr3 commented on #646
@dhingra If you're still interested, reach out on the #design channel of the Corda Slack (slack.corda.net).

[2018-04-27 11:36] #646 closed

[2018-04-27 11:38] joeldudleyr3 commented on #1728
We're unable to replicate. I'll close this for now. If you're still having the issue, please upload a repo that causes the issue on your machine so that we can try and replicate.

[2018-04-27 11:38] #1728 closed

[2018-04-27 11:41] #2454 closed

[2018-04-27 12:10] joeldudleyr3 commented on #3020
See https://r3-cev.atlassian.net/browse/CORDA-1397.

[2018-04-27 12:33] joeldudleyr3 commented on #2308
See https://r3-cev.atlassian.net/browse/CORDA-1398.

[2018-04-27 12:34] joeldudleyr3 commented on #2261
See https://r3-cev.atlassian.net/browse/CORDA-860.

[2018-04-27 12:35] joeldudleyr3 commented on #2262
See https://r3-cev.atlassian.net/browse/CORDA-861.

[2018-04-27 12:36] joeldudleyr3 commented on #2224
See https://r3-cev.atlassian.net/browse/CORDA-859.

[2018-04-27 12:39] joeldudleyr3 commented on #2164
See https://r3-cev.atlassian.net/browse/CORDA-1399.

[2018-04-27 12:41] joeldudleyr3 commented on #2163
See https://r3-cev.atlassian.net/browse/CORDA-1400.

[2018-04-27 12:45] joeldudleyr3 commented on #2150
See https://r3-cev.atlassian.net/browse/CORDA-1401.

[2018-04-27 12:46] #1975 closed

[2018-04-27 12:52] joeldudleyr3 commented on #2175
The new network map hasn't been tested with IPV6, so this issue could still be around.

[2018-04-27 13:11] joeldudleyr3 commented on #2175
See https://r3-cev.atlassian.net/browse/CORDA-1402.

[2018-04-27 13:49] joeldudleyr3 commented on #1898
@benjumanji Could you give me some background on why you'd want to implement your own `VaultService`?

[2018-04-27 13:51] joeldudleyr3 commented on #568
We cannot provide any examples of this as of Corda 3.1. We'll close this and reopen if we observe the issue again.

[2018-04-27 13:51] #568 closed

[2018-04-30 11:48] joeldudleyr3 commented on #144
No longer applies as of Corda 3.1. Please re-raise if it remains an issue.

[2018-04-30 11:48] #144 closed

[2018-05-01 09:05] joeldudleyr3 commented on #702
This is affecting users. See https://stackoverflow.com/questions/49605350/does-corda-persist-java-time-data-type.

[2018-05-01 13:45] joeldudleyr3 commented on #3020
Addressed by https://github.com/corda/corda/pull/3043.

[2018-05-01 13:45] #3020 closed

[2018-05-01 14:37] shamsasari commented on #2629
https://github.com/corda/corda-gradle-plugins/pull/59

[2018-05-01 14:38] #2629 closed

[2018-05-03 10:08] shamsasari commented on #2898
https://github.com/corda/corda/pull/3066

[2018-05-03 12:08] shamsasari commented on #2898
https://github.com/corda/corda/pull/3068

[2018-05-03 12:08] #2898 closed

[2018-05-04 19:52] opticyclic opened #3082 "Where Is The TPS Test Framework?"
This article suggests corda can achieve 170 TPS
https://medium.com/corda/transactions-per-second-tps-de3fb55d60e3

I haven't even been able to get to 1% of that performance.
However, I want to determine if this is down to me writing my CorDapp inefficiently or if it is solely due to difference in hardware.
Obviously, both will have an impact.

Where is the test framework used for this publication

[2018-05-05 15:52] abishekktwm opened #3083 "Ping from one node to another"
We have a use case where often we wonder if the P2P connection between a specific pair of nodes is set correctly and if issues arise because of the inability to establish the FlowSession or some other infrastructure issue.

Having a cordaapp that can heart beat on demand for monitoring and diagnostic purposes would be very helpful.

[2018-05-06 07:05] abishekktwm commented on #3083
Found the https://github.com/corda/ping-pong

[2018-05-06 07:05] #3083 closed

[2018-05-06 17:49] benjumanji commented on #1898
Thanks for getting back to me, but I am no longer going to be using corda for anything in the near-term. To answer your question though: Initially I was looking at how to create a scaled-out node. However it has become very clear to me that extensiblility is not something that this project seems to take seriously, so I've moved on.

[2018-05-06 17:49] #1898 closed

[2018-05-08 02:49] Quiark opened #3084 "Already-running detection still deletes process-id file"
Corda node manages the `process-id` in node directory to prevent running multiple instances. But the file gets deleted on second start of the node, making the 3rd start possible.

1. start corda node. It runs normally and creates `process-id`
2. start corda node. It stops and complains that it's already running and deletes `process-id` (<-- that's where you're wrong, kiddo)
3. start corda node. It

[2018-05-08 08:36] joeldudleyr3 commented on #2807
We are currently reworking the cash app to better reflect the requirements of real-world financial institutions. @roger3cev may be able to shed some light around what we're doing around currencies in the redesign?

[2018-05-08 08:39] joeldudleyr3 commented on #2984
@kchalkias So is this a bug, or normal behaviour? It looks like we can improve that error message to suggest revoking the certificate at the least?

[2018-05-08 08:43] joeldudleyr3 opened #3085 "Corda 3.1 - Java OOM error due to excess Hibernate SessionFactoryImpl instances"
Reported on Stack Overflow (https://stackoverflow.com/questions/50228408/corda-node-getting-jvm-outofmemory-exception-when-trying-to-load-data):

**Background:**
We are trying to load data in our Custom CorDapp(Corda-3.1) using jmeter.
Our CorDapp is distributed across Six nodes(Three Parties, Two Notaries and One Oracle).
The Flow being executed in order to load data is having very minimal busine

[2018-05-08 08:44] joeldudleyr3 commented on #3085
Tracked here: https://r3-cev.atlassian.net/browse/CORDA-1454.

[2018-05-08 08:50] joeldudleyr3 commented on #3084
Thanks. Raised here: https://r3-cev.atlassian.net/browse/CORDA-1455. Can you confirm this is on Corda 3.1?

[2018-05-08 09:02] kchalkias commented on #2984
@joelsudleyr3 it depends on the Network policy, for instance, the Corda Network demands one NodeCA per node, so you need to revoke before reissuing (but this might not be enforced in other custom networks)

[2018-05-08 09:29] joeldudleyr3 commented on #2984
@abishekktwm Opened a PR to have a clearer error message: https://github.com/corda/corda/pull/3087.

[2018-05-08 09:30] #2807 closed

[2018-05-08 09:49] #3085 closed

[2018-05-08 10:00] joeldudleyr3 commented on #3085
Closed as a duplicate of https://r3-cev.atlassian.net/browse/CORDA-1411.

[2018-05-08 12:25] joeldudleyr3 commented on #2913
@siddtwm See Mike's questions above :)

[2018-05-08 12:27] joeldudleyr3 commented on #2630
@bpaunescu Is there a JIRA ticket to track this issue?

[2018-05-08 12:29] joeldudleyr3 commented on #2373
Tracked here: https://r3-cev.atlassian.net/browse/CORDA-1459.

[2018-05-08 13:17] opticyclic commented on #3082
Thanks for the clarification.

Can you provide the benchmark framework for reference so that we can duplicate the test even if we know we won't get the same performance.

I'd like to use it as a reference of my own hardware
E.g. to use stats to see if I get better value for money by upgrading memory or CPUs etc
Or if my code is the bottleneck.

[2018-05-09 01:46] Quiark commented on #3084
yes

[2018-05-09 17:43] joeldudleyr3 commented on #3023
This has now been fixed.

[2018-05-09 17:43] #3023 closed

[2018-05-10 09:41] mikehearn commented on #1898
Ah, that's too bad.

The reason we don't make the vault pluggable is that this would be major heart surgery on the node, and it'd force us to commit to an internal vault API - this would in turn restrict future upgrades to the node. Generally we are trying to provide a high level of API stability, and that in turn forces compromises in terms of what binary interfaces we commit to.

That said, if y

[2018-05-10 10:26] rick-r3 commented on #3082
We have had several requests for more detail on the benchmarking.  We do intend to publish more information, and it may well be packaged up in some way in the future to allow customers to repeat those benchmarks and to adapt it to run their own flows in a similar way.

The high level summary of what we do:  We use JMeter to drive RPC traffic at a node or nodes, in the form of flow start requests.

[2018-05-11 10:10] joeldudleyr3 commented on #3084
@Quiark Resolved :)

[2018-05-11 10:10] #3084 closed

[2018-05-11 12:52] vstoykov opened #3120 "[Docs] Hello World pt2 flow control commands is misguided"
I'm following the tutorial and when I'm reading the [code about creating a command](https://docs.corda.net/tut-two-party-flow.html) I see this:
[code]
The important part is `IOUContract.Create()`. Few lines below there is the following text:

In the code it is `IOUContract.Create()` but in the text it is described as `IOUContract.Commands.Create`. Which one is the correct one?

[2018-05-11 17:11] siddtwm commented on #2913
Yes, indeed. We only use the validating notary in our use-case. From our perspective issuance notarization has to be one of the functions validator provides - ensure that all new contract states created by participants meet our definition of state instance. This is, of course over and above the functions Corda's validating notary already has. Further, if we introduce special audit notaries, they t

[2018-05-14 09:03] joeldudleyr3 commented on #3120
@vstoykov The correct one is `IOUContract.Create` - see https://github.com/corda/corda-tut2-solution-kotlin/blob/release-V2/cordapp-contracts-states/src/main/kotlin/com/template/StatesAndContracts.kt.

I'll fix it up by editing the file here: https://github.com/corda/corda/blob/master/docs/source/tut-two-party-flow.rst, unless you want to open a PR to do it?

[2018-05-14 09:06] joeldudleyr3 opened #3132 "Apparent classpath conflict with Apache Commons Collections in 3.1"
See https://stackoverflow.com/questions/50313622/java-lang-noclassdeffounderror-org-apache-commons-collections4-map-lrumap-when.

This is on a clean clone of CorDapp Example 3.1 (https://github.com/corda/cordapp-example). The CorDapp Example uses `org.apache.commons.collections4-4.1`. This dependency was added by this commit: https://github.com/corda/corda/commit/04d8260e0fd3e68c1ffe79d761989a5b32

[2018-05-14 09:10] joeldudleyr3 commented on #3132
Being tracked here: https://r3-cev.atlassian.net/browse/CORDA-1473.

[2018-05-14 10:31] vstoykov commented on #3120
I was wondering if instead of adding `class Create` directly to `IOUContract` to tell others to rename `Action` to `Create` and then it will be `IOUContract.Commands.Create` as was originally written in the text.
I see that this will probably be some extra burden for the first tutorial but as I can see on the next tutorial [Writing a contract](https://docs.corda.net/tutorial-contract.html) the Com

[2018-05-14 11:11] joeldudleyr3 commented on #3120
@vstoykov This is being looked into by @kid101.

I think either way is fine. This has been fixed here so we'll go with not grouping them for now I think: https://github.com/corda/corda/pull/3133#pullrequestreview-119786113.

@vstoykov Thanks again for raising this :)

[2018-05-14 11:11] #3120 closed

[2018-05-14 11:55] clydedacruz commented on #3132
Just noticed ... it doesn't seem to appear with Java 1.8.0_162-b12

[2018-05-14 13:42] joeldudleyr3 commented on #2262
This has been resolved.

[2018-05-14 13:42] #2262 closed

[2018-05-14 15:59] joeldudleyr3 commented on #3132
Thanks for the information. Bugs are triaged on Tuesdays :)

[2018-05-14 21:45] arsalankhalid commented on #2984
@joeldudleyr3 you guys should leave simple issues like this open, and mark them with a good_first_bug label or something, to allow developers adopting your platform to contribute.

[2018-05-14 21:49] kchalkias commented on #2984
@abishekktwm take a look at [Network Permissioning](https://docs.corda.net/permissioning.html#network-permissioning), mainly the image depicting our cert hierarchy. Briefly, `Doorman` issues `NodeCA` certs for each node. There is only one valid `NodeCA` per node at any given time (as advertised by the Network Map).
However, **you are not signing transactions with the `NodeCA` key**; this key serve

[2018-05-14 21:55] kchalkias commented on #2984
With regards to certificate revocation, @mkit is already working on supporting and documenting the full process.

[2018-05-15 09:06] joeldudleyr3 opened #3146 "`PersistentIdentityService` second arg should be a list"
**Issue:** The constructor for `PersistentIdentityService` is as follows:

    class PersistentIdentityService(
        override val trustRoot: X509Certificate,
        vararg caCertificates: X509Certificate)

This is confusing, because the first parameter is also a certificate, but it has a different meaning to the subsequent varag of certs.

**Proposed fix:** Change the second argument to a list

[2018-05-15 09:10] joeldudleyr3 opened #3148 "Remove duplicated code between `PersistentIdentityService` and `InMemoryIdentityService`"
**Issue:** There is a **lot** of duplicated code between `PersistentIdentityService` and `InMemoryIdentityService`.

**Proposed fix:** Refactor duplicated code out into `IdentityServiceUtil`.

**Where:** https://github.com/corda/corda/tree/master/node/src/main/kotlin/net/corda/node/services/identity

[2018-05-15 09:14] joeldudleyr3 opened #3149 "Network bootstrapper should check for duplicate node names"
**Issue:** The network bootstrapper does not check for duplicate names in the `node.conf` files before bootstrapping the network.

**Proposed fix:** Check for duplicate node names in the `node.conf` files before bootstrapping the network.

**Where:** https://github.com/corda/corda/blob/master/node-api/src/main/kotlin/net/corda/nodeapi/internal/network/NetworkBootstrapper.kt

[2018-05-16 09:13] joeldudleyr3 opened #3160 "Building the node explorer fails on release-V3 branch"
If you checkout the release-v3 branch and attempt to build the explorer by following https://docs.corda.net/node-explorer.html#running-the-ui, you get the following error:

    Starting a Gradle Daemon, 2 incompatible and 2 stopped Daemons could not be reused, use --status for details

    FAILURE: Build failed with an exception.

    * What went wrong:
    A problem occurred configuring root proj

[2018-05-16 09:40] joeldudleyr3 commented on #3160
Tracked here: https://r3-cev.atlassian.net/browse/CORDA-1490.

[2018-05-16 14:14] joeldudleyr3 opened #3165 "In Demobench, Explorer does not show notary node's identity in the Network view"
**Issue:** You can reproduce this as follows:

- Start Demobench (https://www.corda.net/downloads/)
- Start a notary node
- Start the Explorer on the notary node
- Go to the Network view
- There is nothing in the `My identity` pane, and the map is not centered on the notary node

[2018-05-16 14:18] joeldudleyr3 opened #3166 "docs.corda.net needs a favicon"
**Issue:** Go to https://docs.corda.net/. The docsite does not have a favicon.

[2018-05-16 14:27] joeldudleyr3 opened #3167 "Node explorer dashboard chart needs x- and y-axis labels"
**Issue:** The chart in the `Dashboard` view of the node explorer is confusing, as it does not have an x- or y-axis labels.

To reproduce:

- Start Demobench (https://www.corda.net/downloads/)
- Start a notary node and a bank node
- Start the Explorer on the bank node
- Issue cash to yourself in the `Cash` view
- Navigate to the `Dashboard` view
- The chart does not have x- or y-axis labels

[2018-05-16 14:34] joeldudleyr3 opened #3168 "Network Simulator application doesn't have an icon"
**Issue:** Unlike the Node Explorer, the Network Simulator application doesn't have a Corda icon when run. Instead, it shows the standard java-coffee-cup icon.

Steps to reproduce:

- Run the Network Simulator tool by following the instructions here: https://docs.corda.net/network-simulator.html

[2018-05-16 14:40] joeldudleyr3 opened #3169 "Network Simulator zoom only scales map, not the nodes represented on it"
**Issue:** On MacOS, zooming onto the map in the Network Simulator tool only zooms the map, not the nodes.

Steps to reproduce:

- Launch the Network Simulator tool by following the instructions here: https://docs.corda.net/network-simulator.html.
- On the main screen, zoom the map (two-finger pinch motion on track pad)

[2018-05-16 18:56] stanly-johnson commented on #2196
I am facing the exact same issue. The example project fails to deploy nodes.

[2018-05-16 19:09] stanly-johnson commented on #3149
@joeldudleyr3 Can i work on this? Is this assigned to someone?

[2018-05-16 19:19] joeldudleyr3 commented on #3149
@stanly-johnson Hi Stanly! Nope, please go ahead :)

The contributing instructions are here: https://docs.corda.net/head/contributing.html, and don't forget to add your name here: https://github.com/corda/corda/blob/master/CONTRIBUTORS.md (real names, company names and GitHub usernames are all fine).

Drop me a message here or in slack.corda.net on the #contributing channel if you have any questio

[2018-05-17 08:12] joeldudleyr3 opened #3176 "Unclear error message when using wrong JDK version"
See https://stackoverflow.com/questions/50386425/unresolved-reference-bind-when-building-corda.

[2018-05-17 08:12] joeldudleyr3 commented on #3176
Being tracked here: https://r3-cev.atlassian.net/browse/CORDA-1495.

[2018-05-17 16:19] joeldudleyr3 opened #3181 "In flow tests, misleading result if `transaction` is forgotten"
See https://github.com/corda/cordapp-example/blob/nitesh-bug-branch/kotlin-source/src/test/kotlin/com/example/flow/IOUFlowTests.kt#L59.

Although Node C is not part of the flow, and should therefore have nothing in the vault, we see the state anyway when printing the contents of his vault.

This is because we forget to open a new transaction before checking Node C's database, so I'm guessing we're

[2018-05-17 16:20] joeldudleyr3 commented on #3181
Tracked here: https://r3-cev.atlassian.net/browse/CORDA-1500.

[2018-05-17 20:45] stanly-johnson commented on #3148
@joeldudleyr3 I'll work on this 👍

[2018-05-18 09:32] shamsasari commented on #3149
Resolved in this PR https://github.com/corda/corda/pull/3182

[2018-05-18 09:32] #3149 closed

[2018-05-18 11:55] marioschlipf opened #3188 "Recording a transaction that has already been recorded fails with an exception"
We are currently looking into upgrading our application to Corda V3.1 from Corda V2.

One of our tests where we are using the SendTransactionFlow failed with a hibernate exception.
It turned out that calling ServiceHub.recordTransaction fails if the transaction has already been recorded.

The Stacktrace looks like this:
[code]

I created a small example to reproduce the issue:

[code]

Note that I

[2018-05-20 12:15] tittuvarghese commented on #3166
Added favicon to docs.corda.net #3199

[2018-05-21 10:30] shinobis commented on #3146
Hi, I would like to work on this issue.

[2018-05-22 13:14] suihalee opened #3215 "No injection source found for a parameter @FormDataParam"
I downloaded the cordapp java-template and used default webserver. Corda version is 3.1.

The code in the API class
[code]

And I added compile "org.glassfish.jersey.media:jersey-media-multipart:2.25" in file build.gradle.
The project can be compiled, but when I runnodes, I got the following error.
Do I miss any configuration? Thanks.

[code]

[2018-05-23 08:59] joeldudleyr3 commented on #2373
Resolved.

[2018-05-23 08:59] #2373 closed

[2018-05-23 09:48] joeldudleyr3 commented on #3188
Thanks. Tracked here: https://r3-cev.atlassian.net/browse/CORDA-1525.

[2018-05-23 09:57] joeldudleyr3 commented on #3215
You cannot upload files to the default webserver. What is your aim here?

[2018-05-23 10:18] suihalee commented on #3215
By implementing the example IOU, if I would like to add a document for the transaction via web browser, what's the normal process to do?
Thanks.

[2018-05-23 10:36] joeldudleyr3 commented on #3215
With the default webserver, you can upload a JAR file by hitting the built-in `/upload/attachment/` endpoint. Here's an example:

    <form action="/upload/attachment" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input type="file" name="jar" class="form-control">
        </div>
        <br>
        <button type="submit" class="btn btn-default">Upload b

[2018-05-23 12:07] joeldudleyr3 commented on #3215
That flow is correct.

With another webserver, you'd have to upload the JAR using a CordaRPCOps proxy. You could use any URL you wanted, but the format would always have to be a JAR.

I'm not aware of any other examples currently. Can you raise a question here, and I'll take a look when I can? https://stackoverflow.com/questions/tagged/corda

[2018-05-23 13:14] #3215 closed

[2018-05-25 10:52] #3166 closed

[2018-05-28 18:46] brenden-t-r opened #3246 "References in sample project to removed "attachments" folder"
https://github.com/corda/corda/blob/78c759e2e63ddbde01177208093a0ccef2b0aa46/samples/attachment-demo/src/main/kotlin/net/corda/attachmentdemo/AttachmentDemo.kt#L147

I noticed that there is a reference to an "attachments" folder in "samples/attachment-demo". I believe this folder has been removed now that attachments are stored in the database, correct? May be worth updating the sample to clear up

[2018-05-28 19:38] #3246 closed

[2018-05-28 19:39] brenden-t-r commented on #3246
I see now--this looks like a reference to an endpoint of the built-in webserver that links to the AttachmentDownloadServlet.

[2018-05-29 12:54] mikehearn opened #3252 "Soft locking page in the docsite not findable via the toctree"
We should make sure it's inserted in the obvious places in the docs hierarchy. Right now it's only findable via search.

[2018-05-30 13:40] lankydan opened #3267 "Node names that contain commas don't work"
Using Corda V3.1

Writing a node node that contains a comma does not work since it is the delimiter character used by `X500Name`. Using a backslash "\\" didnt work, which was mentioned as a escape character in https://tools.ietf.org/html/rfc1779 (X500Name documentation refers to this rfc).

Using a backslash (double backslash) due to gradle using groovy led to a node including a backslash in its n

[2018-05-30 15:40] #2959 closed

[2018-05-31 07:29] joeldudleyr3 opened #3276 "VaultTrack returns undesired states"
**Issue:** When you use the `vaultTrack<T>` Corda RPC operation, the observable will return all the states from all the transactions that contain a state of type `T`, and not just new states of type `T`. For example, `proxy.vaultTrack(ClaimState.class)` will return all states from all transactions containing one or more `ClaimState`s, even if some of those states are not `ClaimState`s,

Proposed f

[2018-05-31 07:31] joeldudleyr3 commented on #3267
This is a known limitation. However, I am not aware of a reason why it could not be lifted.

[2018-05-31 08:16] mikehearn commented on #3267
What sort of node names need commas in them? Are you thinking of company names that have commas?

Yes, we could implement escaping everywhere, but we've tried to be restrictive when it comes to "special" characters in X.500 names because identity is so critical and such a sensitive attack surface. We're still not as tight as we should be, but, note that some rules are up to the zone operator to en

[2018-06-01 11:18] mikehearn commented on #3188
This is already fixed on master.

[2018-06-01 11:18] #3188 closed

[2018-06-04 10:31] vstoykov opened #3291 "[doc] Tutorials Writing Flows Progress tracking (flowTracker/progressTracker)"
I'm currently following Corda's tutorial and I think that there is a typo. In the [Tutorials -> Writing flows -> Progress tracking](https://docs.corda.net/flow-state-machines.html#progress-tracking) is written:

But in the example code in `TwoPartyTradeFlow.kt` instead of overriding `flowTracker` we can see the following:

    override val progressTracker = ProgressTracker(RECEIVING, VERIFYING, SI

[2018-06-05 11:53] lankydan opened #3302 "Notary throws exception about attachment that exists but doesn't actually exist on the Notary"
The following stack trace is output when a Notary validates a transaction that contains an attachment that it doesn't yet have a local copy of.
[code]
The following code is in the `ResolveTransactionsFlow` line 174:
[code]
It makes this check and goes in to execute the code, which suggests that the attachment doesn't exist on the Notary yet but later on while executing this code it ends up throwin

[2018-06-05 16:08] adagys commented on #3302
Hi Dan, thanks for reporting this, was able to reproduce it on master. Filed a bug: https://r3-cev.atlassian.net/browse/CORDA-1588

[2018-06-06 10:49] joeldudleyr3 commented on #3291
That's right. Would you like to PR a fix or should we look into it?

[2018-06-06 12:52] vstoykov commented on #3291
I can make a PR.

[2018-06-06 12:53] joeldudleyr3 commented on #3291
Awesome. Take a look at the guidelines here: https://docs.corda.net/head/contributing.html.

[2018-06-07 15:17] Bartman250 opened #3322 "Add page specification parameter to tryLockFungibleStatesForSpending"
Summary:
I exceeded the default page limit while collecting and locking fungible state tokens in the vault and got the following error:

E 14:06:34+0000 [Node thread-1] vault.NodeVaultService._queryBy - Please specify a `PageSpecification` as there are more results [201] than the default page size [200] {}
W 14:06:34+0000 [Node thread-1] flow.[c14203d7-d872-4358-854a-de90517f336d].run - Flow finis

[2018-06-08 09:21] Koshub opened #3326 "[doc] Make clear distinguish between Corda identities and RPC client users"
Not sure if this an issue at all. There is a problem I think where docs do not describe clearly that identities in Corda API (described as `Party` etc) are not related to identities of users described here as RPC client users. One should think about it for some time and read different parts of docs to make sure both identities have different domain. Although Corda docs are good I think describing

[2018-06-08 15:56] joeldudleyr3 opened #3334 "Node can register two flows initiated by the same flow without error"
A node can have all the following flows registered at once without throwing an exception:

	@InitiatingFlow
	@StartableByRPC
	class Initiator : FlowLogic<Unit>() {
	    @Suspendable
	    override fun call() {}
	}

	@InitiatedBy(Initiator::class)
	class OpenResponder(val counterpartySession: FlowSession) : FlowLogic<Unit>() {
	    @Suspendable
	    override fun call() {}
	}

	@InitiatedBy(Initiator

[2018-06-08 15:57] joeldudleyr3 commented on #3334
Being tracked as https://r3-cev.atlassian.net/browse/CORDA-1608.

[2018-06-09 12:33] #3291 closed

[2018-06-10 10:50] lankydan commented on #3276
im looking at this.

[2018-06-11 10:56] marko-mets-gt opened #3340 "[doc] Accessing StartedMockNode internals"
https://docs.corda.net/api-testing.html#accessing-startedmocknode-internals
Documentation says that `StartedMockNode`'s database can be accessed like this:
[code]
In reality `database` field is not exposed through `StartedMockNode`.

[2018-06-11 10:59] adagys commented on #3302
Could you verify if https://github.com/corda/corda/pull/3327 fixes the problem?

[2018-06-11 13:14] marko-mets-gt commented on #3340
Fixed in master

[2018-06-11 13:14] #3340 closed

[2018-06-11 13:31] joeldudleyr3 commented on #3276
Addressed by https://github.com/corda/corda/pull/3336#issuecomment-396242296.

[2018-06-11 13:31] #3276 closed

[2018-06-12 19:43] lankydan commented on #3148
has this been done? If not, I can have a look at it.

[2018-06-13 07:36] joeldudleyr3 commented on #3188
Sorry Marko, never got back to you. @rick-r3, do you know which PR fixed this on master?

[2018-06-13 07:58] rick-r3 commented on #3188
a24a2105b193b999804a5bd5e2f38ae7fe18b7e8

I think this commit made the difference because we discovered Guava was broken, but I haven't verified it in isolation.

[2018-06-13 09:14] joeldudleyr3 commented on #3148
I don't think so - go ahead :) @stanly-johnson - let us know if you're still working on this

[2018-06-13 13:03] stanly-johnson commented on #3148
No, it's not done. @lankydan go ahead :)

[2018-06-14 01:30] cxyzhang0 opened #3364 "com.microsoft.sqlserver.jdbc.SQLServerException: A TOP N or FETCH rowcount value may not be negative."
Hi @josecoll,
  I got the above exception when connecting to MSSQL and running a simple vault query (such as /api/yo/yos).  That happens to both release-V3.1 and the 4.0-SNAPSHOT.  Looks like hibernate pagination for MSSQL adds a TOP (?) clause which is given a negative value due to
query.firstResult = (paging.pageNumber - 1) * paging.pageSize in the _queryBy function in NodeVaultService.kt.  The

[2018-06-14 15:36] bret540 opened #3378 "Node configuration logging exposes secrets"
Currently in ConfigUtilities.kt an info logging statement (line 38 in 3.1) spits out the entire node configuration which can contain secrets.  This is bad for enterprise as logs are routinely scrapped and analyzed for leaks that could expose entry points for hackers (especially if logs are being sent to cloud providers).

A few options that come to mind:

1)  Remove all secrets in node configurati

[2018-06-14 17:22] josecoll commented on #3364
@szymonsztuka Please can you take a look at this issue and verify whether it causes a problem in Corda Enterprise.

@cxyzhang0 We do not officially support SQL Server in Open Source but feel free to raise a PR and address your problem above (as long as it doesn't have any side-effects on H2 and PostrgreSQL, which are officially supported in OS).
And thanks for highlighting the issue.

[2018-06-15 06:29] DikshikaJain commented on #1304
is this issue fixed?

[2018-06-18 15:15] joeldudleyr3 commented on #3168
@Sphar-io I believe that's just the removal of a sample that uses the simulator. The simulator is still there: https://docs.corda.net/head/network-simulator.html.

[2018-06-18 16:35] #3169 closed

[2018-06-18 16:35] #3168 closed

[2018-06-26 12:21] dazraf opened #3442 "NetworkMapClient throws a NullPointerException when trying to publish a NodeInfo where party has been registered before with a different public key"
The `NetworkMap` [specification](https://docs.corda.net/network-map.html) does not state the expected behaviour when a node attempts to publish its `NodeInfo` in the case where its Party name has already been published with a _different_ public key.

Technically the NM should reject a publication request under these circumstances as it could be an impersonation attack or a misconfigured node.

Cur

[2018-06-26 12:40] joeldudleyr3 commented on #3442
Tracked here: https://github.com/corda/corda/issues/3442.

[2018-06-28 08:43] Hart199 commented on #2971
actually shall we used non-validate Notary, Strong validate of received contract code and flow business logic should be avoid this attack?

[2018-06-28 11:06] joeldudleyr3 commented on #3326
Thanks @Koshub, sorry I didn't get to this earlier. Could you point to the specific places where the docs are confusing?

[2018-06-28 11:57] mikehearn commented on #3378
I think this was changed already. Now it only prints out the config file in devMode (see NodeStartup.kt:90). But this change hasn't been released yet - it's on master.

[2018-06-28 11:57] #3378 closed

[2018-06-28 21:16] Koshub commented on #3326
@joeldudleyr3 Thank you for response. There is no specific place. The idea of issue is the absence of this, not about some definite description in docs. I suggest just append docs with "distinguish" description, for example, at the beggining where identities are described. I think it will give more clearity at the start of docs reading

[2018-06-29 15:31] joeldudleyr3 commented on #3326
@Koshub Let me know if this fixes it: https://github.com/corda/corda/pull/3480.

[2018-06-30 09:57] Koshub commented on #3326
@joeldudleyr3 Yep, now it is more clear, I think. Thank you.

[2018-07-02 08:30] nikitin01 opened #3482 "Corda stops persisting PersistentState in db after ConstraintViolationException"
If I get ConstraintViolationException when corda is saving PersistentState to db due to @Column(unique =true), transaction does not rollback and commits with new LinearState. And then corda stops saving PersistentState at all and other transactions with LinearStates just commit without exceptions. Is it a known issue?

[2018-07-05 08:15] lankydan opened #3520 "PageSpecification is not taken into account with VaultCustomQueryCriteria"
version: 3.1 OS

The following code does not take into account the `PageSpecification` that has been included as part of the query. `proxy` is a `CordaRPCOps` instance.
[code]
This is causing it to fail due to the number of result returned, where it then asks for a page spec to be added...

If the following code is written instead
[code]
The `PageSpecification` is taken into account and limits the

[2018-07-05 12:13] lankydan opened #3522 "IdentitySyncFlow.Send primary constructor requires a ProgressTracker but the secondary constructor does not"
version: 3.1 OS

The `IdentitySyncFlow.Send` class consists of `Set<FlowSession>`, `WireTransaction` and a `ProgressTracker`. The main constructor requires all these values be set.

The secondary constructor on the other hand, only requires a single `FlowSession` and a `WireTransaction`. The session is converted to a set and a default `ProgressTracker` is created.

Should the main constructor have

[2018-07-05 12:46] joeldudleyr3 commented on #3522
That sounds like a good idea. After adding a default value for the main constructor's `tracker` property, you would also want to add the `@JvmOverloads` annotation so that the constructor with a default value could be used from Java.

Would you be interested in adding this?

[2018-07-05 12:47] joeldudleyr3 commented on #3520
Thanks Dan. Tracked as https://r3-cev.atlassian.net/browse/CORDA-1736.

[2018-07-05 12:48] lankydan commented on #3522
can do, or can be marked as good first issue i guess. Very easy change 👍

[2018-07-05 12:49] joeldudleyr3 commented on #3522
Yeah, maybe we can leave it to a first-timer :)

[2018-07-05 12:51] lankydan commented on #3522
ill pick it up if no1 has done it within the next week or so 😛

[2018-07-05 13:43] joeldudleyr3 commented on #3522
Find a colleague who knows a bit about Corda and make them do it 😄

[2018-07-05 14:47] nsubscribe2307 commented on #3522
I would like to work on this one. This will be my first time contributing to a public repo. How do I get it asssigned to me ?

[2018-07-05 15:08] nelaturuk commented on #3522
I would like to work on this one. This will be my first time contributing to a public repo. How do I get it asssigned to me ?

[2018-07-05 15:22] joeldudleyr3 commented on #3522
It's assigned to you. Let us know if you need help.

[2018-07-05 17:20] nelaturuk commented on #3522
Great thanks.

[2018-07-06 12:48] remmeier opened #3529 "corda-example crashes on startup"
not all, but usually one or two:

[code]

[2018-07-09 09:03] ivanr3 opened #3531 "Include custom serialisers for java.util.Optional and java.math.BigInteger into Corda"
Corda doesn't include custom serialisers for java.util.Optional and java.math.BigInteger. This causes any serialisation attempt fail by default, if no custom serialisers have been provided by developers. Including serialisers for these popular datatypes into Corda will improve user experience and smoother v2->v3 upgrading process.

[2018-07-09 09:14] ivanr3 opened #3532 "Improve an exception message for custom-serialiser-not-found cases"
If some datatype doesn't expose a public constructor and no custom serialiser is provided, Corda fails with the following message, which is hardly interpretable (for example java.util.Optional):

[code]
Would be great to have a serialisation error messages to clearly hint developers onto what exactly went wrong:
* if a class is not `@CordaSerialisable` / serialisation whitelisted
* if a class is n

[2018-07-09 11:07] joeldudleyr3 commented on #3529
This message is harmless. From Corda 4 onwards, we will swallow this error message.

[2018-07-09 11:07] #3529 closed

[2018-07-09 11:08] joeldudleyr3 commented on #3482
Tracked here: https://r3-cev.atlassian.net/browse/CORDA-1742.

[2018-07-10 07:36] #3148 closed

[2018-07-10 07:50] lankydan commented on #3334
I could try this one. Unless we should leave it for someone else?

[2018-07-10 08:14] joeldudleyr3 commented on #3334
No, please go ahead 🙂

[2018-07-12 19:31] #3522 closed

[2018-07-14 11:53] suihalee opened #3609 "Any doorman instruction and example?"
According to the document in Corda 3.1, there is a doorman in the network. Where can I find the instruction for setting up the doorman and any example?

[2018-07-16 14:22] lankydan commented on #3520
mmm after playing around with this again, it seems to be working. Not sure if I've subtly changed some of my code or if I my code somehow didnt compile in my changes at the time... No matter what I do I cant replicate it again.

[2018-07-17 09:43] joeldudleyr3 commented on #3167
Thanks, fixed 🙂

[2018-07-17 09:43] #3167 closed

[2018-07-17 14:19] remmeier opened #3637 "Support deletion of data/states"
There are likely many use cases (such as regulatory requirements) that makes it mandatory to delete data on some or all nodes. So far there is no API for this as far as I have seen. I suspect there could be many different incarnations of it:

- move sensitive data to attachments or somewhere off-ledger and only delete those parts.
- delete entire states (and states depending on them)
- partially d

[2018-07-18 08:23] remmeier opened #3640 "node explorer fails to run due to proguard"
I attempted to run the node explorer with:
[code]

But run into issues:

[code]

Obviously those can be fixed. But maybe it would be worthwhile to not make use of proguard in the first place? as it seems not that sensitive/useful to obfuscate and minimize a developer tool?

On a side node, it would be good to clarify the docs that one has to checkout the corda sources for it to run. Or maybe publi

[2018-07-18 09:21] #3520 closed

[2018-07-18 09:23] joeldudleyr3 commented on #3532
@ivanr3 Can you raise a bug on the JIRA board so that this is picked up in bug triage: https://r3-cev.atlassian.net/projects/CORDA/issues/CORDA-601?filter=allopenissues?

[2018-07-18 09:31] joeldudleyr3 commented on #3637
Unfortunately, this isn't the place for feature requests either. Take a look at https://stackoverflow.com/questions/50581600/how-to-handle-large-vault-size-in-corda/50699639#50699639. If you have a more specific question about what's possible currently, ask on Stack Overflow. If you want to start a design discussion about a new feature, ask a question on https://groups.io/g/corda-dev.

[2018-07-18 09:48] joeldudleyr3 commented on #3640
We use ProGuard to make certain Corda modules deterministic. However, these modules shouldn't be involved in building the explorer. Can you confirm which Java version you're running, and post more of the stacktrace, please?

[2018-07-18 13:02] marioschlipf opened #3646 "Cannot use TestIdentities with same organization name in net.corda.testing.driver.Driver"
We are using Corda's net.corda.testing.driver.Driver to write integration tests for RPC calls to Corda.

A simple driver setup looks as follows, similar to how it is done in the docs (https://docs.corda.net/tutorial-clientrpc-api.html):

[code]

This code will throw an exception with the following error (shortened):

We had a hard time debugging this error until we found out that the issue was tha

[2018-07-18 13:44] remmeier commented on #3640
right, it happens already in the buildSrc (jarfilter). I have tested with Java 8 161 and 181 (the newest one) on Windows 10.

[code]

[2018-07-18 15:40] joeldudleyr3 opened #3649 "Exception when uploading large attachment: Missing validated user from the Artemis message"
In Corda 3.1 OS, when trying to upload a large attachment to the node (100MBs+), I receive the following error message:

	Wed Jul 18 16:24:11 BST 2018>>> E 16:24:52+0100 [Thread-0 (ActiveMQ-client-global-threads)] core.client.run - AMQ214000: Failed to call onMessage {actor_id=user1, actor_owningIdentity=O=George State Bank, L=New York, C=US, actor_store_id=NODE_CONFIG, invocation_id=7a5455bc-b2b8

[2018-07-18 15:50] kid101 commented on #3649
Mainly because Artemis needs to update to version 2.5 or above which I can see in the master. though 3.2 seems to come out with 2.2

[2018-07-19 09:08] joeldudleyr3 opened #3652 "Broadcasting an old transaction will cause 2 unconsumed states"
See https://stackoverflow.com/questions/51414594/broadcasting-an-old-transaction-will-cause-2-unconsumed-states.

[2018-07-19 09:10] joeldudleyr3 commented on #3652
Tracked here: https://r3-cev.atlassian.net/browse/CORDA-1828.

[2018-07-19 10:03] chrisr3 commented on #3640
This implies that the following lines are failing:
[code]
Can you check that `tools.jar` is present please? Note that the `java.home` property is expected to be
[code]
so that `tools.jar` would be located at
[code]

[2018-07-19 23:29] chrisr3 commented on #3640
You can also refresh your Corda repository, because I have just completed migrating the JarFilter into `corda-gradle-plugins`. (JarFilter can't break your build if it's not there ... :wink:). But I'd still like to understand the problem here anyway.

[2018-07-20 17:39] vatsu commented on #3652
+1

[2018-07-22 00:58] dhingra commented on #3165
@joeldudleyr3  Looks like this is not an issue anymore? _My identity_  pane rendering information now.

![image](https://user-images.githubusercontent.com/7157372/43041257-bf51f43c-8d28-11e8-8186-91079cb38613.png)

[2018-07-23 08:09] joeldudleyr3 commented on #3165
@dhingra Thanks for flagging.

[2018-07-23 08:09] #3165 closed

[2018-07-23 10:39] joeldudleyr3 commented on #3646
Thanks. Flagged here: https://r3-cev.atlassian.net/browse/CORDA-1837.

[2018-07-24 14:00] lankydan opened #3681 "Corda 3.2 missing Jackson deserialisation of SecureHash"
Corda 3.2 seems to be missing Jackson deserialisation for `SecureHash`. `SecureHash.SHA256` does have serialisation and deserialisation but that does not seem to be the base for `SecureHash`.

Corda 3.1 did have serialisation / deserialisation for `SecureHash`.

Currently I have resolved my issue by adding the following custom Mixin.
[code]
This is a copy and paste from `CordaModules`'s `SecureHas

[2018-07-24 15:23] joeldudleyr3 commented on #3681
Thanks. Tracked as https://r3-cev.atlassian.net/browse/CORDA-1846.

[2018-07-24 16:06] jamesbr3 commented on #2308
Is this possible already with `extraConfig` setting?

[code]

[2018-07-24 16:06] joeldudleyr3 commented on #2308
Thanks @jamesbr3, will give it a go :)

[2018-07-24 16:42] joeldudleyr3 commented on #2308
This can actually be done as follows:

[code]

[2018-07-24 16:42] #2308 closed

[2018-07-25 11:56] remmeier commented on #3640
right, thx. JAVA_HOME is missing. Maybe its presence should be checked in Gradle for dummy users like me. Or the Java distribution Gradle is using can be used (https://stackoverflow.com/questions/36273810/how-to-access-java-home-being-used-by-gradle).

[2018-07-25 11:56] #3640 closed

[2018-07-25 12:01] chrisr3 commented on #3640
Gradle is using Java's `java.home` system property, not the `%JAVA_HOME%` environment variable, i.e.
[code]
Does your JDK contain `tools.jar`?

[2018-07-26 09:41] joeldudleyr3 opened #3695 "Serialisation exception when notarising transaction"
The following exception occurs when notarising a transaction in Corda OS 3.1. More details available upon request.

[code]

[2018-07-26 17:23] joeldudleyr3 commented on #3695
@fenryka Confirmed - this was due to a missing CorDapp JAR on a validating notary. Is there anything we can do about that error message, or should I close this out?

[2018-07-26 20:46] cribeiro23 opened #3702 "Custom CorDapps not loading properly into the Demobench"
I'm trying to use my CorDapp with the Demobench, so I built the jar file using gradlew jar then loaded the jar into the demobench, However, when I launch some nodes, even though my app shows in the list of "Loaded CorDapps", the shell does not recognize my flows and I can't really do anything. My flows do not appear when I run "flow list". I can use my app using "runnodes.bat" so I think the issue

[2018-07-27 08:49] joeldudleyr3 commented on #3702
Thanks for reporting. I've raised an issue on our internal JIRA here: https://r3-cev.atlassian.net/browse/CORDA-1852.

[2018-07-27 08:52] joeldudleyr3 opened #3703 "Public key interfaces being converted during conversion to wire transaction"
In Corda 3.2:

1. Create a state includes a public key field of type Sun EC
2. Create an instance of this state and add it to a transaction builder
3. Convert the transaction builder to a wire transaction
4. Public key field in the state is now of type Bouncy Castle EC

See here to repro: https://github.com/fguttridge/corda_publickey_problem_repro/blob/master/cordapp/src/test/kotlin/com/template/C

[2018-07-27 08:53] joeldudleyr3 commented on #3703
Thanks Francis. Raised as a bug ticket here: https://r3-cev.atlassian.net/browse/CORDA-1853.

[2018-07-27 18:46] cribeiro23 commented on #3702
Might be worth noting that this does not happen with all apps... the ObligationCorDapp, for example, seems to load properly

[2018-07-29 09:56] lankydan commented on #3334
PR [https://github.com/corda/corda/pull/3713](https://github.com/corda/corda/pull/3713) created for this

[2018-07-29 10:10] lankydan commented on #3681
looking at the code in master it looks like this has already been fixed in commit -> CORDA-1383: Cleaned up the JSON format of WireTransaction and SignedTransaction (#3248)

[2018-07-29 10:46] Alex-Koller opened #3714 "Vault query fails to find a state if it extends from class"
Hi

My state (S) extends from class (C), which in turn implements interface (I).

I.e. S -> C -> I

If I use this query:

`vaultService.queryBy<I>()`

Where "I" is my interface the query will *not* return state S, although it exists in the vault. I believe the problem is in the method _deriveContractInterfaces_ in class NodeVaultService, which should perhaps traverse up in the hierarchy, not just

[2018-07-29 17:03] lankydan commented on #3714
Just jumping in here. Not sure how easy/possible this would be to do. The `vault_states` table saves the immediate type of a state when saving to the database. The query searches for records in the table which match the type passed into the query. To pass in an interface instead, would require the classpath to be scanned for the types that implement an interface or extend a class.

At the end of t

[2018-07-29 18:33] Alex-Koller commented on #3714
Given that when I take the class C out of the picture and have S implement I the query works as expected, and looking at the underlying code, I think the query is *intended* to work when interfaces are passed in. And I'm finding it quite useful. But it only works when the state in question implements the interface immediately, without anything in between. And that I'm not so sure is intended behav

[2018-07-29 18:42] lankydan commented on #3714
ah, cool. I missed that, after looking at the code a bit more it looks like you right. The implementation already does some of what I mentioned earlier but does look like it only uses the interfaces like you described.

Maybe something can be done about it then 👍

[2018-07-29 21:58] lankydan commented on #3646
im on the case 👮

[2018-07-30 08:32] joeldudleyr3 commented on #3714
Thanks. Raised as an issue here: https://r3-cev.atlassian.net/browse/CORDA-1858.

[2018-07-30 08:33] joeldudleyr3 commented on #3681
Thanks :)

[2018-07-30 08:33] #3681 closed

[2018-07-30 14:11] josecoll commented on #3714
@Alex-Koller I'm not sure I can reproduce your problem exactly as you have explained it.

[code]
Upon recording a single State of type `MyState`, I note the following query outcome:
- using the child class ``vaultService.queryBy<MyState>(criteria)`` succeeds
- using the parent class ``vaultService.queryBy<BaseState>(criteria)`` fails   (**this should succeed and is indeed a bug**)
- using the inte

[2018-07-30 14:29] Alex-Koller commented on #3714
Hi, thanks for the quick turnaround. If I'm not mistaken querying by ContractState is treated specifically in the code. Try instead of ContractState implement a custom Interface first. In my example I had:

`interface InterestRateDerivative : LinearState`

 `abstract class State() : InterestRateDerivative {
 }`

 `data class CapState() : State {
  }`

This, of course, won't compile due to missing

[2018-07-30 20:47] Sphar-io opened #3725 "Cannot use default ProgressTracker when overriding SignTransactionFlow from Java"
On Corda 3.2, I am writing a Java flow, and overriding both `CollectSignaturesFlow` and `SignTransactionFlow`.

When I call the `CollectSignaturesFlow` constructor, I do not have to provide a `ProgressTracker` argument - the `@JvmOverloads` annotation means the default parameter value will be used.

Similarly, `SignTransactionFlow` has a default parameter for a ProgressTracker. However, its constr

[2018-07-31 09:52] joeldudleyr3 commented on #3702
@cribeiro23 Do you have an example of a CorDapp that doesn't load?

[2018-07-31 10:12] joeldudleyr3 commented on #3725
Thanks :) Can you open a PR to add it?

[2018-07-31 16:18] josecoll commented on #3714
Addressed in PR https://github.com/corda/corda/pull/3722

[2018-07-31 16:18] josecoll commented on #3714
@Alex-Koller please confirm the fix works for you. Thanks.

[2018-07-31 17:04] cribeiro23 commented on #3702
Yeah, I can share my CorDapp with you through slack, but this one https://github.com/corda/negotiation-cordapp is also not loading properly (like I said it shows up as loaded but flows are not recognized)

[2018-08-01 10:59] joeldudleyr3 commented on #3334
Fixed. Thanks Dan!

[2018-08-01 16:27] joeldudleyr3 opened #3738 "Defining multiple schemas/multiple entities in a single schema does not work"
If you create multiple entities in the same `MappedSchema`, the node only stores the state data in the first table:

[code]

In the same way, if you define multiple schemas for the same state, the node only stores the state data in the first table:

[code]

[2018-08-01 16:28] joeldudleyr3 commented on #3738
Tracked here: https://r3-cev.atlassian.net/browse/CORDA-1867.

[2018-08-01 22:06] #3725 closed

[2018-08-03 08:57] lankydan commented on #3646
PR [https://github.com/corda/corda/pull/3740](https://github.com/corda/corda/pull/3740) created

[2018-08-03 10:59] joeldudleyr3 opened #3741 "If flow throws exception, waitQuiescent hangs on 3.2"
Run this test: https://github.com/corda/obligation-cordapp/blob/joel-repro-bug/kotlin-source/src/test/kotlin/net/corda/examples/obligation/flows/IssueObligationTests.kt#L13.

The test hangs forever after the flow throws an exception.

[2018-08-04 08:57] lankydan commented on #3482
I'll pick this up when i can

[2018-08-04 12:27] #3646 closed

[2018-08-04 15:33] trferreira-BR opened #3742 "MappedSchema doesn't throw an exception when it occurs and FinalityFlow has been executing for ever a transaction without have an answer"
Hi guys,

**Description:** I figured out a problem related to exception treatment in Corda . If a schema has a atribute java.sql.TimeStamp and during a parse from java.time.LocalDate to java.sql.TimeStamp in generateMappedObject() : PersistentState, It occurs an exception, the transaction stops forever after a Flow calls `subFlow(FinalityFlow(signedTx))`

So, It is a problem caused by mistake from

[2018-08-05 08:48] dazraf opened #3743 "Driver DSL fails to form a connection with a notary"
When using the Driver DSL on my MacBook Pro 2017  16GB 3.1 GHz Intel Core i7, it fails to carry out a simple Cash payment.

I've created a sample project that exhibits the issue with instructions and key segment of the log:

https://github.com/dazraf/cordapp-template-kotlin

During the cash payment, this is the output of the log:

[code]

[2018-08-05 19:01] dazraf commented on #3743
Tudor helped me today to debug this issue, comparing to his laptop. We didn't get to the heart of it but progressed much further (thanks Tudor!) Notably:

1. The notary logs show the artemis server starting but the client is unable to connect

[code]

2. His logs show:

[code]

whilst mine show

[code]

3. comparing our `/etc/hosts`

his:

[code]

whilst mine

[code]

I tried altering mine to:

[c

[2018-08-05 19:12] dazraf commented on #3743
I think IntelliJ may be the culprit. With it cleanly restarted with no projects loaded:

[code]

[2018-08-05 19:27] dazraf commented on #3743
so the reason was that the YourKit shipped with Intellij ultimate runs by default on port 10001.

I located the config using:
https://intellij-support.jetbrains.com/hc/en-us/articles/207241235

and altered it to use a different port as per:
https://stackoverflow.com/questions/13345986/intellij-idea-using-10001-port

here's my new config line:
`-agentlib:yjpagent=delay=10000,probe_disable=*,port=30

[2018-08-06 08:13] #3326 closed

[2018-08-06 08:30] rsbeckerca opened #3744 "Trader-demo has compatibility issues with Gradle 4.9 and hangs in both runBank and runSeller."
When running runBank, the operation seems to function correctly up to 99% at which point the sample hangs. Snippet of the log at that point is:
[code]

On the runSeller, we get a Build Failed as follows, even though some activity occurred. Flow trace shows:
[code]
While the runSeller window shows:
[code]

This is done on Windows with JDK 1.8.0.171, with Gradle-4.9 downloaded today (Aug 6). I apolo

[2018-08-06 09:12] tudor-malene commented on #3743
The exception was really unhelpful.
One would expect a completely different exception when a port is taken.

It looks like the client is trying to connect before the broker is started, and it fails badly because it doesn't encounter the exception it's expecting.

@tlil , wdyt?

[2018-08-06 15:03] tlil commented on #3743
@tudor-malene Yes, agree. I'll make a note of this to make sure we improve the error reporting.

[2018-08-06 16:46] rsbeckerca commented on #3744
This was likely my bad. Trying to run outside of IntelliJ had different results from inside. When inside, the trader-demo ran just fine. I'm suspecting environmental issues. Will resolve when on Linux instead of Windows which is the actual target.

[2018-08-06 16:46] #3744 closed

[2018-08-07 09:08] joeldudleyr3 commented on #3742
Thanks Thiago. Tracked here: https://r3-cev.atlassian.net/browse/CORDA-1881.

[2018-08-07 09:13] joeldudleyr3 opened #3751 "`java.lang.NullPointerException: null` when suspending despite `@Suspendable`"
See https://github.com/corda/cordapp-example/tree/joel-bug-branch.

The flow is defined in Java as follows:

[code]

Running it (e.g. by running the flow tests here: https://github.com/corda/cordapp-example/blob/joel-bug-branch/java-source/src/test/java/com/example/flow/IOUFlowTests.java) gives the following exception:

[code]

[2018-08-07 18:42] manishchainThat commented on #3751
From error log ,I believe there is no transaction involved in this flow.I think

[2018-08-08 15:20] vu3mmg opened #3757 "Asset disappears when a participants are removed"
**Parties in the business. .**
Parties A , B,C ,D

Initially an asset is created with a flow from  PARTY A and Party B
Later Party C is added as a participant .
Now Party C commits a txn with  Party D for the above asset , for this Party A and Party B are removed from participant list .

**Issues**

Once the flow from Party C to D is over , if Party A and Party B  queries the asset from vault with

[2018-08-08 16:36] joeldudleyr3 commented on #3751
See https://r3-cev.atlassian.net/browse/CORDA-1882.

[2018-08-08 17:54] manishchainThat commented on #3751
see this for the solution :
https://stackoverflow.com/questions/50638968/in-corda-unexpected-task-state-when-running-a-flow?rq=1

[2018-08-09 17:27] josecoll commented on #3738
The above code snippets are not showing what schemas you  have actually registered with the associated contract state.
In the `Queryable` interface you need to override the `supportedSchemas` function appropriately.
eg.
`override fun supportedSchemas(): Iterable<MappedSchema> = listOf(IOUSchemaV1, IOUSchemaV2)`

The schema declaration itself is incorrect as you cannot map the same schema object mo

[2018-08-09 17:43] joeldudleyr3 commented on #3738
@josecoll That’s what I tried in the second snippet of my issue, but still no luck.

[2018-08-10 08:51] #3738 closed

[2018-08-10 08:51] joeldudleyr3 commented on #3738
Thanks :)

[2018-08-10 09:32] joeldudleyr3 opened #3767 "Ungraceful shutdown and no documentation of limitations when migrating from H2 to Enterprise DBs"
As Kevin Peterson reported on PubSlack:

We should document these gotchas and fail gracefully.

[2018-08-10 09:33] joeldudleyr3 commented on #3767
See https://r3-cev.atlassian.net/browse/CORDA-1890.

[2018-08-10 09:41] joeldudleyr3 opened #3768 "NodeVaultService.loadStates queries without a PageSpecification, leading to issues with large txs"
See https://stackoverflow.com/questions/51781276. Replicated here: https://github.com/adrian-soon/obligation-cordapp/blob/finality-pagination/kotlin-source/src/test/kotlin/net/corda/examples/obligation/flows/ManyObligationsTests.kt.

[2018-08-10 09:42] joeldudleyr3 commented on #3768
Tracked here: https://github.com/corda/corda/issues/3768.

[2018-08-10 11:12] joeldudleyr3 opened #3769 "If a node has two flows, where one's name is a longer version of the other's, they cannot be started"
In Corda 3.2, define two flows on a node:

* `com.template.Initiator`
* `com.template.Initiator2`

When trying to run the first flow from the node shell, you get:

[2018-08-10 11:14] joeldudleyr3 commented on #3769
Tracked here: https://r3-cev.atlassian.net/browse/CORDA-1892.

[2018-08-10 11:18] joeldudleyr3 commented on #3768
Cannot replicate. Closing for now.

[2018-08-10 11:21] joeldudleyr3 opened #3770 "If two outputs in a transaction are equal, none are stored"
In the code below, because all the `TemplateState`s are equal, only one is stored:

[code]

[2018-08-12 09:05] remmeier opened #3772 "Improve startup exception/log handling"
Using current master branch (4.0 snapshot)

Various exceptions on startup currently get suppressed, even if DEBUG log level is enabled from the command line. For example:

[code]
The command line parameters are `--log-to-console` and  `--logging-level=DEBUG`.
After those two lines, no further lines are provided.

An other example would when setting the H2 address to 0.0.0.0 while omitting to set a

[2018-08-13 10:15] #3743 closed

[2018-08-13 10:16] #1327 closed

[2018-08-13 10:16] joeldudleyr3 commented on #3252
Fixed in master docs.

[2018-08-13 10:16] #3252 closed

[2018-08-13 16:05] joeldudleyr3 commented on #3772
Thanks. Tracked here: https://r3-cev.atlassian.net/browse/CORDA-1897.

[2018-08-15 01:32] Hart199 opened #3786 "improve attachment download the characters format"
With utf-8 support for language internationalization, format non-uniform characters by showing to user nation.
User uploads the attachment with nation language to use Corda web-API,  but that has in-correct code format.

I get 403 error to pull request the code as adding a line code in DataUploadServlet class.

code:
upload.headerEncoding = "UTF-8"

[2018-08-15 10:50] joeldudleyr3 commented on #3768
Fixed in master.

[2018-08-15 10:50] #3768 closed

[2018-08-16 10:05] josecoll commented on #3770
How are you testing this flow? and validating the vault afterwards?

[2018-08-16 10:13] roger3cev commented on #3770
Was thinking about this... We should only persist one version of the full state, right? However, we should point to it multipel times?

[2018-08-16 10:25] joeldudleyr3 commented on #3770
No, every transaction I think. But every state in a tx can be differentiated by its output index.

[2018-08-16 10:46] josecoll commented on #3770
Doh! of course, we do that already with Cash.
eg. you can issue 1000 1.DOLLAR states in a single transaction and they all look the same.
The only difference is the `StateRef` will have a difference `output_index` for each one (same `txnId`)..

[2018-08-16 11:05] joeldudleyr3 commented on #3770
Cannot replicate. Probably my mistake. Closing for now.

[2018-08-16 11:05] #3770 closed

[2018-08-16 11:06] joeldudleyr3 commented on #3786
@Hart199 I don't understand what you're proposing. Are you saying you want to modify the Corda Webserver code to have a header to accept UTF-8?

[2018-08-17 09:12] joeldudleyr3 commented on #3169
The Network Simulator has been retired,

[2018-08-17 09:16] joeldudleyr3 opened #3796 "Add the ability to search for identity names in the Node Explorer"
The [Node Explorer](https://github.com/corda/corda/tree/master/tools/explorer) should have the ability to search for counterparties by name in the `Network` pane.

Tracked in JIRA here: https://r3-cev.atlassian.net/browse/CORDA-1831.

[2018-08-17 09:20] joeldudleyr3 opened #3797 "RPC client throws misleading exceptions if misconfigured to connect to H2 port"
If an RPC client is incorrectly configured to use the node's H2 address to connect to the node, when trying to connect, Artemis prints pages and pages of exceptions that don't indicate that the wrong address is being used. Eventually an error about not receiving cluster topology is printed, which indicates that there broker is not reachable. However, it can be easily overlooked due to the previous

[2018-08-17 09:26] joeldudleyr3 opened #3799 "Inaccuracy in docs for creating nodes with Docker"
See https://docs.corda.net/head/generating-a-node.html. It refers to a `deployNodes` task of type Dockerform in the IRS Demo. The task is actually called `prepareDockerNodes`.

Tracked in JIRA here: https://r3-cev.atlassian.net/browse/CORDA-1646.

[2018-08-17 09:33] joeldudleyr3 opened #3800 "In Demobench, saving a profile, opening it, and adding a node skips next name"
There is a standard ordering of default names for nodes started in DemoBench (Notary, Bank of Breakfast Tea, Bank of Big Apples...).

However, if you do the following:

1. Start DemoBench
2. Start Notary
3. Start Bank Of Breakfast Tea
4. Save profile
5. Open that profile

When you next click add node, instead of suggesting Bank Of Big Apples, it wants to create Bank Of Fondue.

Tracked in JIRA her

[2018-08-17 09:36] joeldudley opened #3801 "Explorer from Demobench on Notary node: no `myIdentity` in `Network` view"
1. Start Demobench
2. From DemoBench, run the Explorer from the Notary node
3. Go to the `Network` view
4. There is nothing in `My identity` pane, and the map isn't centered on the node.

Tracked in JIRA here: https://r3-cev.atlassian.net/browse/CORDA-1479.

[2018-08-17 09:37] joeldudleyr3 opened #3802 "Node Explorer: UI freezes whilst attempting invalid login"
The Node Explorer login windows freezes up when an invalid login is attempted, essentially blocking whilst waiting for a connection timeout.

This only means that the Node Explorer is blocked for 10 seconds whilst trying to connect to a wrong address/port.

Tracked in JIRA here: https://r3-cev.atlassian.net/browse/CORDA-1770.

[2018-08-17 10:01] #3160 closed

[2018-08-17 10:02] #3302 closed

[2018-08-17 10:09] joeldudleyr3 opened #3803 "FR: Check Java version on node start-up and abort if unsupported"
Corda only supports Oracle JDK 8 JVM, with a minimum supported version of 8u171 (see https://docs.corda.net/getting-set-up.html#software-requirements).

However, no check is currently performed at start-up, and using the wrong Java version often leads to opaque error messages.

The Java version should be checked when the node starts up.

[2018-08-17 10:15] joeldudleyr3 opened #3804 "FR: Support for case-insensitive vault queries"
The vault query API does not support comparing strings in a case-insensitive way. For example, the following query will be case-sensitive:

[code]

The vault query API should be extended to allow case-insensitive vault queries.

[2018-08-17 10:19] joeldudleyr3 opened #3805 "FR: Extend Dockerform to allow configuration of the SSHD port"
The [Dockerform task](https://docs.corda.net/head/generating-a-node.html#the-dockerform-task) does not currently support the `sshdPort` configuration option (supported by regular Cordform) that allows the node shell to be enabled on the Dockerised node.

This configuration option should be added.

[2018-08-17 10:22] nicktombeur opened #3806 "Update docs to match kotlin template"
The Hello World tutorials are not matching the kotlin template anymore.

**Documentation** (templateContract.kt):
`const val TEMPLATE_CONTRACT_ID = "com.template.TemplateContract"`

**Template** (StatesAndContracts.kt):
`
companion object {
    val ID = "com.template.TemplateContract"
}
`

_**Side note:**_
Change ID to a const in the kotlin template?
`
companion object {
    const val ID = "com.te

[2018-08-17 11:38] joeldudleyr3 opened #3807 "CordaRPCOps.uploadAttachmentWithMetadata() throws IllegalArgumentException"
In Corda 3.2, calling `CordaRPCOps.uploadAttachmentWithMetadata()` throws an exception:

`java.lang.IllegalArgumentException: Parameter specified as non-null is null: method net.corda.node.internal.SecureCordaRPCOps.uploadAttachmentWithMetadata, parameter uploader`

Even if you pass a string instead of `null` as the `uploader`.

[2018-08-17 11:39] joeldudleyr3 commented on #3807
Tracked here: https://r3-cev.atlassian.net/browse/CORDA-1909.

[2018-08-17 12:06] Koshub commented on #3807
Confirmed

[2018-08-20 09:12] josecoll commented on #3741
This appears to be working on master.

[2018-08-20 12:07] cfries opened #3813 "Corda 3.2 publishes wrong Maven meta data to the maven central repository preventing maven build"
Corda 3.2 published/publishes wrong Maven meta data to the maven central repository for `corda-webserver-impl`. This prevents projects defining a dependency to corda-webserver-impl from being build by Maven. Gradle ignores the issue, hence the issue is not visible when using Gradle.
The maven build fails with Failure to find org.jolokia:jolokia-war:jar:1.6.0 in https://repo.maven.apache.org/maven2

[2018-08-21 20:34] p3nt4 opened #3831 "Corda does not work - Unresolved Reference: bind"
I cant build corda because of this error:
[code]

It comes from

[code]
in ByteArray.kt

My java version is:
[code]

I have followed all instructions provided on the website.

[2018-08-21 21:01] p3nt4 commented on #3831
I have made it work with 1.8.0.171.

[2018-08-21 21:01] #3831 closed

[2018-08-22 07:14] Hart199 commented on #3786
Hi Joe, if you upload a file it content like Chinese or other country characters in zip name, user will didn't get download. so I add that line code can avoid this issue. Encode UTF-8 should be servlet level. only in http header will not work.

[2018-08-26 06:50] lankydan commented on #3482
I have tested this and cannot get it to fail with the information included in this issue. I'll add a commit with tests around this so there is confirmation that it works. If more info could be provided on how to get it to fail then I can look into it again.

[2018-08-26 14:51] lankydan commented on #3804
I got this 👍

[2018-08-26 19:12] classgraph-robot opened #3850 "FastClasspathScanner is outdated -- consider porting to ClassGraph"
Your project, `corda/corda`, depends on the outdated library FastClasspathScanner in the following source files:

* [`djvm/src/main/kotlin/net/corda/djvm/utilities/Discovery.kt`](https://github.com/corda/corda/tree/master/djvm/src/main/kotlin/net/corda/djvm/utilities/Discovery.kt)
* [`experimental/behave/src/scenario/kotlin/net/corda/behave/scenarios/StepsContainer.kt`](https://github.com/corda/co

[2018-08-27 07:09] ooharawork opened #3851 "samples: IRS demo web cannot simulate future dates as expected"
[IRS demo](https://github.com/corda/corda/tree/master/samples/irs-demo) sample application is supposed to simulate future dates by increasing year/month/day, starting from the current date.
Actually, it shows always the same date ~~`January 1, 1901`~~ `December 1, 1901` that you cannot move date forward.

## Steps To Reproduce

Reproduced on `master` branch so far but I believe other branches are

[2018-08-27 19:47] pinkjersey commented on #3702
I also have this issue. My cordapp runs OK when I use runnodes, but not through demobench. Version 3.2. In the demobench logs I see the cordapp loader loading my cordapp but I assume it's not finding any flows, for whatever reason. Do flows need to be annotated a special way?

[2018-08-27 20:11] mikehearn commented on #3482
@lankydan I think you can't reproduce it because it was already fixed, but the bug and JIRA may not have been updated. @tudor-malene may remember the details: I think this was due to a loose coupling between components (an observable that was swallowing exceptions).

[2018-08-27 21:58] pinkjersey commented on #3702
Replication steps:
1) clone the latest version of cordapp-template-kotlin as foo
2) `gradlew.bat jar` creates foo-0.1.jar which, when unzipped shows that it does not contain the template
3) `gradlew.bar deployNodes` creates a bunch of directories in build\nodes. If you look in the cordapps dir, you will find two jars: one the blank foo jar, and second a jar named cordapp which contains the templat

[2018-08-28 14:57] mikehearn commented on #3702
Thanks for the extra info, this will help a lot.

[2018-08-28 15:01] lankydan commented on #3807
`SecureCordaRPCOps`doesnt seem to exist in master anymore (I'm not a wizard with git so i cant find where it was deleted). Tested the version in `CordaRPCOpsImpl` and it worked fine.

Can we accept that this has been resolved in a way (by it being removed previously)?

I can also add a test around `uploadAttachmentWithMetadata` to confirm that this is the case as there doesnt seem to be one at the

[2018-08-28 18:45] Koshub commented on #3807
@lankydan will the master be released to some of 3.2.x version?

[2018-08-29 07:37] tudor-malene commented on #3482
This was fixed here: https://r3-cev.atlassian.net/browse/CORDA-1847

@joeldudleyr3, we can close this one

[2018-08-29 14:20] richardblocksure opened #3864 "Optionally include Corda internal fields on persisted data."
When using SQL to provide access to ledger data, the rows generated generally relate to a state. However, there is no way to determine (from the generated data) which states are still live. One workaround is to do a join from the target table back to the Corda `VAULT_STATES` table by `OUTPUT_INDEX` and `TRANSACTION_ID` and then filter where `CONSUMED_TIMESTAMP` is null. It would be useful if, when

[2018-08-29 14:29] mikehearn commented on #2913
@siddtwm If a party issues a state, then it resides only in their own vault and thus nobody else cares. If they then send it to a counterparty then that tx will be validated by the notary and only signed if it's valid, so the validity of the move tx captures the validity of the issuance.

So I'm still not quite sure what notarisation of issuances without timestamps will accomplish.

[2018-08-30 14:25] louptheron opened #3871 "FAQ link is dead in the docs site"
Hi,

The _Frequently asked questions_ link from https://docs.corda.net/faq.html page is dead, as there is no more discourse forum.

[2018-09-03 09:32] anshulee opened #3884 "Dependency for bft-smart:library:master-v1.1-beta-g6215ec8-87 is failing"
On doing gradle sync on Cordapp-Example project ( or template) am getting a org.gradle.internal.resolve.ModuleVersionNotFoundException: Could not find com.github.bft-smart:library:master-v1.1-beta-g6215ec8-87.

When i hit https://jitpack.io/com/github/bft-smart/library/master-v1.1-beta-g6215ec8-87/library-master-v1.1-beta-g6215ec8-87.jar i get a "Build failed. See the log at jitpack.io" message.

[2018-09-03 09:51] lankydan commented on #3884
in the meanwhile, if there is a lower version, you might be able to force gradle to use a different version of the library.

[2018-09-03 10:00] anshulee commented on #3884
Just did that with the following line in .....\cordapp-example\kotlin-source\build.gradle

 compile "com.github.bft-smart:library:library-master-v1.1-beta-g93fe541-124"

Its working with this version.

[2018-09-03 13:32] lankydan commented on #2163
Is this change to return an `Observable` rather than a `DataFeed` object?

If so is a `trackOnlyNewBy` needed and instead have a `trackBy` that returns just the `Observable` and remove the "new" part. By using a default criteria we inherit only `UNCONSUMED` states anyway. I can see the argument for `trackOnlyUsedBy` (`CONSUMED`) states only but not a `trackOnlyNewBy`, unless it is just to remove c

[2018-09-03 13:33] tlil commented on #2605
Thanks @richardblocksure - will take a look.

[2018-09-03 15:28] louptheron commented on #3797
Hi,
What is the expected behaviour ?
Mute the `ActiveMQClientLogger` on this case ?

[2018-09-05 13:10] opticyclic commented on #3803
The documentation says "JVM implementations other than Oracle JDK 8 are not actively supported. However, if you do choose to use OpenJDK, you will also need to install OpenJFX".

That means that the code should work with OpenJDK if you are happy to not have support.
The Azure templates have Azul Zulu as the runtime and not Oracle.

Checking for the Java version on startup or vendor isn't the right

[2018-09-05 13:30] lankydan commented on #3803
fair point, ill revert that commit

[2018-09-06 13:29] pinkjersey opened #3905 "corda-webserver logging level command line option has no affect on logging"
The corda-webserver ignores this command line option. To recreate:

`java -jar corda-webserver.jar --log-to-console --logging-level ERROR`

The application should log less as the logging level is set to ERROR, yet it logs the same amount. Conversely setting the switch to TRACE should log more, but it doesn't.

[2018-09-07 10:14] mikehearn commented on #3267
Reopening - we should at least document the limitations clearly and produce good error messages. And if there's a simple set of fixes, let's do that too.

X.500 is natively binary so it's probably only at the edges that commas become special.

[2018-09-07 15:42] bpaunescu commented on #2963
Backport awaiting review.

[2018-09-08 10:43] lankydan commented on #2913
Since this has received no further feedback, would it be best to pose this as a question to the dev mailing list and see what others think? @mikehearn

[2018-09-10 08:29] roger3cev commented on #2913
Also don't understand the need for a signature over a transaction with no input states or timestamp. Given that the notary only checks for input state uniqueness and/or acts as a time stamping authority, if it signs a transaction with a absence of both, then it doesn't mean anything.

In terms of validation, all participants do this anyway. Maybe I'm missing something?

[2018-09-10 09:28] bpaunescu commented on #2963
Issue fixed and will be included in 3.3

[2018-09-10 09:28] #2963 closed

[2018-09-11 14:16] mikehearn commented on #3884
I worked with jitpack support to get this artifact back. Things should work better now.

[2018-09-14 07:24] remmeier opened #3941 "FR: initialiseSchema property couples corda node and cordapp ddl handling"
Corda itself makes use of Liquibase. The cordapps make use of Hibernate DDL generation. Setting the database.initialiseSchema schema property only allows to enable/disable both together. There should rather be two properties that allow to configure the two separately, allowing to handle DDLs of cordapps outside of corda. For example:

- initialiseNodeSchema
- initialiseCordappSchema

whereas initi

[2018-09-14 16:12] shamsasari commented on #1057
This is still an issue but seems to be a different reason: https://r3-cev.atlassian.net/browse/CORDA-1982

[2018-09-17 09:35] rajeshso opened #3951 "Creating a Enterprise Corda node with Azure template does not start the Corda Web Server"
This issue is regarding the Enterprise Corda that comes as part of the Testnet’s Azure Template

We used the set of instructions as in https://docs.corda.r3.com/website/releases/3.1/azure-template-guide.html

While the Corda node was successfully installed and could be started and stopped, the template did not create a Web server.

I thought I could manually start the web server. When I attempted

[2018-09-17 16:42] #1057 closed

[2018-09-18 10:41] raymondfx opened #3957 "Corda Testnet"
I am trying to log in to the Testate and i am getting this error

[code]

[2018-09-18 15:32] roastario opened #3961 "Corda Network Builder fails if run on project with windows line endings"
When a project is checked out with windows line endings the network-builder fails to start.

[2018-09-19 10:55] joeldudleyr3 commented on #3804
Fixed :)

[2018-09-19 10:55] #3804 closed

[2018-09-19 10:56] joeldudleyr3 commented on #3482
Thanks Tudor. Also fixed by https://github.com/corda/corda/pull/3849 :)

[2018-09-19 10:56] #3482 closed

[2018-09-19 15:47] nehalshah50 opened #3972 "Subscribers for Vault Track are notified before data being committed in database"
I have two state A & B. I am executing a transaction which contains two outputs one for A and one for B. I am using CordaRPCClient from my Rest to track vault for stat A. My vault tracking observable has the map to query the vault for stat B whenever I see an update for stat A. What I have noticed that my query never finds latest on stat B. So it feels like subscribers for the vault track observab

[2018-09-22 15:18] #3803 closed

[2018-09-24 08:09] joeldudleyr3 commented on #3871
Thanks Loup. This is fixed on the master version of the docs (https://docs.corda.net/head/). These changes will be bought back with the next major release.

[2018-09-26 16:18] cxyzhang0 commented on #3364
@Quiark That would be a good idea.  The problem is I don't have access to the Enterprise code.  Any help would be greatly appreciated.

[2018-09-26 16:59] szymonsztuka commented on #3364
@Quiark the fix done by @cxyzhang0  is merged to master https://github.com/corda/corda/commit/d2446be69e71d353679c37115cec7f75c20f599e

[2018-09-27 14:09] remmeier opened #3998 "Bloated dependencies for corda-rpc/core"
CordaRPCClient sits in the corda-rpc.jar. When looking at its dependencies, one gets:

[code]

In here one can find everything from an artemis server to liquibase. None of which should be available on the client side, meaning for processes running outside of Corda. This can be two things:

- processes using corda-rpc
- processes using the persistent entities

in both cases one comes across corda-c

[2018-09-27 14:28] joeldudleyr3 commented on #3769
Fixed

[2018-09-27 14:28] #3769 closed

[2018-09-28 09:29] szymonsztuka commented on #3364
Closing, the code is merged and will be release with the next major Corda release.

[2018-09-28 09:29] #3364 closed

[2018-10-01 00:08] dschaberg opened #4004 "trader-demo Task 'wrapper' not found in project ':samples:trader-demo'"
Thank you for choosing to report an issue with Corda.

When reporting an issue please make sure it contains;

* A clear description of the issue
Unable to compile and build successfully on clone of trader-demo #3932.

Configuration:
Windows, Powershell, InteliJ

* Any logs or stack traces that you can provide (use a site like https://pastebin.com for larger logs)
_gradle trader-demo:deployNodes_
o

[2018-10-01 15:30] joeldudleyr3 commented on #3806
Thanks. Addressed by https://github.com/corda/corda/pull/4007.

[2018-10-01 15:30] #3806 closed

[2018-10-01 15:38] joeldudleyr3 commented on #3972
Thanks. Tracked here: https://r3-cev.atlassian.net/browse/CORDA-2056.

[2018-10-01 15:41] #3884 closed

[2018-10-01 15:43] joeldudleyr3 commented on #3864
@richardblocksure Hey. Which database table are you referring to?

[2018-10-01 15:44] joeldudleyr3 commented on #3813
@cfries Would you be able to PR this fix back into Corda?

[2018-10-01 15:47] richardblocksure commented on #3864
The database table that is created via making a state queryable. It is possible to join back to the `VAULT_STATES` but by optionally having this on the generated table would mean one less join in queries.

[2018-10-01 15:49] joeldudleyr3 commented on #3757
This is a CorDapp development question, rather than an issue with the codebase. Can you raise it on Stack Overflow please? https://stackoverflow.com/questions/tagged/corda.

[2018-10-01 15:49] #3757 closed

[2018-10-01 15:50] joeldudleyr3 commented on #3941
@remmeier Would you be able to PR your fix back into the codebase? I've spoken to the DB guys and they're happy to implement your fix :)

[2018-10-01 16:01] joeldudleyr3 commented on #1906
Here's an example Spring Boot webserver speaking to a Corda node: https://github.com/corda/spring-webserver. For JDBC, you would simply create a standard JDBC connection from the server (e.g. see https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-sql.html).

[2018-10-01 16:01] #1906 closed

[2018-10-01 16:02] joeldudleyr3 commented on #3609
You would need to join an existing network, or implement your own doorman. An example network map/doorman service can be found here: https://gitlab.com/cordite/network-map-service.

[2018-10-01 16:02] #3609 closed

[2018-10-01 16:03] #1012 closed

[2018-10-01 16:04] tudor-malene commented on #3864
The VAULT_STATES table is the central point for "the state" of states.
So joining it to get that info is not a workaround. It's the intended usage.

What you're proposing is to denormalize the structure and also store the consumed flag in the queryable state.
In modern databases, joins shouldn't add any significant overhead, if the right indexes are in place.

[2018-10-01 16:06] joeldudleyr3 commented on #1503
You should raise questions related to CorDapp development on Stack Overflow (https://stackoverflow.com/questions/tagged/corda) or on the Corda Slack channel (slack.corda.net). This is for Corda issues only. Closing for now :)

[2018-10-01 16:06] #1503 closed

[2018-10-01 16:08] joeldudleyr3 commented on #188
Fixed :)

[2018-10-01 16:08] #188 closed

[2018-10-01 16:15] #412 closed

[2018-10-01 16:16] #580 closed

[2018-10-01 16:17] joeldudleyr3 commented on #702
This is fixed.

[2018-10-01 16:17] #702 closed

[2018-10-01 16:17] joeldudleyr3 commented on #715
Fixed.

[2018-10-01 16:17] #715 closed

[2018-10-01 16:18] joeldudleyr3 commented on #827
Fixed.

[2018-10-01 16:18] #827 closed

[2018-10-01 16:28] joeldudleyr3 commented on #1790
Fixed.

[2018-10-01 16:28] #1790 closed

[2018-10-01 16:29] gary-rowe commented on #715
👍 Thanks Joel

[2018-10-01 16:30] joeldudleyr3 commented on #1935
Fixed.

[2018-10-01 16:30] #1935 closed

[2018-10-01 16:30] richardblocksure commented on #3864
Happy to defer to you @tudor-malene , and yes I agree it is a denormalisation however, sometimes such denormalisations make practical usage more ... er.. practical. I do beg to differ regarding the join though - if it is the case that if "corda takes over the world", one is not going to want to lock the `VAULT_STATES` table (even if via optimised indices, no matter what level ANSI level locking is

[2018-10-01 16:40] #3176 closed

[2018-10-01 16:41] joeldudleyr3 commented on #3695
Closing this out. Fixing the error message is out-of-scope for now.

[2018-10-01 16:41] #3695 closed

[2018-10-01 16:43] #3741 closed

[2018-10-01 16:53] joeldudleyr3 commented on #4004
This is a shell issue. Where are you running the command from? Your shell should pick up the `gradle.bat` file at the root of the repo. Try `gradlew.bat` instead - does that work?

[2018-10-01 17:21] lankydan commented on #3807
I'll pick it up this weekend if I can

[2018-10-01 17:56] remmeier commented on #3941
yes, sure, I should have time this week. After that two weeks on holidays.

[2018-10-02 09:57] tudor-malene commented on #3864
I definitely agree that this could be a good candidate when we'll attempt to optimise that area. But the impact needs to be measured. Otherwise it could just be a premature optimisation.
I'm sure denormalisation is a tool in the performance's team arsenal.
cc: @rick-r3

With the regards to practicality, Jpa and our vault query api abstract away the fact that there's a join in the background, so th

[2018-10-02 12:03] Clintonio commented on #3905
Hello @pinkjersey

Thank you for the bug report. After a brief look at the source for the webserver code it does appear that the logging level variable is not being used correctly.

[2018-10-02 12:52] cfries commented on #3813
Hi @joeldudleyr3 - done. Note that the current master branch and the V3 backport branch does not have the issue. But the current V3 release branch and some others have the issue.
I wasn't sure about which branch I should commit too...

[2018-10-02 13:20] joeldudleyr3 commented on #3905
JIRA ticket here: https://r3-cev.atlassian.net/browse/CORDA-2060.

[2018-10-03 01:32] Quiark opened #4016 "Adding node to Raft cluster doesn't sync spent states"
1. Deploy Raft nodes from notary-demo
2. Launch `Alice Corp`, `Notary Service 0` and `Notary Service 1`
3. Launch the notarize demo to create 10 transactions
4. Launch `Notary Service 2`
5. Wait some time
6. Wait some more
7. ☕️
8. Notary Service 2's database `node_raft_committed_states` still doesn't contain all of the 10 transactions, just a subset

Expected behaviour: newly launched notary serv

[2018-10-03 01:41] Quiark opened #4017 "MS SQL encrypted column not compatible with current Hibernate configuration"
MS SQL Server has a feature called Always Encrypted which implements clientside (in JDBC driver) data encryption and decryption (so the DB server never sees the key). Metadata about this encryption is still stored in the database so such a column will have a different data type.

MS SQL doesn't use the Blob data type, everything is just `VARBINARY` AFAIK. Corda transaction and attachment storage u

[2018-10-03 02:31] dschaberg commented on #4004
Running from root Corda/Corda:

*** using gradle 4.10.1
*** using JDK 1.8.0_181
inteliJ 2018.2.4

___

Build:
Warning:Unable to make the module: corda, related gradle configuration was not found. Please, re-import the Gradle project and try again.
___
Gradle Build Sync/Refresh:

when importing gradle module from root I get the following under build sync, auto import or refresh does not solve the p

[2018-10-03 08:55] joeldudleyr3 commented on #3813
@cfries Ah sorry, I didn't realise. We don't modify release branches once they've been released for stability reasons, so we can't fix this on V3. It looks like this will be fixed in the next minor release.

I'll close this, but please flag up any other issues you encounter.

[2018-10-03 08:55] #3813 closed

[2018-10-03 09:17] joeldudleyr3 commented on #4016
Thanks for flagging. Reported here: https://r3-cev.atlassian.net/browse/CORDA-2062.

[2018-10-03 20:47] DomSteil commented on #3702
Same issue here, running flow list and the default flows are the only ones listed.

[2018-10-04 13:31] mikehearn commented on #719
This works now, I can type capital letters into the terminal just fine. However on my Windows 10 on MacBook VM, the problem with Swing having tiny fonts has come back. I thought we'd fixed that?

[2018-10-04 13:32] #719 closed

[2018-10-04 14:40] mikehearn commented on #970
This is fixed now.

[2018-10-04 14:40] #970 closed

[2018-10-04 15:45] mikehearn commented on #3742
Fixed by the fix for CORDA-1847. The patch will ship in Corda 3.3

[2018-10-04 15:45] #3742 closed

[2018-10-04 16:35] mikehearn commented on #1304
There are two issues reported here. One is a bit unclear (downloaded git repo that wasn't a clone?) and I'm not sure it's a bug, or not one worth fixing.

The other is about errors that I used to see but no longer do. So I'm closing this as fixed.

[2018-10-04 16:35] #1304 closed

[2018-10-04 16:36] mikehearn commented on #1345
We switched to AMQP between nodes in Corda 3 and I don't think we've seen this sort of error since.

[2018-10-04 16:36] #1345 closed

[2018-10-04 16:56] mikehearn commented on #2196
I'm going to close this because I can't repro it. The template app works for me.

*However* the Kotlin example/template sample needs to be updated to use Spring Boot instead of the old deprecated web server. I've filed https://r3-cev.atlassian.net/browse/CORDA-2069 for that.

[2018-10-04 16:56] #2196 closed

[2018-10-04 16:58] mikehearn commented on #3132
Going to close this - we can't reproduce it. That repo is also deprecated and we've updated the examples since.

[2018-10-04 16:58] #3132 closed

[2018-10-04 17:00] mikehearn commented on #2647
Not sure what the underlying cause of this is but we've never had other reports in other contexts and it's no longer a problem for the reporter. We have staffed an effort to work on versions and modules related features, and isolation of apps from node internals is a part of that. So I'll close this as whatever was causing it may well get fixed as part of planned work.

[2018-10-04 17:00] #2647 closed

[2018-10-05 07:08] Quiark commented on #4017
Oh I should note I was using `mssql-jdbc` version `7.0.0.jre8` which I understand was the latest. I should probably try the same with 6.2 mentioned on enterprise corda docs.

[2018-10-05 09:43] Quiark commented on #4017
Yeah same with `6.2`

[2018-10-05 12:43] dazraf opened #4037 "Configuring `dataSourceProperties` for external databases can have unexpected behaviour"
# Issue with `node.config` when setting up `dataSourceProperties` for an external database

## Summary

* The config doesn't work quite as stated [here](https://stackoverflow.com/questions/50232016/how-can-the-corda-node-be-extended-to-work-with-databases-other-than-h2/50232017#50232017) because of the way the config is presented to `HikariPool` from `AbstractNode`.
* There is a workaround but it

[2018-10-08 14:05] mikehearn commented on #4017
This sounds more like an issue with Hibernate than Corda?

[2018-10-08 14:06] mikehearn commented on #4037
Filed as https://r3-cev.atlassian.net/browse/CORDA-2080

[2018-10-08 14:07] mikehearn commented on #3998
Yes, this is annoying I agree.

[2018-10-08 14:10] mikehearn commented on #3864
@tudor-malene This is also a usability issue though, no? The join is a bit annoying to do when writing SQL by hand.

[2018-10-09 02:58] Quiark commented on #4017
Yeah it just seems MS SQL needs some special treatment in Hibernate configuration and unfortunately for me it doesn't manifest unless encryption is involved. I dug out the stack trace:
[issue.txt](https://github.com/corda/corda/files/2458697/issue.txt)

[2018-10-10 08:55] sklimakov opened #4052 "Command line shell processor throws StringIndexOutOfBoundsException on malformed command"
Version: 3.2

**Steps to reproduce**

Start an ordinary node

`java -jar corda.jar`

Once the command line greeting is appeared insert the text produced by:

`python2 -c 'print "".join([chr(c) for c in [99, 111, 114, 100, 97, 1, 194, 128, 195, 133, 98, 1, 195, 144, 39, 194, 162, 3, 194, 163, 34, 110, 101, 116, 46, 99, 111, 114, 100, 97, 58, 56, 103, 79, 83, 116, 113, 70, 75, 65, 74, 80, 85, 101, 1

[2018-10-10 12:14] aabhish commented on #2224
@joeldudleyr3  I am starting contributing to CORDA. Can you please assign this isue to me? I will soon submit patch for this.

[2018-10-10 14:48] joeldudleyr3 commented on #2224
@aabhish Assigned 👍 I look forward to seeing the outcome :)

[2018-10-10 15:53] szymonsztuka commented on #4037
@dazraf The issue is fixed on master (will be in Corda 4.0) https://r3-cev.atlassian.net/browse/CORDA-1277
We would always have similar problems when any property key with compound name (e.g. dataSource.url) is wrapped in double quotes and overwritten without double quotes or vice versa. To simplify in Corda 4.0 double quotes are forbidden for key values, which solved the issue.

In your example t

[2018-10-11 15:07] shamsasari commented on #3850
https://github.com/corda/corda/pull/4060

[2018-10-11 18:51] #3850 closed

[2018-10-12 09:35] mikehearn opened #4062 "If a flow has an empty progress tracker that's never used, exception is thrown"
For example:

[code]

This can happen if you make an empty progress tracker that's unused. This should log an error or warning that explains what happened, or it should be ignored, but we shouldn't throw.

[2018-10-12 15:17] RemHD opened #4069 "internal.Node.run - Exception during node startup {} java.lang.IllegalStateException: Identity specified by [c7401749-2e78-4ad2-a68f-94ee3c418ee2] "" is not one of ours!"
Hi everybody I'm currently using Corda 3.2.

I have an issue while connecting one of my node with a PostgresSQL DB, I managed to do it once and then after it started to crash everytime.

The exact message is this one when I'm trying to use runnodes.bat
`[ERROR] 2018-10-12T14:24:23,172Z [main] internal.Node.run - Exception during node startup {}
java.lang.IllegalStateException: Identity specified b

[2018-10-15 19:05] trferreira-BR opened #4080 "Handle Exceptions - Flows doesn't catch exceptions correctly"
Hi,

**Description**
I was testing and receiving a result not expected for a Flow Test using TDD - JUnit simulating a Virtual Mock Network Corda and I was not able to find some logs, because there isn't a place related to logs from Nodes to check (My suggestion is to create a place to storage logs from every virtual node on a Corda Mock Network).

So, I figured out the problem on a Real Corda Netw

[2018-10-16 10:50] trferreira-BR commented on #4080
Hello Joel,

Thank you for sharing your code, but now, try to replicate this exception calling a subFlow which throws this exception making in the same test.
The problem is: When a subFlow throws an exception something like that (SignedTransaction$SignaturesMissingException), It doesn't catch at test and pass as a success.

It can be dangerous for real transaction. It should have stopped and throw

[2018-10-16 10:57] trferreira-BR commented on #4080
Joel,

To be more complete, at @InitiatedBy, I call a flow, this flow throws an exception and its should be catch.

THX,
Thiago

[2018-10-17 13:18] ekudel commented on #3751
@joeldudleyr3 Hi. I've faced with it, but I don't have any lambda around, so I can't find a workaround :( Here's my full stacktrace

`java.lang.NullPointerException:` null
	at net.corda.node.services.statemachine.FlowStateMachineImpl.suspend(FlowStateMachineImpl.kt:514) ~[corda-node-3.2-corda.jar:?]
	at net.corda.node.services.statemachine.FlowStateMachineImpl.sendInternal(FlowStateMachineImpl.kt:

[2018-10-19 09:48] joeldudleyr3 commented on #4062
@mikehearn Is there a corresponding JIRA?

[2018-10-19 09:53] joeldudleyr3 commented on #4069
It looks like you've modified your node's identity after initially connecting to the database. Did you re-run `deployNodes` or modify the node's keystores and certificates in some other way?

[2018-10-19 09:55] joeldudleyr3 commented on #4080
Thanks. Tracked here: https://r3-cev.atlassian.net/browse/CORDA-2122.

[2018-10-19 09:55] joeldudleyr3 commented on #4052
Thanks. Tracked here: https://r3-cev.atlassian.net/browse/CORDA-2123.

[2018-10-19 13:13] mikehearn commented on #4062
https://r3-cev.atlassian.net/browse/CORDA-2121

[2018-10-19 23:55] Tondi007 commented on #3806
Im trying to run Hello World using the Kotlin Template and I get an error: Unresolved reference: TEMPLATE_CONTRACT_ID. It points to this line of code:
 val txBuilder = TransactionBuilder(notary = notary)
                .addOutputState(outputState, TEMPLATE_CONTRACT_ID)
                .addCommand(cmd)

How do I resolve this?
Thanks.

[2018-10-22 06:07] joeldudleyr3 commented on #3806
That should be `TemplateContract.ID`, not `TEMPLATE_CONTRACT_ID`. Updating the docs now. Apologies!

[2018-10-22 15:01] roastario commented on #4062
I believe this has been fixed by:

https://github.com/corda/corda/pull/3985

[2018-10-22 15:02] janisolekss opened #4104 "Cash will be locked if Flow suspends forever."
Looks like case, when a Flow performs generateSpend and somewhere along the line suspends (for example waiting counterparty to sign, or some other sendAndReceive communication) and if the suspension is forever, then particular Cash will be softlocked in DB also forever.

There should be explicit programmatical way of "unsuspending" flow with some Exception or something similar.

[2018-10-22 15:03] roastario commented on #4104
Thanks for this @janisolekss - I will investigate re: chat on slack.

[2018-10-22 16:55] RemHD commented on #4069
I didn't change the node identity, but I used several times the
"deployNodes" and I think the issue is coming from the certificate and I
don't know how to release or change it.

Le ven. 19 oct. 2018 à 11:53, Joel Dudley <notifications@github.com> a
écrit :

[2018-10-22 18:00] janisolekss commented on #4104
Because Cash uses ID from TranactionBuilder, it is possible to controle LockId used to lock. By default it is borrowed from the Flow, but it is possible to pass it explicitly in TransactionBuilder. In this case client can control the lockID, and in case of failure of flow to deliver, might use the same ID to call vaultService.softLockRelease() function to "free" the cash.
But I assume this might w

[2018-10-23 08:38] joeldudleyr3 commented on #4069
Every time you redeploy the node, you change its certificates and therefore its identity. This causes the error above.

Instead, you should keep the same node, and create and install the new CorDapp JARs by following the instructions here: https://docs.corda.net/cordapp-build-systems.html#creating-the-cordapp-jar.

[2018-10-23 08:38] #4069 closed

[2018-10-23 09:01] joeldudleyr3 commented on #4104
Tracked here: https://r3-cev.atlassian.net/browse/CORDA-2138.

[2018-10-23 10:35] marko-mets-gt opened #4107 "Can not add nullable field to a serializable data class"
Tried to add a new nullable field to a serializable data class by following the instructions here:
https://docs.corda.net/releases/release-V3.1/serialization-default-evolution.html#adding-nullable-properties
When deserializing the object get an exception.

Steps to reproduce:
1. Create a new state (SomeState). Create a data class (SomeData). Add a field to SomeState that holds SomeData object.
2.

[2018-10-23 14:16] marko-mets-gt commented on #4107
Tried reproducing it on https://github.com/corda/cordapp-example. Seems that issue is caused by UUID field:
Evolving from:
[code]
to
[code]
the same exception is thrown.
Tested with 3.1, 3.3 and master (b9aa23d3ac44eedbe1987d4a60002a5534592362)

[2018-10-23 15:58] roastario commented on #4062
After testing, latest version of corda does not suffer from this bug - closing

[2018-10-23 15:58] #4062 closed

[2018-10-24 09:34] foultre opened #4108 "MissingAttachmentRejection when trying to verify() a transaction built on 2 parties"
I issue an FxState from partyA which is a future fx cash exchange between partyB and partyC. (B sends USD to C and C sends EUR to B, A is informed and signer)
For the Settlement flow I build a transaction on 2 sides passing the txBuilder through flow to each node so they can exchange Cash states in diffrerent currencies.
Then I add the FxState in inputState of the tx which consume it.

When I try

[2018-10-24 12:47] tudor-malene commented on #4108
Created: https://r3-cev.atlassian.net/browse/CORDA-2143

[2018-10-24 12:55] marko-mets-gt commented on #4107
Seems that I found the cause. Class fields are serialized like that:
`<field name="borrower" type="net.corda.core.identity.Party" mandatory="true" multiple="false"/>` - object
`<field name="value" type="int" mandatory="true" multiple="false" default="0"/>` - primitive
`<field name="ref" type="uuid" mandatory="true" multiple="false"/>` - UUID
After replacing (in debugger) uuid with fully qualified

[2018-10-24 13:05] mikehearn commented on #4107
Thanks!

[2018-10-24 13:19] foultre opened #4110 "2 differents parties can't send each other cash in 2 currencies in 1 single tx"
This is because `Cash.verify()` checks that there is only one `Move` command in `verifyMoveCommand`: `val command = commands.requireSingleCommand<T>()`

The `Cash.verify()` function groups inputs,outputs, and keys by Token but commands are not grouped:

[code]

[2018-10-25 17:37] leyle opened #4119 "docker image cannot start by docker run command"
I use Dockerform generate docker-compose.yml file, then I use `docker-compose up`,
all nodes started and everything is ok.
But if I use  `docker run -p port:port  some-node-img-name`, then it cannot start and throw out some error message. I paste it below

Database connection url is              : jdbc:h2:tcp://172.17.0.2:43059/node
Advertised P2P messaging addresses      : clinica:10002
RPC conne

[2018-10-26 11:47] joeldudleyr3 commented on #4110
@foultre Doesn't it work fine if you put in two sets of currencies, but only one `Move` command?

[2018-10-26 13:15] foultre commented on #4110
2 parties send different tokens so they each need a move command

[2018-10-26 14:11] josecoll commented on #4108
@foultre Please can you confirm some additional information.

- What version of Corda are you running?
- Do all 3 parties (A,B,C) have the same CorDapp.jar deployed (containing the same FxContract)?
- When Party A issues the FxFuture, do parties B and C receive a copy? (as participants)
   I assume they must as you then build a settlement transaction on Party B with that FxFuture state as an input

[2018-10-28 01:31] dschaberg commented on #4004
@joeldudleyr3

I found that an older instance of an Nvidia Android Setup wrote and kept environment variables for JAVA_HOME, and GRADLE_HOME referencing older Java and Gradle versions and paths which caused conflicts in compilation.

Thanks Joel

[2018-10-28 01:31] #4004 closed

[2018-10-28 15:54] lankydan commented on #4110
id like to pick this up 👍

[2018-10-29 09:09] lankydan commented on #3807
totally forgot about this :) added some tests now

[2018-10-29 09:49] foultre commented on #4108
- Corda open source 3.3
- yes
- yes
- yes
When doing the settlement I'm passing the txBuilder from B to C and C back to B. Then B try to verifie and fails.

[2018-10-29 09:52] josecoll commented on #4108
Just to clarify on the latter point, is your code explicitly calling` verify`, or are you delegating that to a standard core flow (Eg. `FinalityFlow`) ?

[2018-10-29 10:15] foultre commented on #4108
My code is explicitly calling `verify`

[2018-10-29 10:38] foultre commented on #4110
dirty fix :
[code]

[2018-10-29 15:21] josecoll commented on #4108
Without revealing any IP can you send me a cleansed/stripped-down version of your CorDapp so I can verify the behaviour on Master (Corda 4 codebase is significantly different to OS 3.3).

[2018-10-29 17:58] josecoll commented on #4108
With regards to your workaround:
`txBuilder.addAttachment(serviceHub.cordappProvider.getContractAttachmentID(FxContract.FX_CONTRACT_ID) as SecureHash)`

- if you are constructing a new Txn then it is expected that you add attachments to be verified.
- if you have received the Txn over the wire from another participant, it is expected that the contents are preserved (eg. the attachment reference sh

[2018-10-30 08:37] foultre commented on #4108
Yes this is the scenario I'm describing. So this is normal behaviour ? I would think the hash of the Contract would be the same on all nodes.

[2018-10-30 12:16] mikehearn commented on #4104
It's possible to kill flows via RPC so an external watchdog can be created until flows are better able to control their own timeouts.

However it isn't really intended that flows suspend forever. That would normally indicate a bug.

[2018-10-31 09:22] josecoll commented on #4108
Yes - the scenario you are describing should work as-is.
Are you able to re-test this using OS master?

[2018-11-02 11:25] Bartman250 opened #4155 "Design proposal for notary transaction api and other enablers for metering"
I've put together a design proposal for a number of enablers for metering in an MD file.
I've put this in a git Gist which is [here](https://gist.github.com/Bartman250/9c98076cc69923a1f48dcfb3fb5dda57)

[2018-11-02 12:17] Bartman250 opened #4156 "create notary api to enable extraction of notarised transactions"
To enable a uniform approach to extracting notarised transactions from a notary's vault regardless of the notary type. I propose a new notary api that enables notarised transactions to be extracted by date.
The full design proposal and whys and wherefores can be found [here](https://gist.github.com/Bartman250/9c98076cc69923a1f48dcfb3fb5dda57)

The api description is as follows:

## The Notary Tran

[2018-11-02 12:33] Bartman250 opened #4157 "Enable Node Blacklisting and Whitelisting"
This issue relates to the design proposal for enhancements to Corda to support metering which can be found [here](https://gist.github.com/Bartman250/9c98076cc69923a1f48dcfb3fb5dda57)

In order to prevent nodes from using you as a notary for free, we need to have a flexible mechanism to
    * blacklist - i.e. refuse transactions from certain nodes/parties if they are behaving badly
    * whitelist

[2018-11-02 13:54] Bartman250 opened #4159 "Add Transaction meta-data to the NotarisationPayload"
This change relates to the proposals for corda changes to support metering.
The full git gist can be found [here](https://gist.github.com/Bartman250/9c98076cc69923a1f48dcfb3fb5dda57)

To add more capability to notarisation and subsequent metering/billing, such as prioritised transactions and weighted transactions I propose that we add an extra parameter to the
Notarisation payload.
This payload sh

[2018-11-03 21:30] lankydan commented on #3807
@joel this can be closed 👍

[2018-11-04 11:25] TAC911 opened #4162 "Wrong URL on website"
Not sure if this is the right place for opening the issue but I couldn't find a repository for the website.

### Error
Being on the following page on the corda.net website https://www.corda.net/discover/demobench.html the link to Develop in the top nav-bar leads to a non-existent page https://www.corda.net/discover/develop/index.html (404 Error).

### Expected
The correct link would be https://www

[2018-11-05 11:20] #3807 closed

[2018-11-05 11:28] joeldudleyr3 commented on #4110
Thanks Remi. Flagged here: https://r3-cev.atlassian.net/browse/CORDA-2184.

[2018-11-05 13:21] Bartman250 commented on #4157
@joeldudleyr3 Thanks for this - I'm not sure at what level this needs to be in the code as the check for the blacklist/whitelist needs to happen before a flow can be kicked off - so I assume somewhere deep in the messaging server - but if this can be implemented as a corda service then great.. I think I would prefer the data for this to be maintained in the database/vault - as then it benefits fro

[2018-11-05 15:21] mikehearn commented on #4156
Working on a response to Mark's email now.

[2018-11-06 16:55] joeldudleyr3 commented on #4157
@Bartman250 You could still store this data in the database, or event store it as a state.

I guess the difference is that you don't want to write calls to `isPartyOnBlacklist` inside your flows (although this would be completely possible using a service or some state stored in your vault). Rather, you want the process to be automatic.

What's the reason for this? Just to make the notary/BNO/etc.

[2018-11-07 08:14] Bartman250 commented on #4157
@joeldudleyr3 Basically this is a door policy for nodes and notaries. The scenario is that you have a compatibility zone with a large number of BNs and Notary pools. The CZ has a door policy but once you are in the zone you can use any notary and send transactions to any node - bit like getting a wristband for alton towers and being able to go on all the rides for free . For the BN you probably wa

[2018-11-07 20:21] rogersanick opened #4193 "Persisting Parent and Child Tables to H2"
Hi there,

The following is a non-blocking (low-priority) bug. It has been recommended that this is potentially not best practice. I thought I should log it anyway for posterity's sake.

**Issue**
I have created a simple iteration on the [Corda Bootcamp application](https://github.com/rogersanick/bootcamp-cordapp) that attempts to implement a parent and child relationship between states. The state

[2018-11-08 12:19] joeldudleyr3 commented on #4157
@Bartman250 Hey Mark, sorry for the delay. I just don't see what's gained by having this directly on the `ServiceHub`, as opposed to a standard `CordaService` nodes could install? The `CordaService` would behave in the same way, storing the whitelists/blacklists in the nodes' databases. Is the upside of putting it on `ServiceHub` that it comes by default and is slightly less onerous to invoke (one

[2018-11-09 20:29] rogersanick commented on #4193
I was able to circumvent this issue by creating a Corda service that runs on startup to manually inserts the appropriate table. Unfortunately, the `@ManyToOne` and `@OneToMany` JPA annotations are not implementing a relationship between TokenStates and TokenChildStates inside of h2.

[2018-11-12 15:46] mikehearn commented on #4157
This looks quite a lot like the BNO membership service - the notion of being "in" or "out" is a part of that and the idea is, you call into it from the top of your (possibly subclassed) flows.

https://github.com/corda/corda-solutions/tree/master/bn-apps

I tend to agree that ServiceHub is probably not the right place to put this logic. The notion of 'blacklist' as separate from 'whitelist' is som

[2018-11-12 17:58] Bartman250 commented on #4157
Hello Mike,

Thanks for coming back on this.
Originally I thought that the blacklist/whitelist would be at a lower level than flows - i.e. deeper in the messaging layer, but then I realised that we need some flows for people to get on the whitelist and probably a flow to plead redemption from the blacklist.

My initial concern was around having whitelisting / blacklisting for a notary so that you

[2018-11-13 09:29] joeldudleyr3 commented on #4193
Resolved here: https://stackoverflow.com/questions/53233011/corda-how-to-implement-hierarchical-relationships-between-state-data-persisted.

[2018-11-13 09:29] #4193 closed

[2018-11-13 09:32] #3961 closed

[2018-11-13 09:34] joeldudleyr3 commented on #1869
@balajimore  I'm closing this for now. If you can replicate this issue on Corda 3 or above, would you be able to re-open an issue?

[2018-11-13 09:34] #1869 closed

[2018-11-13 09:34] joeldudleyr3 commented on #1158
I'm closing this for now. If it can be replicated on Corda 3 or above, please re-open.

[2018-11-13 09:34] #1158 closed

[2018-11-13 09:36] joeldudleyr3 commented on #398
We have retired the "fireBulletBetweenNodes" animation, so I'm closing this for now.

[2018-11-13 09:36] #398 closed

[2018-11-13 09:39] joeldudleyr3 commented on #3957
@raymondfx This sounds like a firewall problem. Could you raise the issue on Stack Overflow? https://stackoverflow.com/questions/tagged/corda

[2018-11-13 09:39] #3957 closed

[2018-11-13 09:42] joeldudleyr3 commented on #3851
Tracked here: https://r3-cev.atlassian.net/browse/CORDA-2213.

[2018-11-13 09:44] joeldudleyr3 commented on #3649
Tracked here: https://r3-cev.atlassian.net/browse/CORDA-2215.

[2018-11-13 10:59] joeldudleyr3 commented on #1896
Confirmed this is no longer relevant as of Corda 3.

[2018-11-13 10:59] #1896 closed

[2018-11-13 10:59] joeldudleyr3 commented on #1467
Confirmed this is no longer relevant as of Corda 3.

[2018-11-13 10:59] #1467 closed

[2018-11-13 11:02] joeldudleyr3 commented on #4107
Tracked here: https://r3-cev.atlassian.net/browse/CORDA-2217.

[2018-11-13 11:06] marko-mets-gt commented on #4107
Already tracked here: https://r3-cev.atlassian.net/browse/CORDA-2139

[2018-11-13 11:08] joeldudleyr3 commented on #4107
Ah, thanks :)

[2018-11-13 11:17] joeldudleyr3 commented on #1279
No longer an issue as of Corda 3+.

[2018-11-13 11:17] #1279 closed

[2018-11-14 12:28] sd189 opened #4233 "Network builder download link broken"
The download link for network builder in
https://github.com/corda/corda/blame/master/docs/source/network-builder.rst#L13
is broken.

[2018-11-14 12:34] sd189 commented on #4233
I was trying 3.3 the latest but it doesn't exists
3.2 is working fine

[2018-11-14 12:34] sd189 commented on #4233
I was trying 3.3 the latest but it didn't work
3.2 is working fine

[2018-11-14 13:56] manishchainThat commented on #3714
@josecoll   it worked for me . Thanks

[2018-11-14 13:59] #3714 closed

[2018-11-15 10:49] joeldudleyr3 commented on #4162
Fixed!

[2018-11-15 10:49] #4162 closed

[2018-11-15 16:20] remmeier commented on #3998
I would offer to help, but that commit, while being not too difficult, will be rather large due to the reorganization of various parts. Maybe something for corda 4.0 or then 5.0.

[2018-11-16 16:54] #519 closed

[2018-11-19 09:35] mikehearn commented on #4017
Do you know what the special treatment is? I'm inclined to say this is a Hibernate bug (or possibly a MS SQL driver bug) rather than a Corda bug. We aren't doing anything special here, as far as I know, we're just users of the frameworks. We could reopen this upstream in Hibernate and see what they say? If they fix it we'll bump our Hibernate dependency to pick up the fix.

[2018-11-19 10:05] tudor-malene commented on #4017
From the stacktrace it appears that the bug is in the jdbc driver:

`Caused by: com.microsoft.sqlserver.jdbc.SQLServerException: The conversion from VARBINARYMAX to BLOB is unsupported.
	at com.microsoft.sqlserver.jdbc.DDC.convertBytesToObject(DDC.java:493) ~[mssql-jdbc-6.2.2.jre8.jar:?]`

I'm wondering if you could try to disable encryption on the blob columns and see if you can make it  work.
To

[2018-11-19 10:11] Quiark commented on #4017
It works without encryption. My understanding is that Blob is not supposed to be used with MS SQL but they perhaps have some backward compatibility layer that allows it, but only without encryption.

[2018-11-19 10:33] tudor-malene commented on #4017
We map the columns annotated with `@Lob` to `varbinary`.

And Hibernate is also doing that.
See:
``
public SQLServer2005Dialect() {
		registerColumnType( Types.BLOB, "varbinary(MAX)" );
``

What I meant is to try with "always encrypted", but disable it only on the `@Lob` columns - if that is possible.

[2018-11-19 10:35] mikehearn commented on #4017
blob is not supposed to be using with MS SQL? Why not? This is news - do the docs say that anywhere? Why would a DB engine not support blob types, that's a pretty basic feature in any db engine.

[2018-11-19 10:40] tudor-malene commented on #4017
They just call it `varbinary` . It's the same thing.
When you annotate a hibernate column with `@Lob` and the dialect is `SqlServer`, it will just map to and from varbinary.

[2018-11-19 10:51] Quiark commented on #4017
You mean enable always-encrypt globally but not use it on this column? It's per column and it works on other byte[] columns that I didn't encrypt.

Documentation about types is here https://docs.microsoft.com/en-us/sql/t-sql/data-types/binary-and-varbinary-transact-sql?view=sql-server-2017 and it doesn't mention BLOB type.

I guess the mapping to varbinary is not working properly? Because in the s

[2018-11-19 11:00] mikehearn commented on #4017
Apparently it *is* possible:

https://dba.stackexchange.com/questions/202873/is-it-possible-to-encrypt-varbinarymax-column-using-always-encrypted-feature

[2018-11-19 11:01] tudor-malene commented on #4017
It is most likely some hibernate/jdbc driver mismatch when encryption is used.

We had another problem with blobs on postgres, and we solved it by creating a special "corda-blob" hibernate type.
See `DBCheckpoint` and `MapBlobToPostgresByteA`.

Worst case scenario, we could do something similar here, if nothing else works.

What I would suggest is to try and create a simple hibernate project that

[2018-11-19 11:32] tudor-malene commented on #4017
Should we open this bug with Hibernate as @mikehearn suggested?

If it woks without `@Lob` then it is their bug.

[2018-11-19 12:05] mikehearn commented on #4017
Yeah, if we can get a small repro case perhaps they'll be able to fix it. Alternatively we could step through Hibernate and try to figure out what's going on. `@Lob` should work and seems to be correct so it's not a Corda bug.

[2018-11-21 10:00] adrian-soon opened #4267 "VaultService queryBy returned duplicate rows in StateMetadata"
I have a snippet of code that looks something like this.

[code]
When I compared the stateRefs against the database in postgres 9.6, I have 19 records, all unconsumed. I have specified the pageNumber = 1 pageSize = 10. I expected 10 distinct records to be returned.

But the actual result returned from Vault.Page was 2 rows of stateAndRef. There was 10 counts of StateMetadata where 9 of them are du

[2018-11-21 10:34] josecoll commented on #4267
Thanks for raising this.
Would you be able to send through a DDL/data export of your corda node vault tables (including any custom schema tables) and your `DocumentStateSchema.DocumentStateEntity` contract definition?
We can re-test this in-house, and advise next steps.

[2018-11-22 03:31] adrian-soon commented on #4267
Replicated on https://github.com/adrian-soon/obligation-cordapp/blob/9f0b9fe50dd35ae3ac33928abee4b4b51cdfc5e3/src/test/kotlin/ObligationTestTwo.kt#L43

This issue exist only on 3.3 and only when Sort is given in the param.

[2018-11-22 13:18] marko-mets-gt opened #4281 "Unable to evolve Enum by appending new fields."
When I have an enum serialized in the vault as this:

[code]
 and then in later version of my cordapp I update it to:
[code]
then I receive such exception: `java.io.NotSerializableException: Constants have been reordered, additions must be appended to the end`.

Looking at the unit tests it seems that they test this scenario:
Node A receives serialized enum from node B. This received enum has new

[2018-11-22 14:54] marko-mets-gt commented on #4281
Same issue in 3.3

[2018-11-22 14:56] mikehearn commented on #4281
Thanks for testing.

[2018-11-22 15:46] marko-mets-gt commented on #4281
I was trying to fix it myself and have come up with the following.
Here it is checked whether the enum constants have been reordered:
https://github.com/corda/corda/blob/release-V3.X/node-api/src/main/kotlin/net/corda/nodeapi/internal/serialization/amqp/EnumEvolutionSerializer.kt#L111

When replicating my use case then `ordinals` is bigger (it has new constants which are found on the classpath) th

[2018-11-23 10:18] joeldudleyr3 commented on #3800
Thanks @vardan10 !

[2018-11-23 10:18] #3800 closed

[2018-11-23 12:31] bangke213 commented on #4107
okay master

[2018-11-23 16:18] osancus opened #4291 "macOS Corda nodes won't start properly by ./build/nodes/runnodes"
When starting nodes using terminal command **'./build/nodes/runnodes'** on **macOS**, it starts opening tabs and running commands but fails to start a few of the Corda node servers or web servers of network randomly. Terminal seems to be trying to run multiple commands on one terminal. This problem was easily avoidable in previous versions by just clicking and focusing on the terminal app and not

[2018-11-26 15:47] adamturski commented on #4281
@distributedleetravis In our project we faced that issue too. Does above solution added by @marko-mets-gt can be used as a workaround?

[2018-11-26 15:50] distributedleetravis commented on #4281
It seems it will work (I have reproduced it in the new serialisation code, and it works there too); my only concern is to understand why the Corda documentation for enums currently states that new values _cannot_ be added: presumably this was a design decision made at some point, and I would like to understand the reason for it before recommending that this behaviour should be changed.

[2018-11-27 11:30] joeldudleyr3 commented on #4281
@distributedleetravis @adamturski I've spoken to the serialisation people and the intent is definitely that enums can be serialised. My apologies for the mistake in the docs. I will address that.

[2018-11-27 17:44] joeldudleyr3 commented on #4281
This looks like a bug. Raising a JIRA so this is picked up by bug triage here: https://r3-cev.atlassian.net/browse/CORDA-2264.

Marko proposed this test case to replicate the issue:

[code]

[2018-11-28 10:20] kid101 opened #4313 "Nodes Hangs, when using appservicehub to start a flow in a blocking way"
Bug can be reproduced using repo: https://github.com/kid101/AppserviceHub/

Step 1: Clone and do a `gradle clean deployNodes`
Step 2: `build\nodes\runnodes` and wait for nodes and web server to start.
Step 3:  `curl http://localhost:10007/api/primes/create-prime?n=2`

The node will now hang and can be seen in the logs that the `DummyServiceFlow` never executed.

when `appservicehub` tries to start

[2018-11-28 10:32] joeldudleyr3 commented on #4313
Thanks. Tracked here: https://r3-cev.atlassian.net/browse/CORDA-2265.

[2018-11-28 12:00] dazraf opened #4315 "Extend NetworkMap protocol to allow for addition of nodes in large networks"
The current network map protocol works well for modest networks. As the number of nodes in the network increases:

1. Each new node needs to make N-1 requests to `/network-map/node-info/{hash}`
2. Each node has to poll for the `NetworkMap` on `/network-map` for a payload that grows O(N) with the number of nodes.

Some have noted new nodes on larger networks taking increasingly longer to initialise

[2018-11-29 14:05] florian-f commented on #4313
That it wouldn't hang when you don't wait for the completion of the future is expected behaviour.
Now, the question is why your flow would not complete. I'd have to take a closer look.
Have you tried debugging it? Do your logs reflect that the flow was actually started/ are there any errors?
If you make the DummyFlow `@StartableByRPC` (and override progressTracker), what happens if you start it vi

[2018-11-29 14:35] kid101 commented on #4313
well my bad I didn't frame it correctly. The Flow would execute if it's called in a non-blocking way, though, the node would hang and flow wont get executed, if it's called in a blocking way.

I had a look at the logs but couldn't get much as the `DummyServiceFlow`'s call method won't get executed it hangs somewhere before. I did annotate `DummyServiceFlow` with `@StartableByRPC` but it didn't hel

[2018-11-29 15:00] florian-f commented on #4313
Ah OK.
I can reproduce your issue, will take a closer look.

[2018-11-30 16:14] emanuelr93 opened #4337 "DBCheckpointStorage print ByteArray in DEBUG log"
It is needed to override toString method of DBCheckPoint Object because it is printed in DEBUG log from EntityPrinter of Hibernate.
This print operation causes log file getting larger.

[2018-12-04 03:56] Quiark commented on #4017
[mssql-aenc-0.3.zip](https://github.com/corda/corda/files/2642335/mssql-aenc-0.3.zip)

Here is a small example project for reproducing this problem.

[2018-12-04 09:43] florian-f commented on #4313
PrimesClientTests appears to reproduce this as well.

[2018-12-05 17:49] sollecitom commented on #4267
It will be fixed by https://github.com/corda/corda/pull/4366, currently open.

[2018-12-06 01:31] anticlimactic opened #4367 "Finality Flow has both extraRecipients and extraParticipants label for two functions."
From this [API document](https://docs.corda.net/api/kotlin/corda/net.corda.core.flows/-finality-flow/index.html), I noticed that there are two constructors for FinalityFlow which are the same, but have different argument names.

FinalityFlow(transaction: SignedTransaction, extraParticipants: Set<Party>)
FinalityFlow(transaction: SignedTransaction, extraRecipients: Set<Party>, progressTracker: Prog

[2018-12-06 08:18] mahesh-bandkar opened #4368 "Cash Contract : Node trying to spend cash where its not the owner"
Cash Contract ( CashSelectionH2Impl ) picks up cash state which the node is not an owner of. Hence its unable to spend it.

* There are 3 nodes + 1 notary. Node 1 has 100 dollars issued. Node 1 transfers 100 dollars to node 2 with the node 3 being an observer. node 3 receives a unconsumed cash of 100 dollars which its not an owner of. Node 3 is issued 50 Dollars which its an owner. It now tries to

[2018-12-06 08:40] mahesh-bandkar opened #4369 "Cash Contract : CashSelectionH2Impl picking up data from Queryable Table (cash_contract_states)"
* Description : Cash Contract/State has a queryable table : cash_contract_states. The code in CashSelectionH2Impl picks up data from this table in the call to generateSpend. This is incorrect as the data in the cash_contract_states can be tampered with leading to incorrect results.
* No logs
* Code Issue
* Corda 3.3

Code 👍 val selectJoin = """
                    SELECT vs.transaction_id, vs.outp

[2018-12-06 09:05] mahesh-bandkar opened #4370 "CashIssueAndPaymentFlow - should transfer cash which was issued in same flow"
* CashIssueAndPaymentFlow issues cash and transfers it to the receipient.

override fun call(): Result {
        subFlow(CashIssueFlow(amount, issueRef, notary))
        return subFlow(CashPaymentFlow(amount, recipient, anonymous, notary))
    }

It should have a return from the CashIssueFlow and that reference should be used for the CashPaymentFlow for transfer.

* no logs- Code issue.
* No steps

[2018-12-06 17:34] MubashirullahD opened #4378 "Corda DemoBench source file corrupted"
New User here.
Hey, I am working on a semester project. I will skip the details of the voting system. I am facing issues as I set up the Corda DemoBench 3.3. I am on a 64-bit machine with the windows 10 pro OS. (jdk 10.0.2)

![image](https://user-images.githubusercontent.com/45071858/49601333-5c686400-f9a7-11e8-941e-ae9cfef44e3a.png)

Just wanted to point it out.

Retry does not help.
In case this

[2018-12-07 10:31] tk1993 commented on #280
Trying to connect Corda nodes through CordaRPCConnection which  is setup on Azure got the same error
**ActiveMQNotConnectedException[errorType=NOT_CONNECTED message=AMQ119007: Cannot connect to server(s). Tried with all available servers.]**

Also tried by giving node name and ip but still got the same error.

[2018-12-07 12:30] wawrzek commented on #280
@tk1993 - is that on Azure?

[2018-12-08 07:33] joeldudleyr3 opened #4388 "`argument type mismatch` when accepting new network parameters via node shell"
Start a Corda 3.3 node and try and accept new network parameters using:

    run acceptNewNetworkParameters parametersHash: "ba19fc1b9e9c1c7cbea712efda5f78b53ae4e5d123c89d02c9da44ec50e9c17d"

You get the following exception:

    RPC failed: java.lang.IllegalArgumentException: argument type mismatch

But the docs indicate that a String is the correct argument type: https://github.com/corda/corda/b

[2018-12-10 03:55] mahesh-bandkar commented on #4370
@joeldudleyr3  My understanding is that if we already had cash we should have used it for the transfer. Now if we are issuing new cash - then it would be logical to use the same reference for the transfer.

[2018-12-10 11:43] #4388 closed

[2018-12-11 07:12] tk1993 commented on #280
@wawrzek Any update on this issue..?

[2018-12-11 14:33] joeldudleyr3 commented on #4370
Ah, I see what you mean - the cash transferred may be with a different ref?

[2018-12-11 14:41] joeldudleyr3 commented on #4370
Raised here: https://r3-cev.atlassian.net/browse/CORDA-2316.

[2018-12-11 14:42] joeldudleyr3 commented on #4369
We consider it the node operator's responsibility to secure their database and thus attacks that involve tampering with the node's database are outside of our threat model.

[2018-12-11 14:42] #4369 closed

[2018-12-11 14:44] mikehearn commented on #4370
I'm not quite sure I understand this one. Coin selection does not take into account recency.  Coins are meant to be fungible so why does it matter?

[2018-12-11 14:46] mikehearn commented on #4367
Unfortunately I don't see a way to rename this without breaking source compatibility for Kotlin. Someone might have used it as a named parameter. Agree?

[2018-12-11 14:46] joeldudleyr3 commented on #4370
@mikehearn I thought coins were supposed to be non-fungible if they have different `issueRef`s?

[2018-12-11 14:48] joeldudleyr3 commented on #4267
Fixed.

[2018-12-11 14:48] #4267 closed

[2018-12-11 14:49] joeldudleyr3 commented on #4281
Fixed.

[2018-12-11 14:49] #4281 closed

[2018-12-11 14:49] joeldudleyr3 commented on #4313
Fixed.

[2018-12-11 14:49] #4313 closed

[2018-12-11 14:53] mahesh-bandkar commented on #4369
@joeldudleyr3  The contract_cash_states is created due to the queryable annotation on the Cash State. We have seen that any changes to the table created due to the queryable state is only for the means for analytical and other aids. this would mean that the state is also stored outside of the NODE_TRANSACTIONS and VAULT_STATES table which would lead to it susceptible to tampering. Including the qu

[2018-12-11 14:53] joeldudleyr3 commented on #4291
@epicsol-inc Can you re-test this on master? We've done some work on the node start-up script since 3.3.

[2018-12-11 14:55] joeldudleyr3 commented on #4369
Hi @mahesh-bandkar, trying to understand.

"We have seen that any changes to the table created due to the queryable state is only for the means for analytical and other aids." - where have we seen this?

[2018-12-12 09:43] joeldudleyr3 commented on #4337
Fixed.

[2018-12-12 09:43] #4337 closed

[2018-12-12 11:49] arsalankhalid commented on #3799
Is this still available, I'm happy to take this on?

[2018-12-12 12:04] joeldudleyr3 commented on #3799
@arsalankhalid I don't think so unfortunately (fortunately?). The master branch of the docs has already been updated to documented the new official Corda Docker image. I'll close this.

[2018-12-12 12:04] #3799 closed

[2018-12-13 01:14] anticlimactic commented on #4367
Agree.

[2018-12-13 11:31] tk1993 commented on #280
Successfully resolved the issue :)
Approach : While deploying nodes change the IP of nodes from localhost to 0.0.0.0 because if you give 127.0.0.1 then network adopter  will communicate within same host A process that is listening on 127.0.0.1 for connections will only receive local connections on that socket.When a server is told to listen on  0.0.0.0 that means "listen on every available network

[2018-12-13 12:56] mikehearn commented on #280
Great!

[2018-12-13 12:56] #280 closed

[2018-12-13 12:56] mikehearn commented on #4367
Sadly, closing then.

[2018-12-13 12:56] #4367 closed

[2018-12-14 19:07] remmeier opened #4423 "Upgrade quasar to support newer JDKs"
Corda makes use of Quasar 0.7.x and with this is also stuck with Java 8 that more or less is considered being end-of-life. Quasar 0.8 is available with support for JDK 11. See https://github.com/puniverse/quasar/issues/317.

[2018-12-15 13:17] remmeier opened #4424 "Allow more flexible release naming"
we make use of custom patch releases of corda. More recently we are getting:

[code]

From `https://errors.corda.net/OS/4.0-ALPHA02/1f3xz5b`

It would be great if that check could be removed. Because we would like to make use of a custom version naming scheme other than the one of Corda to make it clear that it is something different. Nevertheless we like to keep group/artifact names since it is o

[2018-12-15 13:55] remmeier opened #4425 "update bintray setup"
for custom patch releases we make use of a bintray account. But it seems that the current setup in corda or rather the used bintray version is broken.  for it to work we have to:

1. Upgrade the plugin to `classpath 'com.jfrog.bintray.gradle:gradle-bintray-plugin:1.8.2'` from the current `1.4.0`.

2. fix the `vcUrl` and `websiteUrl!` like

[code]

3. Modify `repo` and `org` property.

Would be gre

[2018-12-19 12:02] sollecitom commented on #4080
This is expected behaviour, Corda uses the exception thrown to conditionally handle a transaction which doesn't verify. Hence why your test is not failing.

[2018-12-19 13:21] remmeier opened #4441 "follow Java Bean conventions for setters"
PropertyDescriptor.kt class makes use of reflection to discover the properties of classes for entities, states, flow inputs, etc. It is used by AMQP for serialization. One of the conditions looks like:

[code]

For setters this is not entirely correct. It is well possible for setters to have a return type, most notably to return the object itself again for chaining of setter calls. https://project

[2018-12-19 14:19] mikehearn commented on #4441
Are you working on an app where this breaks your code?

I'm not sure what the JavaBeans spec says, but if such methods used to be recognised then this would indeed be a regression. Bear in mind that it's much preferable to use immutable objects with constructors and getters rather than setters though!

[2018-12-19 14:30] distributedleetravis commented on #4441
Raised a ticket, will fix today: https://r3-cev.atlassian.net/browse/CORDA-2352

[2018-12-19 14:51] mikehearn commented on #4441
👍

[2018-12-19 14:59] distributedleetravis commented on #4441
PR raised: https://github.com/corda/corda/pull/4442

[2018-12-19 15:56] remmeier commented on #4441
thx! we are mostly immutable, not yet on all the inputs to the flows.

[2018-12-19 16:11] remmeier opened #4444 "Integrate Java Bean validation so it works out of the box on the persistence path"
We bundle Java Bean validation with one of our Cordapps. This used to work fine but we are now running into issues with the current master branch and upcoming Corda 4.0:

[code]

I have not so far fully understood what is going on in the class loader area. For some strange reason `BeanValidationIntegrator.isBeanValidationApiAvailable` returns true, but later it is not able to fully load bean valid

[2018-12-19 17:18] distributedleetravis commented on #4441
PR is merged. If you can confirm that this resolves your problem, @remmeier, I will close this issue.

[2018-12-19 21:55] shamsasari commented on #4444
https://r3-cev.atlassian.net/browse/CORDA-2353

[2018-12-20 13:13] RK3713 opened #4447 "Corda Exception - spi.SqlExceptionHelper.logExceptions - Unique index or primary key violation:"
Hi All

Getting the below error after restarting the Corda node. It is coming every time and the node hangs and stops responding.

[ERROR] 10:31:11+0530 [Node thread-1] spi.SqlExceptionHelper.logExceptions - Unique index or primary key violation: "PRIMARY_KEY_C ON PUBLIC.VAULT_STATES(OUTPUT_INDEX, TRANSACTION_ID) VALUES (0, '4B8CA84DCFFD32C45BDF2391DF6BCF2E64DD37C337B2B008BDC9B429BFF0D9FA', 2181)"

[2018-12-20 14:01] remmeier commented on #4441
PR looks good, thx a lot. I think this can be closed, I doubt anything can be wrong with that changed line. Will be able to try again once https://github.com/corda/corda/pull/4415 is ready too.

[2018-12-20 14:01] #4441 closed

[2018-12-20 14:18] shamsasari commented on #4444
@remmeier It seems the issue steps from the fact that CorDapps are no longer added to the node's system classpath. Hibernate Validator automatically does it's thing if it is. From https://docs.jboss.org/hibernate/validator/5.1/reference/en-US/html/validator-integration.html#validator-checkconstraints-db:

The node has a `jarDirs` config where you can augment the node's classpath which extra Jars.

[2018-12-20 14:33] tudor-malene commented on #4444
To answer your question as to why although BeanValidationIntegrator.isBeanValidationApiAvailable returns true, it is later not able to fully load bean validation.

It seems to be a bug in the BeanValidationIntegrator.

It assumes that validation-api needs to be on the system classloader (where hibernate is).

These lines here:
[code]

While `BeanValidationIntegrator.isBeanValidationApiAvailable` i

[2018-12-21 07:04] RK3713 commented on #4447
Corda open source version 3.3
Scenario
1. One node stopped responding while it was in the middle of a transaction.
2.Restarted the node multiple times. It showed the above mentioned exception every time.

I believe the node was trying to start again from the last db checkpoint but for some reason, every time when it was trying to rerun the transactions , the node hanged and stopped responding and

[2018-12-26 11:32] voddan opened #4463 "addCommand should prevent accidental passing zero public keys"
When I write Corda flows I often make a mistake of adding a `CommandData` as a command without a public key:

    // Throws in runtime "The list of signers cannot be empty"
    transactionBuilder.add(myCommandData)

It is possible to pass a `CommandData` instead of a `Command` because of the following overload helper:

    fun addCommand(data: CommandData, vararg keys: PublicKey) = addCommand(Comm

[2018-12-27 15:18] voddan commented on #1915
I have been stuck with the same problem for a couple of days now, fixed it thanks to this thread.
IMO it would be helpful to have a description of this scenario right there next to the `CollectSignaturesFlow` documentation.

[2018-12-28 07:35] lolo8304 opened #4470 "ClassCastException in RPC interactive shell while using List<any Enum> in ContractState class"
**description:**
in the interactive shell of corda I receive the following message
`RPC failed: java.lang.ClassCastException: java.lang.String cannot be cast to java.lang.Enum
`
after creating a new state using
`flow start MandateRequestFlow broker: PartyB, startAt: "2019-01-01T00:00:00Z", allowedBusiness: [ PnC ]
`
and then listing the vault with
`run vaultQuery contractStateType: ch.insurance.co

[2018-12-28 07:36] lolo8304 commented on #4470
I guess the issue is finally NOT in the RCP interactive shell - this is only a follow up error to printout the object based on the metadata.
Actually the deserialization is wrong

[2018-12-28 10:19] lolo8304 commented on #4470
i just saw on https://docs.corda.net/releases/release-V3.3/serialization.html that EnumSet are supported. Important would be that corda raises an exception during save that this type of List<Enum> is not supported

[2019-01-02 07:54] Quiark opened #4484 "Out of order received transactions cause invalid marking of spent/unspent"
Maybe I'm missing something but this happened

We have transactions A → B → C created by some other parties and our node (as participant) receives them out of order (first B → C and later A → B). In this case our vault will end up having both B and C marked as unspent because it doesn’t make the effort on the successors of B during marking B and transaction resolution for verification (done when r

[2019-01-03 14:59] joeldudleyr3 opened #4498 "Incorrect description of `ServiceHub.jdbcSession`"
The description of `ServiceHub.jdbcSession` states:

    @return A new [Connection]

This is incorrect. The method does not always return a new `Connection`. Instead, it should state:

    @return A [Connection]

[2019-01-03 15:52] nimmaj opened #4502 "Enhancement: MetaParty or Nodeless Party"
We have a declarative need to be able to have states that:

 * are stored on a group of parties (ie routing)
 * have some rules about signing by the parties (ie signing)

One way of describing this is that it would be awesome if we could have a Party that is composed of Parties (ie composite pattern).  Richard often describes this as a nodules party.

Our specific use case relates to one of our Di

[2019-01-03 17:39] joeldudleyr3 commented on #4498
Fixed by https://github.com/corda/corda/pull/4501.

[2019-01-03 17:39] #4498 closed

[2019-01-05 19:46] manosbatsis opened #4511 "AttachmentsClassLoader fails when calling setURLStreamHandlerFactory"
* A clear description of the issue

`AttachmentsClassLoader` blindly attempts to set a custom `URLStreamHandlerFactory` by calling `URL.setURLStreamHandlerFactory`. The problem with this approach is the method can be [called at most once in a given Java Virtual Machine](https://docs.oracle.com/javase/7/docs/api/java/net/URL.html#setURLStreamHandlerFactory(java.net.URLStreamHandlerFactory)), so
`At

[2019-01-07 02:38] cryptoblk-viche commented on #4484
More details about issue -

Say we have transaction graph txA -> state A -> txB -> state B, both tx initiated by Node 1 and involved Node 2. Node 2 unfortunately receives txB before txA, it resulted in two unconsumed states:
1. Node receives txB via Send/ReceiveTransactionFlow called from FinalityHandler
    * Node receives txA via subFlow(ResolveTransactionsFlow)
    * Node does not record state

[2019-01-07 08:46] tudor-malene commented on #4511
Hi Manos, thank you for raising this issue.
This is the problem I suspected you had when you mentioned it.

The reason we chose this approach is that Corda is supposed to run in it's own JVM, and there is no reason for any cordapp to call `setURLStreamHandlerFactory`.

What is your setup? You mentioned in the PR that it's failing during integration tests?

[2019-01-07 10:11] roger3cev commented on #4484
@cryptoblk-viche Can you post your code that creates transaction A and B - would help us to debug. We are looking into a similar problem at the moment. Cheers!

[2019-01-07 10:13] roger3cev commented on #4484
Also, can you try the same CorDapp on Corda 4 and report if you experience the same behaviour. Cheers!

[2019-01-07 13:14] mikehearn commented on #4511
Is the actual problem here that the driver API is putting too much stuff onto the node classpath? The URL stream handler factory thing is a very unfortunate part of the Java API but nonetheless, the node JVM process is our domain - roaming tomcats are dangerous, and so should be shot and have their heads mounted on the walls.

I recall someone mentioning that the driver works in a weird way and ju

[2019-01-07 13:49] manosbatsis commented on #4511
The "unfortunate part of the Java API" pretty much nails it. My fix works around breakage in cases like mine, where one can equally blame anyone assuming ownership of the JVM, without any side-effects to normal node-only  operation. I do see this as a temporary fix in terms of JDK version though, but need it for my code to work with corda 4.0

[2019-01-07 14:17] lolo8304 commented on #3531
I will work on this @joeldudleyr3
@ivanr3 - which version of corda do you actually use now? because in MASTER branch BigInteger serialization is implemented?

[2019-01-07 17:00] mikehearn commented on #4511
Fair enough. Tudor is already looking at how to fix the more general classpath issue.

[2019-01-07 17:40] roger3cev commented on #4484
@Quiark is this on enterprise or open source?

[2019-01-07 22:46] lolo8304 commented on #3531
the 2 classes are already implemented for serialization and deserialization
see units-tests
- net/corda/serialization/internal/amqp/SerializationOutputTests.kt (incl BigInteger)
- net.corda.serialization.internal.amqp.OptionalSerializationTests

in current master many classes are implemented by default. Still I will update the code due to a copy / paste error in the description

[2019-01-08 02:51] suweicong commented on #4484
could you also provides us the two nodes’ log files and persistence.mv.db files, if possible?

[2019-01-08 11:08] joeldudleyr3 commented on #3531
Fixed, thank you.

[2019-01-08 11:08] #3531 closed

[2019-01-08 11:50] joeldudleyr3 opened #4523 "If a node has already recorded a transaction, they cannot re-record it as an observer"
In `ServiceHubInternal.recordTransactions`, any transactions that have already been recorded by the node are discarded:

    val recordedTransactions = txs.filter { validatedTransactions.addTransaction(it) }

This is an issue if you have already seen a transaction, but now want to re-record it as an observer using the Observable States feature.

[2019-01-08 17:10] JamesHR3 commented on #4484
@Quiark @cryptoblk-viche This is happening due to a race condition in Corda, as indicated in CORDA-2402. We think this can be mitigated by reducing the chances of the condition happening, while we come up with a full solution. We should be able to produce a patch to do this, and from looking at your code I think this may help. Did you reproduce the problem using some test setup? If we were to prov

[2019-01-08 20:21] lolo8304 commented on #3267
I take this one @joeldudleyr3

[2019-01-09 01:16] lolo8304 commented on #3267
on master. I have tested

String
`O=Sue\, Grabbit and Runn, L=VALID, C=CH
`
X500Principal
`O="Sue, Grabbit and Runn", L=VALID, C=CH
`
X500Name —> RDNs have 2 String representation
`RFC 1779 = "Sue, Grabbit and Runn"
`
`RFC 2253 = Sue\, Grabbit and Runn
`
in todays CordaC500Name we are using toString() instead of a standardised one based on RFC1779 as in X500Name from sun (internal library)

[2019-01-09 01:33] suweicong commented on #4484
Hi @JamesHR3 , i checked with Aaron, they are running on OS 3.3.

[2019-01-09 06:59] Quiark commented on #4484
We don't have any steps to reproduce this apart from letting it run for 2 weeks. We can deploy a patched version to try but would need that in source form because we have backported a fix for MS SQL. We are using open source 3.3.

[2019-01-09 08:32] joeldudleyr3 commented on #3267
@lolo8304 So are you saying that commas in Corda X500 names are allowed and work?

[2019-01-09 09:50] joeldudleyr3 commented on #3267
@lolo8304 I'd suggest opening a PR so we can take a look at the changes, even if you're not sure they pass the tests for now. This will also get TeamCity to run the tests for you.

[2019-01-09 16:59] JamesHR3 commented on #4484
I've pushed the mitigation patch to v3.3-finality-race-reduction, which is a branch based on release-V3.X.

[2019-01-09 20:54] lolo8304 commented on #3267
pushed and created pull-request - see https://github.com/corda/corda/pull/4539

[2019-01-09 22:21] lolo8304 commented on #3751
Hi @ekudel
I had the same issue and I even used an example cordapp. The problem is that it does not work in a pure java project.

Solution / better workaround:
- create a kotlin project - even without developing kotlin. And then it works.
- I was debugging for 3 days and then stripped it down to "java" vs "kotlin" module with 100% the same "java code".
- kotlin: worked, java: nullpointer

[2019-01-09 22:34] lolo8304 commented on #3751
another info: the bug seems to be very deep down because the jvm did non even stop on "ctrl-c" or "kill <id>". I had to use "kill -9 <id>"

[2019-01-11 13:05] Koshub commented on #4291
Not sure if next info is related to current issue

Currently we are using corda 3.2 and `./build/nodes/runnodes` usually runs nodes correctly. But after reinstalling macOS and other apps like IntelliJ it stops. So currently script do not run nodes. It just prints that they are running:

Started 5 processes
Finished starting nodes

but no java processes could be found in activity monitor.

System i

[2019-01-11 13:06] joeldudleyr3 commented on #4291
Yeah, see https://stackoverflow.com/questions/54127811/mojave-terminal-not-starting-nodes-from-runnodes-corda-deploynodes.

[2019-01-11 13:24] Koshub commented on #4291
@joeldudleyr3 Ok, it works, but only after additionally IntelliJ added itself and Terminal to Accessibility **and** Automation setting and, of corse since I run nodes from IntelliJ terminal.

[2019-01-12 14:41] lolo8304 commented on #3751
@ekudel  - i tried to setup a new "project" with kotlin but code in java and 1 flow to reproduce.
and I have the same issue again. I am running 1 project which is working and one which is not working.
SHIT - i tried to compare now file by file

[2019-01-12 23:45] lolo8304 commented on #3751
Solution
- create a kotlin based project
- add packages with the "SAME NAME" as the kotlin packages in src/main/java
- and create classes

if you use kotlin packages name com.a.b and java packages ch.c.d then the flow can be started but while counter-sign it crashes with NullPointecxeption

I have created a an example to download ...

**test that works**
[code]
![test ok](https://user-images.githu

[2019-01-15 09:51] mikehearn commented on #4502
We already have `CompositeKey` which is basically that. There's no notion of a labelled identity for a composite key, but I'm not sure it's necessary for the signing part. Unfortunately `CompositeKey` isn't fully supported by every part of the API - as you can imagine, the notion of composite identities has quite deep impact almost everywhere. For example the vault doesn't really know what to do w

[2019-01-15 09:53] mikehearn commented on #4523
You can't do that. The docs state clearly that a node (and therefore identity) can either be an observer *or* a participant, but you can't be both. If you want a node to see transactions but not necessarily be involved, you can just add them as a participant, and this issue goes away.

What we probably need to do here is deprecate the current observer node functionality and take it through the des

[2019-01-15 09:53] #4523 closed

[2019-01-15 10:21] joeldudleyr3 commented on #4502
@mikehearn I believe we also need to improve the vault's `isRelevant` logic to store states which are owned by a `CompositeKey` for which you own one of the leaf keys.

[2019-01-15 11:35] mikehearn commented on #4502
Yes, although that may itself not be the right way to do things - what does it mean to have a state you don't fully control in your vault? The whole vault/wallet analogy is already slightly dubious and starts to break down completely when you have group or threshold controlled states. They aren't necessarily available for use and aren't assets you can spend at will, so maybe what we need is to spl

[2019-01-17 09:59] mikehearn commented on #4017
I suspect the issue here runs deeper. Always Encrypted mode is not a standard database. From the SQL Server docs:

So it's not intended to be really compatible with SQL. Perhaps that's why it doesn't work.

I'm not sure we want to fix this. Supporting "Always Encrypted" mode would be a cool upgrade, but it would presumably impose severe limits on the types of queries Corda would then be able to ma

[2019-01-17 09:59] #4017 closed

[2019-01-21 13:22] shamsasari commented on #4444
Updating `node.conf` with
 ```jarDirs = [ ${baseDirectory}"/libs" ]```
and putting the validation-api jar into that directory resolves this issue.

[2019-01-26 18:47] arsalankhalid commented on #3805
Is this still available @joeldudleyr3 ? I'm happy to give it a look

[2019-01-26 19:15] felmoreno1726 opened #4639 "Postgres integration runnode error"
Thank you for choosing to report an issue with Corda.
Greetings my team is working on a Corda application, and we are trying to migrate to using postgres database instead of H2. The following bug was introduced by the changes made to the database configuration. The following was taken from node-directory/logs/node-ip-*:
[ERROR] 2019-01-26T19:05:24,244Z [main] internal.Node.run - Exception during n

[2019-01-27 11:02] remmeier opened #4641 "Allow datasource setup without interfering defaults"
Current the reference.conf provides a default for the datasource:

[code]

while it can be convenience for a basic test/dev setups, it is not useful for production setup (as nobody will make use of H2) and in worst case can interfere and cause issues with the production setup. Some of our nodes we deploy to Google Cloud, for example. There we make use of managed SQL and use a special SockerFactory

[2019-01-27 16:37] manosbatsis opened #4648 "Minor fix to support Gradle's Kotlin DSL"
Using Gradle's Kotlin DSL produces the following error:

[code]

the problem is `TestCordappImpl` only checks for a groovy DSL file in `findProjectRoot` https://github.com/corda/corda/blob/0a039e9094ab5794ee3de7489a8b1268116ae953/testing/node-driver/src/main/kotlin/net/corda/testing/node/internal/TestCordappImpl.kt#L71

The line should read

[code]

[2019-01-28 11:30] ragmondo opened #4654 "Cannot build a cordapp alongside a dependant cordapp that uses a different version of a 3rd party library."
I've tried to explain the issue a few times and think it's probably best to demonstrate via code and I have finally managed to boil it down to a test.

I created the repo https://github.com/ragmondo/corda-bug-3rd-party-libs which is based on today's version of cordapp-template-kotlin

What I have done is added two 3rd party library dependencies and a new module called "contracts-old"

In https://g

[2019-01-28 12:01] josecoll commented on #4654
Thanks @ragmondo. Will take a look and revert back with a response shortly.

[2019-01-28 13:30] shamsasari commented on #4370
Echoing Mike's comment, the current behaviour is as designed.

[2019-01-28 13:30] #4370 closed

[2019-01-28 16:31] remmeier opened #4665 "fix Java version check"
e.g. it fails for

`You are using a version of Java that is not supported (1.8.0_202-ojdkbuild). Please upgrade to the latest version of Java 8.`

obtained from https://github.com/ojdkbuild/ojdkbuild. a warning may would also be sufficient rather than terminating the process.

(In general it would be nice to see Java 11+ supported. Java 8 is end-of-life, more difficult to download, complicated to

[2019-01-28 16:57] richardblocksure commented on #4654
Hey @josecoll . Appreciate it.

Don't underestimate this though; I won't deny that I have deliberately structured it as somewhat of a Pandora's box. There is the initial issue that cordformation does not build the cordapps correctly but then there is the classloader issue. Note that the cordapps require different versions of their third party libraries but also note that *both* versions of the res

[2019-01-29 04:21] manosbatsis opened #4671 "4.0-RC03 issues with Node Driver"
1. `TestCordappImpl#buildCordappJar() ` attempts to scan build/libs without checking if the directory actually exists

[code]

2. The driver will also throw an error if the directory exists without any JARs in it, which makes no sense - there should be no assumption that the driver is only used in cordapp modules - think integration tests etc.
[code]

[2019-01-29 05:08] manosbatsis commented on #4671
Bah. In case someone else manages to shoot themselves in the foot, don't call `net.corda.testing.node.internal.InternalTestUtilsKt#findCordapp` with an empty string

[2019-01-29 05:08] #4671 closed

[2019-01-29 11:31] #4648 closed

[2019-01-29 14:00] shamsasari commented on #396
I haven't seen the "Host is down" log message in a long time and so will assume it's been resolved.

[2019-01-29 14:00] #396 closed

[2019-01-30 10:51] joeldudleyr3 commented on #3805
@arsalankhalid Please do - here's the latest version: https://github.com/corda/corda-gradle-plugins/blob/master/cordformation/src/main/kotlin/net/corda/plugins/Dockerform.kt.

[2019-01-31 18:56] opticyclic opened #4701 "Crash Shell Is Not Published Correctly To Artifactory"
Despite [attempts](https://github.com/corda/corda/pull/3891) to remove the dependency on jitpack, it is still required.

Only the crash shell jar is published to artifactory
https://ci-artifactory.corda.r3cev.com/artifactory/corda-dependencies/com/github/corda/crash/crash.shell/cadb53544fbb3c0fb901445da614998a6a419488/

The pom is missing which causes Runtime Errors such as:

    Caused by: java.l

[2019-02-01 06:30] arsalankhalid commented on #823
Why in your opinion would C bindings facilitate faster scale to ecosystems?

[2019-02-01 18:05] manosbatsis opened #4708 "Open methods in TransactionBuilder"
Is there a particular reason for `copy`, `withItems` and `addOutputState` methods to be final? The kdoc says

so this looks like an omission. At the moment I can only partially implement  what I'm after and  not very reliably, at least not without a wrapper/decorator which feels rather ugly.

Would be happy to add a PR.

[2019-02-04 11:35] manosbatsis opened #4711 "Add a project logo"
Ideas welcome

[2019-02-04 11:36] #4711 closed

[2019-02-04 11:36] manosbatsis commented on #4711
sorry, wrong repo!

[2019-02-05 00:09] joeldudleyr3 commented on #4708
@manosbatsis What kind of stuff are you looking to implement that you're unable to?

[2019-02-05 00:17] manosbatsis commented on #4708
@joeldudleyr3 wanted an implementation that would abstract easy access to all participants of in/out states already added to it. Of course this is only an example of how one could extend the `TransactionBuilder`. Opening `copy`, `withItems` and `addOutputState` seems a reasonable enough change to lower the bar but that's just me.

[2019-02-05 09:58] series0ne commented on #4708
@manosbatsis I think you could get all the output state participants with an extension property, but I didn't find a way to do this with input states.

[code]

[2019-02-05 10:31] series0ne commented on #4708
@manosbatsis @joeldudleyr3 On another note, perhaps I don't know enough about it, but I can't actually see a reason why `TransactionBuilder` is `open` in the first place. If I'm honest, it seems like an unusual thing to want to extend.

Maybe another approach would be to [favour composition over inheritance](https://en.wikipedia.org/wiki/Composition_over_inheritance). With this approach, you would

[2019-02-05 11:39] manosbatsis commented on #4708
@series0ne yes wrapping the `TransactionBuilder` is of course an option as suggested in the issue description. Good point on `TransactionBuilder` being open, looks like this issue is becoming about clearing things out, i.e. either open the methods suggested or close `TransactionBuilder` altogether.

[2019-02-05 14:34] mikehearn commented on #823
@urbien That approach works, but also look at SubstrateVM, which can give instant startup and low memory usage for Java apps that meet certain requirements:

https://royvanrijn.com/blog/2018/09/part-2-native-microservice-in-graalvm/

I don't know if our RPC works in SubstrateVM, I suspect it can do if you pin enough classes for reflection.

W.R.T. JavaScript bindings, I demoed a thing called "cord

[2019-02-06 13:16] urbien commented on #823
@mikehearn thank you for your response!
As discussed with you at CordaCon in Tokyo I do not think it is an issue anymore for us. We have created a workaround with a servlet that is being pinged from Lambda (I will ask @mvayngrib to give you a specific setup). I think you said in Tokyo that you have a better environment for such servlets.

Re: Java in Lambda. The key problem is the cold start. [Jav

[2019-02-06 14:35] robertmckay opened #4724 "Caused by: java.lang.ClassNotFoundException: net.corda.finance.contracts.asset.OnLedgerAsset"
In Corda 4 RC1, RC2, RC3

If you extend OnLedgerAsset in a contract, the corda node fails on startup with a class not found exception for OnLedgerAsset. It compiles fine and junit test involving the contract work, just when starting an actual node it blows up.

I have tried various combinations of

cordaCompile "net.corda:corda-finance:$corda_release_version"
cordaRuntime "net.corda:corda-finance:

[2019-02-07 16:19] robertmckay commented on #4724
I just tried switching to corda 5.0-SNAPSHOT, and this problem went away

[2019-02-11 19:20] TywinLannister1313 opened #4738 "Unable to import sumCashBy using IntelliJ IDEA"
IntelliJ IDEA started highlighting errors in some of my import statements that worked previously. This is not unexpected as net.corda.finance is still in the "incubating" stage.

I am working in Java.

Corda Release: 3.3

Noticed #4700

So I made what I thought are the necessary changes...

//Old

//import static net.corda.finance.utils.StateSumming.sumCashBy;

//New

import static net.corda.finan

[2019-02-11 22:16] mjdacs commented on #3806
Looks like the enterprise docs still need the update.

https://docs.corda.r3.com/hello-world-flow.html

[2019-02-11 22:38] mjdacs opened #4739 "Corda Enterprise Docs TEMPLATE_CONTRACT_ID fix"
Looks like this issue was resolved in open source docs but not yet in the enterprise.
https://docs.corda.r3.com/hello-world-flow.html

That should be `TemplateContract.ID`, not `TEMPLATE_CONTRACT_ID`. Updating the docs now. Apologies!

_Originally posted by @joeldudleyr3 in https://github.com/corda/corda/issues/3806#issuecomment-431747428_

[2019-02-12 13:31] forstema opened #4742 "enhancement: ServiceHub service for observing node's state machines and hospital"
We are implementing a monitoring service that collects different kinds of metrics in a node for Elastic. What is still missing are flow metrics which are, as far as we know, not directly readable. See also https://stackoverflow.com/questions/54304554/tracking-the-corda-flows.

To improve this it would be great if AppServiceHub/ServiceHub provided services returning data feeds on the node's state m

[2019-02-14 09:48] pgrindean opened #4755 "Corda 4 nodes defined with the net.corda.plugins.Cordform task hang in the initialization routine when the “runnodes” script is launched with the "--logging-level=DEBUG" option."
Out of three nodes, at least one will hang with the last log lines looking like the excerpt below. When removing the "--logging-level=DEBUG" runnodes option, all nodes come up successfully. The “logging-level” option works fine with the Corda 3 nodes.

[code]

[2019-02-14 12:32] surajkaudgave opened #4757 "CordaFuture's get() method goes into the blocking state indefinitely."
Here is some code which I'm trying to get transaction by id,
   when it gets subscribes by stateMachineRecordedTransactionMappingFeed.

[code]

It's going into blocking state randomly for `transactionInfoFlowHandle.getReturnValue().get(20, TimeUnit.SECONDS)`. Also tried for `transactionInfoFlowHandle.getReturnValue().get()` but the result is same.

[code]

[2019-02-19 05:06] TywinLannister1313 commented on #4738
I added:

`cordaCompile "$corda_release_group:corda-finance:$corda_release_version"`

...to the build.gradle file under the dependencies section. No more errors with my import statement:

`import net.corda.finance.utils.StateSumming;`

...and no issues calling the sumCashBy method.

[2019-02-19 05:06] #4738 closed

[2019-02-19 22:40] arsalankhalid commented on #4724
Any updates on this? What if I don't want to use 5.0-SNAPSHOT, seems like there's no response to this, as this keeps happening when I do runnodes...

[2019-02-20 13:53] robertmckay commented on #4724
I talked to Roger Willis about it and he suggested that it would work if we include the classes from corda-finance in our own cordapp. Basically it's not currently possible to subclass contracts that are part of a different cordapp (such as corda-finance).

I should add that while 5.0-SNAPSHOT doesn't crash the node on startup anymore, it turns out that it doesn't work either.. instead you get a m

[2019-02-21 16:56] szymonsztuka commented on #4037
Closing, the issue is resolved in Corda 4.0.

[2019-02-21 16:56] #4037 closed

[2019-02-25 11:49] kagile opened #4810 "ActiveMQNotConnectedException Corda"
- Corda Version: 4.0
- ActiveMQ running on port 8161

[code]
After running above task, I am getting following exception.
I saw the notes and upgraded Corda to v4.0 but still I'm not able to run the server.

[code]

[2019-02-27 08:41] grebnetiew opened #4822 "Documentation of hello world example out of date"
The tutorial includes source code for [a "hello world" example](https://github.com/corda/corda/tree/master/docs/source/example-code/src/main/java/net/corda/docs/java/tutorial/helloworld). However, this code does not compile as written, and is different from the [solution](https://github.com/corda/corda-tut1-solution-java) also maintained by the corda account. This solution does work correctly. The

[2019-02-27 14:15] opticyclic commented on #4233
[V4 docs](https://docs.corda.net/releases/release-V4.0/network-builder.html) point to https://ci-artifactory.corda.r3cev.com/artifactory/corda-releases/net/corda/corda-network-builder/4.0-corda/corda-network-builder-4.0-corda-executable.jar

However, the latest version in artifactory is 3.2
https://ci-artifactory.corda.r3cev.com/artifactory/corda-releases/net/corda/corda-network-builder/

[2019-02-28 09:40] aalok05 commented on #4447
Facing the same issue.

[2019-03-01 07:51] remmeier opened #4833 "Improve Metrics"
Would be great to see some enhancements to the metrics part of Corda:

- the documentation points out the use of JMX to access the metrics through Jolokia. But JMX is not overly much "fun" to use and for this reason never gained much adoption.
- Dropwizard metrics is used in the underlying implementation. The past two years micrometer gained a lot of traction and activity, while not so much happen

[2019-03-04 01:51] gtabmx opened #4843 "DemoBench cordapps directory ignored when loading profile"
When loading cordapp jars from the UI when creating nodes, cordapps load fine, as evidence by both the logs listing the loaded cordapps, as well as the available flows from `flow list`. However, building a profile with the same cordapp jars in the cordapps directories does not result in them loading when the profile is loaded.

How I tested. I deployed 3 nodes (Notary, A, and B) with the UI, manua

[2019-03-04 17:16] remmeier opened #4850 "Support Tracing-based Monitoring"
Corda currently provides metrics and logging in the area of monitoring. The third corner stones of monitoring systems is tracing. In corda it could mean tracing of events for processed flows, sent JMS messages and database access.

In this area https://opentracing.io/ is a standardization effort support by the CNF. It is only an API and different implementations/monitoring system can be plugged in

[2019-03-08 00:39] viraj124 commented on #4523
Hi Mike the thing you said regarding Making the observer node as a participant worked absolutely fine in corda 3.3 but in corda 4 since we define the sessions of all participants in the finality flow then how can we handle that as it requires a

[2019-03-08 15:20] roastario commented on #3805
Dockerform is deprecated. Please use the official docker images.

[2019-03-08 18:07] #3805 closed

[2019-03-13 10:17] PatrickPan2012 opened #4885 "Invalid Kotlin Source Code in Tutorials "Hello, World! Pt.2""
Hi,

The kotlin source codes in ["Updating the borrower’s flow"](https://docs.corda.net/tut-two-party-flow.html#updating-the-borrower-s-flow) can't be displayed successfully though I can find them in Github repo. Personally, it would be better to fix.

Thanks very much.

[2019-03-19 08:30] Nihhaar commented on #3082
@rick-r3 Does the JMeter use new rpc connection each time for initiating a new flow? In this case, does the flows run in parallel? In my testing, for 100 rpc connections (from same client but different rpc object) each initiating a flow, I got 20 seconds as total time for the experiment but the average latency of each transaction is 15 sec suggesting the flows are run in parallel.

But the open so

[2019-03-19 13:21] keykey7 commented on #3751
I also face NPEs on a pure-java dapp during the suspend.
[code]
It's not the first suspend within this flow. I can only reproduce it on a real multinode setup, but not with a multinode mock network. `-Dco.paralleluniverse.fibers.verifyInstrumentation=true` doesn't complain nor does `flowStackSnapshot()` reveal any unexpected insights: there are no lambdas, unserializable classes, or alike in any f

[2019-03-24 11:51] ice09 opened #4923 "irs-demo web part not working"
In master I tried to start the irs-demo in macOS.

Startup for all components work fine, no errors or issues are reported.

On opening `http://localhost:10010` an unstyled and not working web application is shown (links are clickable, but nothing happens). In the web console, I can see that some resources like `http://localhost:10010/js/bower_components/requirejs/require.js` could not be loaded (4

[2019-03-26 00:18] arsalankhalid commented on #4470
Has this been tested for 4.0? I'm happy to look into this...

[2019-03-26 12:15] prateektiwari7 opened #4938 "Unable to import SumCashby in corda v4"
Hello Team

I am unable to import the function sumCashby in intelliJ IDEA having corda v4

Here is the code

![Screen Shot 2019-03-26 at 5 35 34 PM](https://user-images.githubusercontent.com/25363351/54996135-7d080880-4fee-11e9-804c-27ce4ed4cc0e.png)

I tried the issue #4738 in the dependencies I have Added the code, but it is not working.

`  cordaCompile "$corda_release_group:corda-finance:$cord

[2019-03-27 05:49] prateektiwari7 commented on #4885
Hi @PatrickPan2012

Can you please show me your error. I think for Java it is working and in Java it is using some of .kt files to call the libraries.

[2019-03-27 06:20] PatrickPan2012 commented on #4885
Hi @prateektiwari7

The source codes are correct. What I mean is the codes can't be shown correctly in the [document](https://docs.corda.net/tut-two-party-flow.html#updating-the-borrower-s-flow). Please click the hyper link and click tab "Kotlin".

[2019-03-27 08:48] prateektiwari7 commented on #4885
Hi @PatrickPan2012

Yes I agree with you. At many places we have find the bug to call the events. I think Corda team must need to work on documentation part.

[2019-03-27 14:46] jschmiede commented on #4233
Any news about this???, it has been a while

[2019-03-28 06:12] alex-footies opened #4952 "Corda 4.0 client rpc LinearStateQueryCriteria serialization problem"
Trying to execute next steps:

1) QueryCriteria linearStateCriteria = new QueryCriteria.LinearStateQueryCriteria(...)

no matter what constructor parameters of LinearStateQueryCriteria are used.

2) connection.getProxy().vaultQueryByCriteria(linearStateCriteria,SomeState.class);

Getting:

Serialization failed direction="Serialize", type="net.corda.core.node.services.vault.QueryCriteria$LinearStat