[2020-07-06 13:42] bonii commented on #6413
Hi @nikinagy,
Yes but that is a workaround for the OR combinator which I created to help in reproducibility of the bug under different cases. I don't think you mean to say that do not use the OR combinator and the bug will not be fixed in Corda?

[2020-07-06 14:08] lemjclarke opened #6436 "Modify the CreateAccount flow in Corda accounts to allow custom notary"
The `CreateAccount` flow in Corda accounts uses the first available notary: https://github.com/corda/accounts/blob/master/workflows/src/main/kotlin/com/r3/corda/lib/accounts/workflows/flows/CreateAccount.kt#L43

Would it be possible to allow the notary to be specified please?

Thanks!

[2020-07-07 15:13] panghalamit opened #6443 "Transaction deserialization exceptions while trying to get transactions using CordaRPCOps.internalVerifiedTransactionsSnapshot"
I am running on corda os 4.4 release.  I am running into following error after calling

`internalVerifiedTransactionsSnapshot().get(0).getCoreTransaction().getOutputState()`

Running into
[code]

Steps to reproduce:
1) install accounts cordage, create a new account
2) call `internalVerifiedTransactionsSnapshot().get(0).getCoreTransaction().getOutputState()` on rpc proxy.

Had a similar issue with

[2020-07-07 23:41] panghalamit commented on #6443
closing this as it is related to `https://r3-cev.atlassian.net/browse/CORDA-2330` . Adding cordapps to client's classpath solved this.

[2020-07-07 23:41] #6443 closed, assigned to nobody

[2020-07-14 04:07] valcharo92 opened #6459 "Apache.2.0"
Thank you for choosing to report an issue with Corda.

When reporting an issue please make sure it contains;

* A clear description of the issue
* Any logs or stack traces that you can provide (use a site like https://pastebin.com for larger logs)
* Steps to reproduce the issue
* The version/tag/release or commit hash it occurred on

[2020-07-14 14:41] davidrapacchiale commented on #6459
Hi @valcharo92 can you please provide more information on this issue?

[2020-07-14 14:41] #6459 closed, assigned to nobody

[2020-07-14 14:52] #6210 closed, assigned to nobody

[2020-07-16 11:45] adrian-scehura opened #6474 "bouncycastle version is outdated"
Hi, I need to use `Ed25519PrivateKeyParameters` from bouncycastle  in cordaApp but Corda core (4.5.1-RC01 ) is using the old version (1.60 ) which doesn't have it :confused:

1. Do you have any plan to upgrade the Bouncy Castle version?
2. Is there some way to use bouncy castle with `Ed25519PrivateKeyParameters` when corda core is still using old one?

Thanks!

[2020-07-21 10:52] snedamle opened #6486 "Flows can be triggered via ServiceHub.startFlow though the node is put in draining mode"
When we put the node in draining mode, we only restrict RPC I think. So commands requiring to start new flows through RPC will be rejected.
But we are able to start new flows by invoking ServiceHub.startFlow.

[2020-07-21 10:53] snedamle commented on #6486
https://stackoverflow.com/questions/62998439/corda-drain-mode-does-not-prevent-the-flows-to-start/63008073#63008073

[2020-07-22 00:39] rajjoshi22 opened #6495 "java.lang.OutOfMemoryError when running flow tests at once"
## Problem
I recently finished writing some unit tests for a flow in a project I'm working on. There's 13 tests that pass when run individually but at least 2 fail each time when I run all the tests for the flow. The first failure always produces a `ClassGraphException: Uncaught exception during scan` caused by `java.lang.OutOfMemoryError: Java heap space`. The second test to fail says different t

[2020-07-22 09:48] ando0689 opened #6498 "There is no way to determine if the node is in drain mode inside corda service"
There is a bug in corda, which is described here - https://github.com/corda/corda/issues/6486

Due to presence of this bug, I at least need to create a solution for myself and throw an error whenever a flow start request is received and the node is in drain mode.

But after days of research I cannot find a way to determine if the node is in Drain mode or not, the description this issue is [here](h

[2020-07-22 11:19] bonii opened #6500 "Type of parameter sessions varies in FlowLogic.sendAll and FlowLogic.receiveAll functions"
In `FlowLogic`,  the function signature of `sendAll` requires the `sessions` parameter to be of `Set` type while the complementary function `receiveAll` requires the `sessions` parameter to be of `List` type. Is there a specific reason for this difference since from the API perspective it appears to be a bug?

[2020-07-28 13:12] davidrapacchiale commented on #6474
Thanks for reporting this, @adian . We are currently working on it (you can track the progress at https://r3-cev.atlassian.net/browse/CORDA-3845). I will close this issue for now.

[2020-07-28 13:12] #6474 closed, assigned to nobody

[2020-07-30 10:07] AlinGabriel commented on #701
Hi. this problem is still not solved in openJdK 11. I tried adding BouncyCastle , but did not helped. Does anyone have any other idea ?
I am missing the exact same curve:

java.security.cert.CertificateParsingException: java.io.IOException: Unknown named curve: 1.3.132.0.38

[2020-08-03 07:49] zaslavskii opened #6550 "Establishing SSH connection takes significant time"
RPCClient is starting for too long

Version: corda/corda-zulu-java1.8-4.4 (docker image)
Environment: GKE (k8s v1.15)

For each liveness probe new ssh connection is opened and then closed after command is executed. Previously, on corda 4.3, we reused the ssh connections, but on 4.4 it's not possible to continue using opened ssh connection after "run currentNodeTime" is executed, as despite the ope

[2020-08-05 10:11] marioschlipf opened #6569 "Do not leak unnecessary dependencies into the classpath"
Hi,

For the gradle dependency management, Corda is using `compile` dependencies everywhere. This leads to pollution of the classpath of the libraries using Corda dependencies.

See the gradle documentation on `compile` dependencies:

https://docs.gradle.org/current/userguide/java_library_plugin.html#sec:java_library_separation

For the development of Cordapps this isn't a big deal, but developmen

[2020-08-11 17:22] mevir commented on #6495
@rajjoshi22 I had the same issue and the workaround was to set the test `forkEvery` property to `1` in the `build.gradle` script of the project/subproject:
[code]
See https://docs.gradle.org/current/userguide/java_testing.html for more details.

[2020-08-11 19:00] mevir commented on #6436
@lemjclarke I don't see any reason to allow specifying a specific notary at this moment:
- the transaction created by the `CreateAccount` flow is actually never notarized (it has no input or reference states or time windows)
- there is no way to consume the `AccountInfo` state created by the transaction (at least for this moment) so its `StateRef` will not be registered as consumed by any notary -

[2020-08-12 07:38] lemjclarke commented on #6436
Hi,

Yes, I think this caused some confusion. I was thinking that the `CreateAccount` flow didn't require notarization but I would get an error running this flow when a notary wasn't present.

Do you know if there are any plans to change how this is done i.e. to allow issuances without a notary being present?

Anyway, thanks for clearing this up!

Michael.

[2020-08-12 08:27] mevir commented on #6436
I am not familiar with the Corda core development so I don't know what are the implications to allow state issuance without a notary nor if there are any plans to implement this behavior. I haven't seen any enhancement request with this subject also ...
What I can see is the `VaultStates` schema defines the `notary` column as not nullable ( [here](https://github.com/corda/corda/blob/9965af180e4ab7

[2020-08-12 08:32] lemjclarke commented on #6436
Ok, great! Thanks for the explanation. I'm happy for this to be closed.

[2020-08-12 17:39] ando0689 commented on #6486
Has this issue been identified already? can we expect the resolution of this in near future? It is causing a lot of trouble...

[2020-08-13 08:10] mnesbit commented on #6486
Unfortunately it is unclear what the correct resolution would be, since we won't be able to store any checkpoints. We can certainly throw exceptions during draining mode, but for many flows this would lose important vault events. What behaviour would you expect?

[2020-08-13 14:02] zaslavskii commented on #6550
Guys, any updates?

[2020-08-17 12:18] ando0689 commented on #6486
Hi. What I currently do is -
[code]
And this seems to be fine for our needs now. but it makes me have extra dependency of corda-node in my workflows module, and I need to actually start the flow to do this check, I cannot get the ServiceHubInternal outside the flow before starting it. So if such kind of behavior could be provided out of box, it would be better then not doing anything, otherwise it

[2020-08-18 11:38] Pris17 commented on #1869
I am facing this issue. Can somebody give the solution to this?

[2020-08-18 11:42] mnesbit commented on #1869
Upgrade to Corda 4.5, which has fixed deserialization issues with Map iterators

[2020-08-18 12:49] Pris17 commented on #6293
Facing this issue with Corda V4.3. What is the solution?

[2020-08-18 14:26] Bartman250 commented on #6293
basically make sure you have the same logger dependancies as corda - i.e slf4j etc.
If you have different dependancies then it will try and deserialise the wrong logger and blow up.
Apologies for lack of write up - been too busy !

[2020-08-18 14:34] Pris17 commented on #1869
Ok, Thanks. Can this issue occur because of low RAM memory?

[2020-08-19 11:23] hayk-kerobyan opened #6649 "Flow runs infinitely on v4.5.1 instead of throwing SQLGrammarException"
When a `String` field in a `QueryableState` exceeds its max char number defined by `Liquibase`  Corda  `v4.5.1` does not throw `SQLGrammarException` like in previous versions of Corda and the flow remains infinitely running. `node_checkpoints` table items count increases by 1 after each such request.

[2020-08-20 09:51] ando0689 commented on #6486
Any news on this topic? It really makes problems for me and I don't know how to proceed. If I would know that it will not be addressed by Corda team, I may be will hack something for myself...

[2020-08-20 18:00] jimtarded commented on #6092
What is the fix for this? Having the same issue when trying to build the build.gradle file in my existing project, so I can use accounts.

[2020-08-21 08:29] ando0689 commented on #6649
I am facing this kind of issue with 4.5.1 as well. It seems that `SQLGrammarException` happening in the persistence layer instead of ending flow with an error, suspend the flow and don't resume it... it hangs there forever.

[2020-08-21 13:35] Pris17 commented on #1869
Upgrading to 4.5 didn't resolve the issue. Below are the more details of the error and the flow execution.

Flow execution is between account A on Node A and the responder are 2 members i.e. account B on Node B and Node C is executing successfully, but it throws the tones of warnings and the error related to FiberDeserializationChecker at the end of flow execution.
[code]
Flow execution is as foll

[2020-08-21 13:42] Pris17 commented on #6293
We are not using a logger. So, I don't think the issue is because of the logger.

Flow execution is between account A on Node A and the responder are 2 members i.e. account B on Node B and Node C is executing successfully, but it throws the tones of warnings and the error related to FiberDeserializationChecker at the end of flow execution.
[code]
Flow execution is as follows:
Triggers the CreateIn

[2020-08-22 20:49] michaeldowling commented on #6099
@sassit I'm encountering this issue right now, after configuring a 4 node networking utilizing "corda-tools-network-bootstrapper-4.4.jar".  My various _node.conf files are right from example:

`
devMode=true
myLegalName="O=AlphaBank,L=Seattle,C=US"
p2pAddress="alphabank:10200"
rpcSettings {
    address="0.0.0.0:10201"
    adminAddress="0.0.0.0:10202"
}
security {
    authService {
        dataSour

[2020-08-23 15:23] manishchainThat commented on #6495
We are running around long running 100 test cases by making small change in cordapp build.gradle file under Test task.
test {
// please note : this change should be added to the cordapp build.gradle (where tests are written)
    maxHeapSize = "4096m"
}
@rajjoshi22   we tried all the option that you mentioned above but no luck but after the above change things are working fine .

[2020-08-25 07:18] Bartman250 commented on #6293
@Pris17 If you are getting the error above - i.e. running out of memory, Then the only way to resolve is to debug into corda to where the check points get deserialised. The most likely cause is more that one version of the same library (not necessarily a logger). The error about happened because their were two logger libraries and the checkpoint deserialised the wrong one.
It took a long time to f

[2020-08-25 07:40] Pris17 commented on #6293
@Bartman250 Ok. I will look into this.

[2020-08-25 09:21] davidjgolding commented on #4810
`Timed out waiting to receive cluster topology`, in the context of Corda, means that the server can’t connect to the node - this is typically caused by incorrect connection arguments. The RPC arguments provided to the webserver must match those which have been set in the corresponding `node.conf` file, otherwise the connection will fail. Have you set your node’s RPC port as `8161` in `node.conf`?

[2020-08-26 14:58] adrian-scehura opened #6667 "Spring boot >= 2.2.0 doesn't work as RPC client"
I tested these Spring boot versions:
* 2.2.0,
* 2.3.0,
* 2.1.0,
* 2.1.15.

Spring below 2.2.0 is working as RPC client.

My configuration:
[code]

The error I get:
[code]

[2020-08-28 04:09] karthik137 commented on #6092
Link to accounts 1.1-SNAPSHOT works

https://ci-artifactory.corda.r3cev.com/artifactory/corda-lib-dev/com/r3/corda/lib/accounts/accounts-workflows/1.1-SNAPSHOT/

https://ci-artifactory.corda.r3cev.com/artifactory/corda-lib-dev/com/r3/corda/lib/accounts/accounts-workflows/1.1-SNAPSHOT/accounts-workflows-1.1-20200708.074723-1.pom

[2020-08-31 15:43] adamdry commented on #6092
I also got accounts `1.1-SNAPSHOT` to build.

I did also find the 409 error on the `1.0-RC03` version of ci: https://ci-artifactory.corda.r3cev.com/artifactory/corda-lib-dev/com/r3/corda/lib/ci/ci-workflows/1.0-RC03/ci-workflows-1.0-RC03.pom

[2020-09-01 15:10] vnermolaev opened #6680 "Merkle tree construction: single leaf is automatically promoted to root."
I would like to draw your attention to how Merkle tree is constructed when from a list of `SecureHash`-es in the case when this list contains a single element. In such a case any leaf automatically becomes the Merkle root.

Step by step:

1. `getMerkleTree` ([here](https://github.com/corda/corda/blob/release/os/4.6/core/src/main/kotlin/net/corda/core/crypto/MerkleTree.kt#L28)) receives a list of `

[2020-09-03 07:48] ccinin opened #6686 "v4.5 with mssql database"
I am trying to upgrade Corda node from v4.3 to v4.5. The node is using Microsoft SQL Server. It worked fine on v4.3. However, it hits an error on v4.5 during startup:

`E 13:53:25+0000 [main] internal.NodeStartupLogging. - Failed to create the datasource: Migration failed for change set migration/vault-schema.changelog-v9.xml::update-vault-states::R3.Corda:
Reason: net.corda.nodeapi.internal.persi

[2020-09-03 15:33] mvdbos commented on #6680
@mnesbit FYI. As discussed.

[2020-09-04 11:06] turisto commented on #6667
I believe dependency - implementation ("org.apache.activemq:artemis-jms-server:2.6.2") - might help as a workaround.

[2020-09-08 12:32] #6667 closed, assigned to nobody

[2020-09-11 14:02] lankydan commented on #6649
Hi,

This is expected behaviour.

Corda has some error handling built-in that handles this error (among other exceptions).

In this scenario, your flow had a `SQLGrammerException` thrown inside your flow when it tried to persist your `QueryableState`. This lead to your flow being kept for overnight observation or hospitalized (as we call it). Documentation can be found here about it [Flow Hospital

[2020-09-11 14:02] lankydan commented on #6649
Closing, see https://r3-cev.atlassian.net/browse/CORDA-3999.

[2020-09-11 14:02] #6649 closed, assigned to nobody

[2020-09-17 16:41] jweate commented on #6099
@michaeldowling I had a similar issue when running docker-compose up, I was able to track down the stack trace in the node.log file in the logs volume where I saw the NetworkParametersReader was being called. Eventually I realized my local network-parameters did not exist so compose was creating an empty directory for me, which was then causing it to fail. Creating the network-params with the netw

[2020-09-22 19:08] countfloyd commented on #4423
To add to that, newer versions of Java have faster, more efficient runtimes, more choices in garage collectors, use less memory and can save a lot of money when running in the cloud.

[2020-10-08 19:42] marioolislaegers commented on #6092
I just ported everything to the accounts & tokens template and started using Kotlin

[2020-10-14 07:05] dineralex opened #6766 "Wrong behaviour while closing jdbc connection"
**Environment:**
Corda OS 4.6 with H2DB on local machine with shell as a client

**Scenario:**
Create sequence in DB using migration script and use it for the application business logic
`CREATE SEQUENCE SOME_SEQ
            START WITH 1
            INCREMENT BY 1
            MINVALUE 1
            MAXVALUE 9223372036854775807`

**Usage:**
`ResultSet rs = serviceHub.jdbcSession().prepareStatement("

[2020-10-20 15:02] peterderooijaccenture opened #6779 "Notary signs hash of txId in 4.6 OS"
### Issue
When using Corda 4.6 (OS), the Notary signs the hash of the `txId`, not the `txId` itself.  This did not happen in 4.4.

Note: verification succeeds as long as you use the `TransactionSignature`: for the Notary signature that contains
an (incorrect) `partialMerkleTree` containing just the `txId` which hides the problem.  Specifically, verification
uses this as the hash to sign:
[code]
It

[2020-10-22 03:30] ruizbbchain opened #6781 "Can't retrieve Corda account from another node via it's PublicKey"
I'm trying to retrieve a corda account (i.e., the AccountInfo) of node A from inside the checkTransaction of node B via the signers PublicKey.
I tried all the share methods I could find shareAccountInfoWithParty, shareStateAndSyncAccounts, SyncKeyMappingInitiator, but nothing worked.
I do manage to retrieve the AccountInfo by its name in the same place, but not by the PublicKey in signers.

To bet

[2020-10-22 08:41] peterderooijaccenture commented on #6779
Update: I've been told that this is not a bug, it is an intentional design change, to support batch signing by the notary.  (This is an optimisation so the notary calls the HSM just once for a whole batch of transactions.)

Impacts:
-	The Notary broadcasts some info on how busy it is (approximate size of the batch is visible to all participants in transactions in the batch).
-	I think you can now

[2020-10-26 13:13] sachingokhale commented on #6680
This will be investigated in next major version upgrade in 2021

[2020-10-26 13:18] sachingokhale commented on #6766
This seems like issue at the H2 database, we are not able to support any issues from the H2 side. Closing this ticket, as it's is not a problem in Corda OS.

[2020-10-26 13:18] #6766 closed, assigned to nobody

[2020-11-04 09:43] zaslavskii commented on #6550
Any updates?

[2020-11-17 16:24] dazraf commented on #5141
Can we consider prioritising? I see several issues - please correct me if wrong:
1. Liquibase in 4.6 now has a central role in the mere bootup of any node, whether OS or ENT.
2. It's notably missing from the documentation for mapped schemas: https://docs.corda.net/docs/corda-os/4.6/api-persistence.html#schemas
3. Writing liquibase scripts by hand is labour intensive and error prone. Maintaining th

[2020-11-17 21:06] opticyclic opened #6812 "Default To Hibernate In DevMode"
Since 4.6 you need to specify Liquibase scripts for schemas
https://medium.com/corda/continuing-database-harmonization-between-corda-and-corda-enterprise-9d2a8ac12516

When developing locally you can avoid that by letting Hibernate manage the schema which requires the following command line option

    java -jar corda.jar --allow-hibernate-to-manage-app-schema

**Corda should default to this when

[2020-11-19 13:31] sachingokhale commented on #6779
Current behaviour is as expected, we are unable to fix this.

[2020-11-23 04:00] opticyclic opened #6813 "Generate Liquibase Scripts Automatically"
Following up on https://github.com/corda/corda/issues/6812 since 4.6 you need to specify Liquibase scripts for schemas.

This is really tedious to do by hand.

If you start the node with the right parameters hibernate will generate the schema for you:

    java -jar corda.jar --allow-hibernate-to-manage-app-schema

You can't do this in production though so you need to create the Liquibase scripts.

[2020-11-23 04:21] opticyclic opened #6814 "Add Database Management To Docs"
Since 4.6 it has been required to use Liquibase scripts to manage the schema.

The Corda Enterprise docs have information about this:

https://docs.corda.net/docs/corda-enterprise/4.6/cordapps/database-management.html

However, the equivalent doesn't appear to be in the Open Source documentation.

Please update the Open Source documentation to match the new required development features.

[2020-11-23 20:52] rampatra commented on #1790
May I ask in which Corda version the fix was applied?

[2020-11-24 07:25] opticyclic opened #6815 "Unsigned Cordapps Get Loaded When devMode=false"
Build the yo cordapp from the [samples](https://github.com/corda/samples-kotlin/tree/master/Basic/yo-cordapp).

    ./gradlew clean deployNodes

Change the node.conf in the PartyA directory from `devMode=true` to `devMode=false` and run it

    cd build/nodes/PartyA
    sed -i 's/devMode=true/devMode=false/g' node.conf
    java -jar corda.jar

You get the expected error:

Now modify the build.grad

[2020-11-24 07:30] cordar3 opened #6816 "Unable to run 2 party flow after migrating from H2 to SQL server."
Unable to run 2 party flow after migrating from H2 to SQL server.

After successful start up node with sql server, when i trigger any flow i am getting below error:

{fiber-id=10000147, flow-id=52a52641-72a9-4e8c-9cc0-9aa83d866fff, invocation_id=ffdf13b5-dccc-48ff-92b0-f52aef1e3de3, invocation_timestamp=2020-11-24T07:28:02.093Z, origin=O=PartyB, L=Florida, C=US, session_id=ffdf13b5-dccc-48ff-92b0-

[2020-11-24 14:28] joeldudley commented on #1790
@rampatra This is from 2017, so I assume it'll be in all the Corda 4 releases.

[2020-11-24 15:43] rampatra commented on #1790
Thanks @joeldudleyr3. One last question, where do I define `MAX_RETRIES` to 1?

[2020-11-24 16:38] joeldudley commented on #1790
@rampatra It's an interval variable - see https://github.com/corda/corda/commit/3fdc69e54199b9eedddc82b597c95c73870cc998. I don't believe you need to modify it to fix the issue.

[2020-11-26 23:06] manosbatsis opened #6825 "DriverDSLImpl: incompatible API between Corda CE and OS (4.6.1)"
* A clear description of the issue

Tools designed to use OS' `DriverDSLImpl` fail constructing an instance of the same class using CE.
The reason seems to be that CE adds an `enableSNI: Boolean` constructor parameter, perhaps without a default value.

* Any logs or stack traces that you can provide (use a site like https://pastebin.com for larger logs)

[code]

* Steps to reproduce the issue

Try

[2020-11-26 23:18] manosbatsis opened #6826 "DriverDSLImpl: incompatible API between Corda CE and OS (4.6.1)"
* A clear description of the issue

Tools designed to use OS' `DriverDSLImpl` fail constructing an instance of the same class using CE.
The reason seems to be that CE adds an `enableSNI: Boolean` constructor parameter, perhaps without a default value.

* Any logs or stack traces that you can provide (use a site like https://pastebin.com for larger logs)

[code]

* Steps to reproduce the issue

Try

[2020-11-26 23:19] manosbatsis commented on #6825
Replaced by https://github.com/corda/corda/issues/6826 to properly propagate the issue to jira

[2020-11-26 23:19] #6825 closed, assigned to nobody

[2020-11-27 09:45] dazraf opened #6827 "Deadlink in Node Configuration Docs"
Documentation link problem:

In the section on [Node Configuration](https://docs.corda.net/docs/corda-os/4.6/corda-configuration-file.html) there is a dead link for the node config [reference.conf](https://github.com/corda/corda/blob/release/os/4.6/node/src/main/resources/reference.conf).

[2020-11-30 10:59] manosbatsis commented on #6826
For the unlikely future bloke looking for a workaround, i used this in my [node driver helper](https://github.com/manosbatsis/corda-testacles/blob/master/corda-testacles-nodedriver/src/main/kotlin/com/github/manosbatsis/corda/testacles/nodedriver/NodeDriverHelper.kt):

[code]

[2020-12-26 22:13] avasilevich opened #6838 "VaultQueryException on every complex custom query request"
Vault query requests to get all type-specific states works fine, but every complex custom query request fails with:

` net.corda.core.node.services.VaultQueryException: An error occurred while attempting to query the vault: org.hibernate.hql.internal.ast.QuerySyntaxException: unexpected token: by near line 1, column 122 [select generatedAlias0, generatedAlias1 from net.corda.node.services.vault.Va

[2020-12-29 22:01] opticyclic opened #6839 "What Are The Outstanding Database Changes?"
Version:

    corda_release_version = '4.7'
    corda_gradle_plugins_version = '5.0.12'
    accounts_release_version = '1.0.2'

If you start Corda with `java -jar corda.jar --allow-hibernate-to-manage-app-schema` when you have **no** custom schemas but **do** have the accounts SDK as a dependency you will get the following error:

It doesn't tell you _what_ the outstanding database changes are tho

[2021-01-11 16:11] mvdbos opened #6844 "SecureHash.preImageResistantHashAs() triple-hashes, should be double"
This test incorrectly passes:

[code]
It uses the BLAKE_TEST custom hash algo from core/src/test/kotlin/net/corda/core/crypto/Blake2s256DigestServiceTest.kt.

This is because `SecureHash.preImageResistantHashAs` does this:

[code]

Note that digest.preImageResistantDigest() already is defined to do double hashing:

[code]

I would expect that if I override `digest.preImageResistantDigest` to do si

[2021-02-07 02:35] dengxina opened #6858 "corda-tools-ha-utilities-4.7.jar"
how to get corda-tools-ha-utilities-4.7.jar ?

[2021-02-07 03:35] natureoo opened #6859 "How can I get corda-tools-ha-utilities-<version>.jar"
I can't find this corda-tools-ha-utilities-.jar from internet or enterprise version, could anyone told me that how I could get it , version 4.4 to 4.7 is ok to me . thx.

[2021-02-08 10:41] janisolekss opened #6861 "If local transaction record fails, state becomes unrecoverable, as it will be notarised already at this point"
If multiparty flow fails on FinalityFlow local record, even if it is hospitalized, it won't be recoverable, as flow will be checkpointed at notarisation, not on local write in. This causes the case of notary conflict, as retry will restart from last checkpoint.

Easy way to "kill" local record is to have rawUpdate listening and throw exception from the process function (errroHanlder function shoul

[2021-02-09 11:21] lankydan commented on #6861
Talked through with Janis about this and don't think this is a problem since the notary will return the original notarisation response if a single transaction is sent multiple times to a notary.

[2021-02-09 11:21] #6861 closed, assigned to nobody

[2021-02-12 10:32] rickcrook opened #6870 ""java.lang.AssertionError: java.lang.NoSuchFieldException: target" on s390x with Corda"
duplicated from: https://github.com/eclipse/openj9/issues/11957

## Summary of problem

Exception raised `java.lang.AssertionError: java.lang.NoSuchFieldException: target` while running `java -jar corda.jar`

A quick scan of the internet shows this has been seen before puniverse/quasar#321 and been added to corda/corda#5139.
Switching to Hotspot (as per one suggestion) yields a deeper issue see #1

[2021-02-12 14:28] joransiu commented on #6870
Looking at the referenced change above, the implementation was updated to use VarHandle [1].  However, it's still searching for a field named `target`.  As such, I still expect a `NoSuchFieldException` to be thrown still with OpenJ9 JDK.  Perhaps we can update to catch that exception, and requery with:

[code]
While this code is a bit unpleasant, it is querying the internals (private field of Thre

[2021-02-12 16:23] joransiu commented on #6870
Btw, VarHandles and MethodHandles.Lookup.findVarHandle API were introduced in Java 9.  I expect the changes from https://github.com/corda/quasar/commit/25031be are likely part of the migration towards Java 9+ support.

If we need a Java 8 compatible fix, we can make a similar change against the existing code:   i.e. still use `GetDeclaredField(..)`, but also query `runnable` field name as fallback

[2021-02-16 15:26] amolpednekar commented on #5254
Bumping this! @jrosmith @tzdesing @prateektiwari7 - Were you guys able to resolve this?

PS: This is required to allow Corda's VaultCustomQueryCriteria on the child entities.

[2021-02-19 06:30] prateektiwari7 commented on #5254
Hey @amolpednekar

Nope it is not solved, please provide us  the way to solve it

[2021-02-24 14:11] rickcrook commented on #6870
*Solution 1: s390x support for Corda supported JVMs*
https://docs.corda.net/docs/corda-enterprise/4.7/platform-support-matrix.html
These are the two supported JVMs for Corda - Oracle JDK 8 JVM 8u251 and Azul Zulu Enterprise 8u252,
I don't believe either are supported on s390x.
If I can install either on s390x architecture then we may be able to avoid a code change.

*Solution 2: Corda support for

[2021-02-26 13:36] rickcrook commented on #6870
https://github.com/dazraf/quasar/tree/fix-for-ibm-jvm

@dazraf has fixed the reflection of the `target` field; this version is agnostic now to either the Oracle / OpenJDK and IBM JVMs; version number to 0.7.13_lab577 (which is essential to avoid the build attempting to pick up its internal dependencies from the local maven repo).

[2021-02-27 02:10] opticyclic opened #6883 "Resolving StatePointers Is Not Optional"
According [to the docs](https://docs.corda.net/docs/corda-os/4.7/api-states.html#state-pointers)

There is no parameter to prevent the pointed to data being carried along with the transaction and it always get carried across whether you want it to or not.

[2021-02-28 22:55] opticyclic opened #6884 "Unable To Run Multiple Tests Using Gradle"
During development where I run my tests individually inside IDEA everything passes.

However, when I run on the build server with `./gradlew test` the tests in the first class pass then tests in other classes fail with:

    java.lang.IllegalStateException: Using more than one mock network simultaneously is not supported.
        at net.corda.testing.node.internal.InternalMockNetwork.<init>(Intern

[2021-03-03 08:20] carrey1994 opened #6885 "sorting not works when query with criteria"
I tried to upgrade corda version to 4.6, but I found my own testcase which works fine on 4.5 happens error.
So I downloaded the "sample-kotlin" example to test my code.
Like the sceenshot, I hoped it can sort with LinearStateQueryCriteria but it only works with VaultQueryCriteria.
Does any parameter I miss? Or should I use other method to sort the linearId query result?
![image](https://user-image

[2021-03-09 12:22] ivanterziev-r3 commented on #5254
Marked as a documentation update requirement (for internal tracking see DOC-1812).

[2021-03-09 21:10] rach-id commented on #5254
@ivanterziev-r3 Can you please provide a brief description on how to solve this issue ? until the documentation is out ?

[2021-03-09 21:45] jrosmith commented on #5254
@amolpednekar @prateektiwari7 we were not able to resolve this using the hierarchical implementation, but did implement a workaround that requires us to write all queries making use of hierarchical relations as native sql. this has been a frustrating experience but at least something can be hacked together.

For a one to many scenario:
[code]

For many-to-many we had to manually create a through s

[2021-03-09 22:08] tzdesing commented on #5254
@amolpednekar, I have used the same approach of @jrosmith, pass UUID in constructor, my problem was in CordaSerializable.. You can Override method too.. If you share the code, we can analyze better..

[2021-03-09 22:10] tzdesing commented on #5254
@arthurmsouza

[2021-03-10 05:29] amolpednekar commented on #5254
@jrosmith Your suggested approach requires implementing child entities as Corda states, which I kind of ended up with - but is not ideal and is an additional overhead of maintaining and evolving separately. Especially if the child tables are simple and dont have a lifecyle of their own.

[2021-03-10 05:31] amolpednekar commented on #5254
The other option like you said is writing native queries on the child table (since it does not extend PersistentState). Because of the up-sert behaviour of custom schemas in Corda, there will be multiple entries per state update, have to put in an additional timestamp and sort by latest to return the latest result.
I was hoping I could rely on Corda's querying APIs to do all this.

[2021-03-10 09:24] rach-id commented on #5254
@jrosmith Could you please share an example of the manual hierarchical vault queries ?

[2021-03-10 16:35] jrosmith commented on #5254
@amolpednekar you are absolutely correct about the added overhead and i share your frustration with not being able to use Corda's built in querying apis to handle the situation. unfortunately this approach was the best option available given the circumstances of our use case. if anyone else has found another solution to make this work using the querying api's, i would be interested in hearing it

[2021-03-11 18:01] rach-id commented on #5254
@jrosmith Thank you sooo much for your help

[2021-03-12 15:27] manosbatsis opened #6887 "Support generic SerializationCustomSerializer"
Currently implementations of `SerializationCustomSerializer` need to be specific about the target type, so i end up with e.g.

[code]

Instead, i would like to create a generic serializer or factory like

[code]

I suppose the  API could be enhanced with a method for the serializer to report if it supports a concrete class etc.

[2021-03-12 15:38] petukhovv opened #6888 "Kotlin 1.5.0 fixes some type safety problems, need to fix some usages in Corda codebase"
Background.
Not so long ago, in the new type inference of the Kotlin compiler (which became available by default since Kotlin 1.4), we discovered a type safety problem related with the inference of a type variable by the type parameters' upper bounds and the expected type. The problem is that we successfully inferred the type based on unrelated types from the upper bounds of the type parameters an

[2021-03-22 11:35] mvdbos commented on #6680
@mnesbit @sachingokhale @cmadukwer3 @eierina

Since the experimental addition of Hash agility this bug introduces additional issues.

For those less involved in it, some background on how hash agility works:

* It is possible to implement custom hash algorithms to use for transactions by implementing the `DigestAlgorithm` interface and registering them with `DigestAlgorithmFactory.registerClass()`

[2021-03-26 02:09] opticyclic commented on #6883
See this repo
https://github.com/opticyclic/corda-linearpointer-demo

and specifically this test to demonstrate the problem
https://github.com/opticyclic/corda-linearpointer-demo/blob/master/workflows/src/test/kotlin/com/github/opticyclic/corda/demo/linearpointers/flows/EndToEndTest.kt

[2021-04-02 11:11] raynay-r opened #6893 "Configurable no-overlap checking"
For my use-case I need to load services dynamically from different JARs. I do this similar to the `SerializationWhitelist`, where I put a File into `META-INF/services`. Since the services i want to load come from different package I have multiple of these files with the same name, which is prevent by the no-overlap rule/check.

Here you make an exception for `SerializationWhitelist`, but prevent a

[2021-04-03 21:11] opticyclic commented on #2605
3 years later and this is still super irritating

[2021-04-13 10:15] mvdbos commented on #6844
Fixed

[2021-04-13 10:15] #6844 closed, assigned to nobody

[2021-04-13 10:17] mvdbos commented on #6680
Fixed by #6895

[2021-04-13 10:27] #6680 closed, assigned to nobody

[2021-04-18 05:58] opticyclic opened #6897 "Add Vault Query Over RPC Docs"
The Vault Query docs all refer to doing queries in tests:
https://docs.corda.net/docs/corda-os/4.7/api-vault-query.html#example-usage---java

The same queries don't seem to work the same over RPC.
e.g.

    QueryCriteria generalCriteria = new VaultQueryCriteria(Vault.StateStatus.ALL);

gets changed to

    QueryCriteria generalCriteria = new QueryCriteria.VaultQueryCriteria(Vault.StateStatus.ALL);

[2021-04-20 03:10] opticyclic commented on #6812
@sachingokhale you should publish comments here so that users can see them.
 @r3jirabot doesn't create links so you don't know where the internal tracker is (https://r3-cev.atlassian.net/browse/CORDA-4080)

I accidentally stumbled on JIRA today and found out that there was a comment 6 months ago!

The comment on JIRA of:

ignores all the people doing small projects testing things out and don't car

[2021-04-20 13:21] NooruddinLakhani commented on #6844
@mvdbos How?

[2021-04-20 13:46] mvdbos commented on #6844
@NooruddinLakhani Here: https://github.com/corda/corda/pull/6849/files#diff-17f10e20b9355f2e48f58043bf3489aad5fa7af81592a2852ee794fc0e706a43R225

[2021-05-06 16:30] sownak opened #6903 "Corda OS 4.7 Notary is demanding notary.serviceLegalName even when registering as single notary"
**Description**
While setting up a single Notary with Corda OS 4.7, the notary registration is failing with the following error

[code]
Even when there is no HA setup and we are following instructions as provided in https://docs.corda.net/docs/corda-os/4.7/corda-configuration-fields.html#notary

**Logs**
--- Corda Open Source 4.7 (75618ca) ----------------------------------------------------------

[2021-05-07 03:54] opticyclic opened #6904 "Standarise The Parameter Order In the Vault Queries"
It is very confusing changing from one vault query to another due to the differing order of parameters.

If I want to do a simple query by state, the Contract State Type is the first (and only) parameter:

    fun <T : ContractState> vaultQuery(contractStateType: Class<out T>): Vault.Page<T>

If I want to do a more complex query, the Contract State Type is now the last parameter:

    fun <T : Con

[2021-05-07 10:53] adnjerem opened #6905 "NumberFormatException in NodeStartup when debugging"
https://github.com/corda/corda/blob/241170ffa4f63616daeefb5dbb0dcd8d2c3ff21c/node-api/src/main/kotlin/net/corda/nodeapi/internal/JVMAgentUtilities.kt#L18

Kotlin `Short` being signed, the conversion is not correct: `toShort` throws a `NumberFormatException` for any valid port above 32767.

This can happen in `NodeStartup` during interactive debugging sessions, where in some cases (e.g. default con

[2021-05-07 16:37] sownak commented on #6859
I think it is only provided with an enterprise license

[2021-05-10 04:38] opticyclic commented on #6812
Lets also not forget that it is a _requirement_ to generate the scripts now in the open source version.
Yet there is no open source documentation on _how_ you actually do this https://github.com/corda/corda/issues/6814

[2021-05-21 05:31] amolpednekar commented on #6686
I am having this same issue with cordform task for SQLServer, @sachingokhale - any update on this?

Task
[code]

Error in the node logs

[code]

[2021-05-27 12:56] fbenantar commented on #6903
Hi,

have you been able to manage this issue ?

I am facing the same issue since this morning.

Cheers

[2021-06-01 12:28] sownak commented on #6903
@fbenantar yes, I was able to hack this by using the `serviceLegalName` for notary which must be different from the legalName

[2021-06-21 01:24] stevietrouble opened #6918 "Error finding `gradle-tooling-api`"
tl;dr: Fix in https://github.com/corda/corda/pull/6917

I'm getting this error when I try to build the project or any of the samples.

[code]

It looks like gradle's repo `https://repo.gradle.org/gradle/` doesn't work anymore. It could be a temporary issue, but given JFrog's recent changes it's possible it was intentional. The alternative `https://repo.gradle.org/artifactory/` is working correctly

[2021-06-26 05:04] ifwithoutelse commented on #5951
This is super inconvenient! There should be some work around.

[2021-07-13 10:46] opticyclic opened #6925 "Upgrade Kotlin Version"
The version of Kotlin (1.2.71) is almost 3 years old https://github.com/JetBrains/kotlin/releases/tag/v1.2.71
CordApps no longer compile in IDEA by default.
When building with IDEA you get the error:
`Kotlin: Language version 1.2 is no longer supported; please, use version 1.3 or greater.`

[2021-07-14 15:41] diegomrsantos opened #6926 "Possible memory leak when running flow tests"
* A clear description of the issue

While running flow tests we see that the heap size keeps growing over time. The Garbage Collector does not seem to be able to free used memory.

When setting max heap size to 2048 MB we are able to run all the tests successfully. Heap size grows until the limit and heap usage is around 800 MB. If we set the max heap size to 1024 MB, heap usage also grows to 800

[2021-07-26 10:52] #6885 closed, assigned to nobody

[2021-07-30 10:29] dazraf commented on #5143
Can we revive this thread please.
We've now seen in production on multiple occasions, where flows are left hanging owning to network issues with certain participants. Worryingly, even when those participants return, the flows remain unresolved. I should also add that these are not all signing flows. We have several use-cases where the flows use stages to negotiate the terms of the final transactio

[2021-07-30 21:16] Luidiblu commented on #6884
Help plx

[2021-08-05 18:28] wzur-r3 opened #6941 "[TEST] please ignore"
This is just a test of Github Jira integration. Please ignore

[2021-08-06 14:04] #6941 closed, assigned to wzur-r3

[2021-08-13 07:18] Ajay-V-Nair commented on #5719
Hi @davidrapacchiale
I am using Corda 4.7 which runs on Java 8. I am trying to build a cordapp for the enterprise version. When I am wrunning the deployNodes task, I am getting the same error. Error: Could not find or load main class net.corda.node.Corda
How do I resolve this?

[2021-08-17 20:38] adamschoenemann opened #6948 "`FlowLogicRefFactoryImpl.createForRpc` throws misleading error if no applicable `FlowLogic` constructors are found"
Hi R3.

I recently encountered the error `net.corda.core.flows.IllegalFlowLogicException: A FlowLogicRef cannot be constructed for FlowLogic of type com.deondigital.cordapp.flows.ExecuteOperationsFlow: due to ambiguous match against the constructors: [...]`

Turns out that you get this error *not* when there are in fact multiple matching constructors, but when there are *none*.
Luckily the extra l

[2021-08-19 13:00] MrMatthewLayton commented on #6883
@opticyclic As of Corda 4.3 there is a parameter called `isResolved` to prevent pointed-to data being pulled into the transaction as a reference state:

Note the API for Corda 4.0 when state pointers were introduced:
https://api.corda.net/api/corda-os/4.0/html/api/kotlin/corda/net.corda.core.contracts/-state-pointer/index.html

And here in 4.3 where `isResolved` was introduced:
https://api.corda.n

[2021-09-09 05:15] yash37158 commented on #6925
Hello! I would like to resolve this issue ? please assign it to me.

[2021-09-10 12:14] bjornbugge opened #6955 "Quadratic runtime when loading signed CorDapps"
# Background

Running a flow for the first time in a signed CorDapp gives unacceptable startup time. In our CorDapp, the time it takes to run the very first flow goes up from ~5-8s to ~60s if the CorDapp is signed.  The CorDapp has 5683 class files and is roughly 7,8 MB in size.

## Relevant versions

* Corda: 4.8 (both opensource and EE)
* Quasar: 0.7.13_r3
* JDK 8 u202

# Diagnosis

## What make

[2021-09-21 09:04] adamschoenemann opened #6958 "Contract Upgrade flows basically unusable with anonymous identities"
https://github.com/corda/corda/blob/241170ffa4f63616daeefb5dbb0dcd8d2c3ff21c/core/src/main/kotlin/net/corda/core/flows/AbstractStateReplacementFlow.kt#L183-L184

If you use an anonymous identity to sign your states (as is recommended), then contract upgrade flows will not work because of the referenced todos.
Basically, it will always say that you're not referenced in any input states and then qui

[2021-09-21 09:22] adamschoenemann commented on #6958
Proposed change to fix: https://github.com/corda/corda/pull/6959

[2021-09-24 19:12] JosekiSystems commented on #5719
Hi, I got the same error using Corda 4.7 and Java 11. Have you found a solution ?

[2021-09-27 10:19] sudesh-supraoracles opened #6963 "Request Support for BLS12 based signature verification"
Hi Team!

Since many protocols are putting BLS12 to use for digital signatures.
I want to verify BLS 12 based signature from the Corda smart contract.

Hoping for some positive inputs/response on this.

[2021-09-29 19:05] sandeepnRES opened #6964 "Denial of service attack in two party scenario."
I wanted to clarify one situation here, which I could not find any information in docs or blogs.

Let's assume a Corda network has two parties, party A, and party B, and a non-validating notary.
There's one asset X, a contract, and let's say asset X initially belongs to Party A, and it can be transferred to party B only if Party A tells the password, which is verified in contract when asset is to

[2021-10-13 03:21] abbasdgr8 commented on #786
Hello @mikehearn @joeldudleyr3

I would like to fix this issue. Should I just proceed by doing the fix and raising a PR?

[2021-10-13 07:52] mikehearn commented on #786
Hi Abbas, I don't work for R3 anymore. Perhaps Joel can comment.

[2021-10-25 13:26] abbasdgr8 commented on #786
Hi @joeldudleyr3, awaiting your response.

[2021-11-03 11:02] vstoykov commented on #6227
I understand that this issue is very old but just wanted to add something to the workaround provided by the @chrisr3 .

Adding this `setDriverSerialization(ClassLoader.getSystemClassLoader())` is slowing down the contracts test by a lot. From the range of hundreds ms to 3-4 seconds per test. I understand that there is probably not so much that can happen at this time but just to be marked as side

[2021-12-09 07:30] KztTateyama opened #6979 "Some files will be detected by the security software as Trojan horses."
Step:

1. downloaded this repository in zip
2. extracted it locally,

After following the above steps, my security software detected "Trojan-ArcBomb" from the following file.

- corda-release-os-4.8\core\src\test\resources\zip\zblg.zip
- corda-release-os-4.8\core\src\test\resources\zip\zbsm.zip
- corda-release-os-4.8\core\src\test\resources\zip\zbxl.zip

environment
- OS: Windows 10 Pro 64bit
- se

[2021-12-13 08:54] stevenvegt opened #6980 "Investigate log4j CVE-2021-44228"
I'm not sure if this is the place to report, but I couldn't find anything here and on the jira about this issue.

It seems the latest version of Corda is using a vulnerable apache log4j dependency.
https://github.com/corda/corda/blob/release/os/4.8/build.gradle#L71

https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-44228

The Log4j team has been made aware of a security vulnerability, CVE-20

[2021-12-14 06:43] #6964 closed, assigned to nobody

[2021-12-14 09:18] woggioni commented on #6979
that's correct, those files are zip bomb and are there to test Corda is able to handle zip bombs correctly (gracefully throwing an exception as opposed to running out of memory or disk space). I don't think we can do much about it (actually one trivial solution would be to encrypt them with some well-known key and decrypt them on the fly in unit tests)

[2021-12-14 10:16] dave-hudson commented on #6980
Thanks for flagging this. We started patching everything over the weekend and retesting. Here's our official update: https://docs.r3.com/en/release-notes.html

[2021-12-15 09:39] woggioni commented on #6979
After thinking a bit about it, I'm convinced the simplest solution is to simply add an exception to the antivirus to ignore those files. Hence I'm going to close this..

[2021-12-15 09:39] #6979 closed, assigned to nobody

[2021-12-15 09:40] snedamle commented on #6979
Thanks, @woggioni. @KztTateyama you can get in touch with us on our slack channel if you have any more questions. https://join.slack.com/t/cordaledger/shared_invite/zt-qg4fft35-ldb97HIf74gImY9XuGybUg

[2021-12-15 09:46] KztTateyama commented on #6979
I see , Thank you for your checking !

[2021-12-15 10:46] woutslakhorst commented on #6980
another CVE has been found: https://logging.apache.org/log4j/2.x/security.html#CVE-2021-45046
This requires an update to 2.16.0

[2021-12-15 12:12] mhaeusser commented on #6980
https://github.com/corda/corda/blob/release/os/4.8/build.gradle has been updated to contain:
ext.log4j_version = '2.15.0'

This is referenced in https://github.com/corda/corda/blob/release/os/4.8/common/logging/build.gradle :
// Log4J: logging framework
compile "org.apache.logging.log4j:log4j-core:$log4j_version"

However when I build locally, the corda-common-logging-4.8.pom file in my Maven Repo

[2021-12-20 08:55] davsclaus commented on #6980
There is already a log4j 2.17.0 release now

[2021-12-20 09:00] davsclaus opened #6992 "Use slf4j-api to allow using different logging frameworks"
With the log4j "issues" then I wonder if there is a potential to switch to use a logging abstraction like slf4-api which makes it possible for users to NOT use log4j at all with Corda.

[2021-12-20 09:08] davsclaus commented on #6992
If this is not desired, then consider to only depend on `log4j-api` and NOT `log4j-core` - so you only use its logging api.

You can use log4j-core in test scope or with your sample applications, but NOT by default in your corda client JARs

[2021-12-21 11:42] snedamle commented on #6979
@KztTateyama can you please get in touch with me on either sneha.damle@r3.com or on slack https://join.slack.com/t/cordaledger/shared_invite/zt-qg4fft35-ldb97HIf74gImY9XuGybUg

[2022-01-04 13:47] mnesbit commented on #6992
The API exposed to cordapps is SLF4J based i.e. [FlowLogic.log](https://github.com/corda/corda/blob/release/os/4.9/core/src/main/kotlin/net/corda/core/flows/FlowLogic.kt#L71), but due to the way in which Quasar checkpoints via reflection we have had to select a specific logging backend to manage during flow suspension to prevent errors. Thus the corda application is dependent upon containing an im

[2022-01-06 10:17] liuliyangsky commented on #6686
this problem been solved?

[2022-01-11 13:09] #6992 closed, assigned to adelel1

[2022-01-11 13:11] nargas-ritu commented on #6980
Currently updating the patches to 2.17.1

[2022-01-11 13:11] #6980 closed, assigned to nobody

[2022-01-11 13:18] nargas-ritu commented on #6963
Logged in the backlog for the internal review.

[2022-01-11 13:21] nargas-ritu commented on #6958
Logged in the backlog for an internal review.

[2022-01-11 13:24] nargas-ritu commented on #6955
Logged in the backlog for an internal review

[2022-01-11 13:25] nargas-ritu commented on #6948
Logged in the backlog for an internal review

[2022-01-11 13:28] nargas-ritu commented on #6926
Logged in the backlog for an internal review

[2022-01-18 13:13] sachingokhale commented on #6925
Ticket raised for review - CORDA-4181

[2022-01-18 13:16] rick-r3 commented on #6918
@steventrouble We don't seem to have needed to do this.  Can you confirm if you think this is still an issue?

[2022-01-18 13:19] sachingokhale commented on #6905
Ticket for internal review - CORDA-4182

[2022-01-18 13:19] rick-r3 commented on #6905
We would welcome a PR to fix this, if anyone feels inclined.

[2022-01-18 13:22] sachingokhale commented on #6904
Ticket for internal review - CORDA-4183

[2022-01-18 13:25] sachingokhale commented on #6903
Ticket raised for internal review - CORDA-4184

[2022-01-19 17:55] sescotti opened #7035 "Publish multi-arch Amazon Linux Docker images"
Hello,

The current AL images (i.e.: `corda/corda-corretto-java1.8-4.5`) are not compatible with ARM architectures (such as M1), which makes it hard to use them as base images to extend them. [Amazon Linux 2](https://hub.docker.com/layers/amazonlinux/library/amazonlinux/2/images/sha256-9c4e7b374a7a9253764876520d867ba1f5bfddeed82b029b5054cce0f71faf20?context=explore) is already a multi-arch image (

[2022-01-19 21:36] TywinLannister1313 commented on #6495
[code]

I got the same error.

I was testing adding Attachment’s to transactions with StartedMockNodes.  The tests were adding several different files of various sizes (i.e. invoice pdf’s that had been zipped).

I was experimenting passing a `List<File>` into a Flow and having the Flow upload each File to the node before including them in the TransactionBuilder.

The solution provided by @manishch

[2022-01-19 22:15] stevietrouble commented on #6918
Not sure, I haven't had time. They might have fixed their site in the
meantime

On Tue, Jan 18, 2022 at 5:16 AM Rick Parker ***@***.***>
wrote:

[2022-01-25 13:22] nargas-ritu commented on #6883
@opticyclic  Does the above answer your question?

[2022-01-25 14:20] nargas-ritu commented on #6918
Created [ CORDA-4187](https://r3-cev.atlassian.net/browse/CORDA-4187) for review

[2022-01-25 14:33] nargas-ritu commented on #6897
Created [CORDA-4186](https://r3-cev.atlassian.net/browse/CORDA-4186) for review

[2022-01-25 14:38] nargas-ritu commented on #6893
Created [CORDA-4188](https://r3-cev.atlassian.net/browse/CORDA-4188) for review

[2022-01-25 16:19] nargas-ritu commented on #6888
Created [CORDA-4190](https://r3-cev.atlassian.net/browse/CORDA-4190) for internal review

[2022-01-25 16:22] nargas-ritu commented on #6887
Created [CORDA-4191](https://r3-cev.atlassian.net/browse/CORDA-4191) for an internal review

[2022-01-25 16:24] nargas-ritu commented on #6884
Created [CORDA-4192](https://r3-cev.atlassian.net/browse/CORDA-4192) for an internal review

[2022-01-25 16:27] nargas-ritu commented on #6870
Created [CORDA-4193](https://r3-cev.atlassian.net/browse/CORDA-4193) for an internal review

[2022-01-25 16:30] nargas-ritu commented on #6859
Created [CORDA-4194](https://r3-cev.atlassian.net/browse/CORDA-4194) for an internal review

[2022-02-01 13:07] nargas-ritu commented on #6858
Created CORDA-4194 for an internal review

[2022-02-01 13:12] nargas-ritu commented on #6839
Created [CORDA-4197](https://r3-cev.atlassian.net/browse/CORDA-4197) for an internal review

[2022-02-01 13:16] nargas-ritu commented on #6838
@avasilevich is it still an issue or it's resolved?

[2022-02-01 13:28] nargas-ritu commented on #6816
SQL server is not supported in Corda OS.

[2022-02-01 13:28] #6816 closed, assigned to nobody

[2022-02-08 09:58] nargas-ritu commented on #6859
The jar is present in the subsequent patches of 4.7

[2022-02-08 09:58] #6859 closed, assigned to nobody

[2022-02-08 09:59] nargas-ritu commented on #6858
The jar is present in the subsequent patches for 4.7

[2022-02-08 09:59] #6858 closed, assigned to nobody

[2022-02-22 09:53] nargas-ritu commented on #5461
Internal ticket - [CORDA-4208](https://r3-cev.atlassian.net/browse/CORDA-4208)

[2022-02-22 13:08] nargas-ritu commented on #4425
Descoping as Bintray is decommissioned.

[2022-02-22 13:08] #4425 closed

[2022-02-22 13:30] nargas-ritu commented on #5332
Workaround provided above

[2022-02-22 13:30] #5332 closed

[2022-02-22 14:30] chrisr3 commented on #5332
_Yikes!_ A voice from 2019...

[2022-02-22 16:09] nargas-ritu commented on #5420
Internal ticket- [ENT-6695](https://r3-cev.atlassian.net/browse/ENT-6695)

[2022-02-22 16:14] nargas-ritu commented on #5419
Internal ticket - [CORDA-4210](https://r3-cev.atlassian.net/browse/CORDA-4210)

[2022-02-22 16:17] nargas-ritu commented on #5393
Internal ticket - [CORDA-4211](https://r3-cev.atlassian.net/browse/CORDA-4211)

[2022-02-22 16:21] nargas-ritu commented on #5373
Internal ticket - [CORDA-4213](https://r3-cev.atlassian.net/browse/CORDA-4213)

[2022-02-22 16:21] nargas-ritu commented on #5254
Internal ticket - [CORDA-4212](https://r3-cev.atlassian.net/browse/CORDA-4212)

[2022-02-22 16:24] nargas-ritu commented on #5372
Internal ticket - [CORDA-4214](https://r3-cev.atlassian.net/browse/CORDA-4214)

[2022-02-22 16:26] nargas-ritu commented on #5354
Internal ticket - [CORDA-4215](https://r3-cev.atlassian.net/browse/CORDA-4215)

[2022-03-01 09:40] #5204 closed

[2022-03-01 09:51] rick-r3 commented on #5200
This is telling you that you have an instance of `java.util.SubList` on the stack and that Kryo cannot handle deserialisation of it.  Not sure quite where that is coming from, but presumably somewhere in that code.  It is possible to write custom serializers (see the docs) but it might just be easier to make sure any sub list is turned back into an `ArrayList` which is serializable, or keep it off

[2022-03-01 09:51] #5200 closed

[2022-03-01 09:54] #4975 closed

[2022-03-01 10:02] rick-r3 commented on #4966
Working in latest branch

[2022-03-01 10:03] rick-r3 commented on #4822
PR was merged

[2022-03-01 10:03] #4822 closed

[2022-03-01 10:07] rick-r3 commented on #4708
It's part of the API stability assurance, so cannot be changed.

[2022-03-01 10:07] #4708 closed

[2022-03-01 10:15] rick-r3 commented on #1859
No response

[2022-03-01 10:37] rick-r3 commented on #4843
DemoBench is deprecated.  Won't fix.

[2022-03-01 10:37] #4843 closed

[2022-03-01 10:42] rick-r3 commented on #4665
I believe changes in Feb 2019 should have solved this for `1.8.0_202-ojdkbuild`

[2022-03-01 10:42] #4665 closed

[2022-03-01 10:46] rick-r3 commented on #4810
No response

[2022-03-01 10:46] #4810 closed

[2022-03-01 10:48] rick-r3 commented on #3702
DemoBench is deprecated

[2022-03-01 10:48] #3702 closed

[2022-03-01 10:55] rick-r3 commented on #4444
Not going to expand support to include HV by default in C4.

[2022-03-01 10:55] #4444 closed

[2022-03-01 11:00] #4447 closed

[2022-03-01 11:16] rick-r3 commented on #4233
Can't find any reference to it in the docs, but the artefacts are still there under `/net/corda/corda-tools-network-builder/`

[2022-03-01 11:16] #4233 closed

[2022-03-01 11:20] rick-r3 commented on #4368
In C4 we introduced a relevance flag in the vault to allow selection to distinguish between states recorded as observations vs. owned.

[2022-03-01 11:20] #4368 closed

[2022-03-01 11:23] #4104 closed

[2022-03-01 13:09] nargas-ritu commented on #5296
Not enough information.

[2022-03-01 13:09] #5296 closed

[2022-03-01 13:10] nargas-ritu commented on #5283
Templates were updated

[2022-03-01 13:10] #5283 closed

[2022-03-01 13:11] nargas-ritu commented on #5257
No response

[2022-03-01 13:11] #5257 closed

[2022-03-01 13:19] nargas-ritu commented on #5249
Internal ticket : [FEAT-537](https://r3-cev.atlassian.net/browse/FEAT-537)

[2022-03-01 13:22] #5222 closed

[2022-03-01 13:24] #5216 closed

[2022-03-01 13:28] nargas-ritu commented on #5201
It's fixed

[2022-03-01 13:28] #5201 closed

[2022-03-01 13:29] nargas-ritu commented on #5178
fixed in 4.3

[2022-03-01 13:29] #5178 closed

[2022-03-01 16:26] nargas-ritu commented on #5327
Internal ticket [CORDA-4218](https://r3-cev.atlassian.net/browse/CORDA-4218)

[2022-03-01 16:29] nargas-ritu commented on #5304
Internal ticket - [CORDA-4219](https://r3-cev.atlassian.net/browse/CORDA-4219)

[2022-03-01 16:33] nargas-ritu commented on #5302
Internal ticket - [CORDA-4220](https://r3-cev.atlassian.net/browse/CORDA-4220)

[2022-03-01 16:37] nargas-ritu commented on #5251
Internal ticket - [CORDA-4221](https://r3-cev.atlassian.net/browse/CORDA-4221)

[2022-03-01 16:39] nargas-ritu commented on #5225
Internal ticket - [CORDA-4222](https://r3-cev.atlassian.net/browse/CORDA-4222)

[2022-03-01 16:42] nargas-ritu commented on #5202
Internal ticket - [CORDA-4223](https://r3-cev.atlassian.net/browse/CORDA-4223)

[2022-03-15 13:28] nargas-ritu commented on #5121
It's fixed 4.9 onwards.

[2022-03-15 13:28] #5121 closed

[2022-03-23 11:11] nargas-ritu commented on #5142
Internal ticket [CORDA-4225](https://r3-cev.atlassian.net/browse/CORDA-4225)

[2022-03-23 11:13] nargas-ritu commented on #5141
Internal ticket [CORDA-4226](https://r3-cev.atlassian.net/browse/CORDA-4226)

[2022-03-23 11:16] nargas-ritu commented on #5140
Internal ticket [CORDA-4227](https://r3-cev.atlassian.net/browse/CORDA-4227)

[2022-03-23 11:19] nargas-ritu commented on #5139
Internal ticket [CORDA-4228](https://r3-cev.atlassian.net/browse/CORDA-4228)

[2022-03-23 11:21] nargas-ritu commented on #5127
Internal link - [CORDA-4229](https://r3-cev.atlassian.net/browse/CORDA-4229)

[2022-03-23 11:26] nargas-ritu commented on #5116
Internal ticket [CORDA-4231](https://r3-cev.atlassian.net/browse/CORDA-4231)

[2022-03-24 06:18] McXD commented on #6884
I have this same error. My reason was that I forgot to destroy the network after a unit test finished. Fixed by adding
[code]
to each unit test class

[2022-03-24 09:54] adelel1 commented on #6884
Yes, not doing the above would cause this. Thanks for the comment. Closing issue.

[2022-03-24 09:54] #6884 closed, assigned to nobody

[2022-03-24 10:48] nargas-ritu commented on #5069
We cant rename the function as we have an API compatibility guarantee.

[2022-03-24 10:48] #5069 closed

[2022-03-24 10:57] nargas-ritu commented on #5054
Can't reproduce in 4.8.x

[2022-03-24 10:57] #5054 closed

[2022-03-25 13:59] nargas-ritu commented on #5073
Internal ticket [CORDA-4234](https://r3-cev.atlassian.net/browse/CORDA-4234)

[2022-03-25 14:02] nargas-ritu commented on #5060
Internal ticket [CORDA-4235](https://r3-cev.atlassian.net/browse/CORDA-4235)

[2022-03-25 14:04] nargas-ritu commented on #5055
Internal ticket - [CORDA-4236](https://r3-cev.atlassian.net/browse/CORDA-4236)

[2022-03-25 14:07] nargas-ritu commented on #5040
Internal ticket - [CORDA-4237](https://r3-cev.atlassian.net/browse/CORDA-4237)

[2022-03-25 14:14] nargas-ritu commented on #5027
Internal ticket - [CORDA-4238](https://r3-cev.atlassian.net/browse/CORDA-4238)

[2022-03-25 15:41] opticyclic commented on #5069
So because of your API guarantee you are going to leave a security hole where clients can accidentally or maliciously shutdown the node???

The following modules form part of Corda’s public API and we commit to API/ABI backwards compatibility in following releases, **unless an incompatible change is required for security reasons:**

[2022-03-31 13:25] adamturski opened #7139 "Add owner/creator to LinearState to allow ordering by "mine" records first"
LinearState has a list of participants which will be automatically notified about changes etc.
Let's say that I have 2 nodes and on both nodes I created 2 states and shared them between nodes, by adding both parties on their participants list, for example:
PARTY_A: state1 (PARTY_A, PARTY_B)
PARTY_B: state2 (PARTY_B, PARTY_A)
PARTY_A: state3 (PARTY_A, PARTY_B)
PARTY_B: state4 (PARTY_B, PARTY_A)

le

[2022-04-04 12:16] AILazerka commented on #6925
Hi!

What is the state of it?

The newest (and not only) JetBrains products doesn't support the old Kotlin plugins which makes code completion not working for Corda applications.

[2022-04-05 12:09] nargas-ritu commented on #4954
PR was merged. Hence closing the issue

[2022-04-05 12:09] #4954 closed

[2022-04-05 12:10] nargas-ritu commented on #4952
Is this still an issue?

[2022-04-05 12:25] nargas-ritu commented on #4724
Fixed in subsequent releases

[2022-04-05 12:25] #4724 closed

[2022-04-05 12:26] nargas-ritu commented on #4701
Fixed with Corda 4.9

[2022-04-05 12:26] #4701 closed

[2022-04-05 12:30] #4654 closed

[2022-04-05 17:15] adelel1 commented on #4833
We're currently doing some research into this area. Specifically looking at opentelemetry and what that can give us.

[2022-04-05 17:22] adelel1 commented on #4742
Can you tell us what you are trying to achieve here, and why specifically a service to provide this info is needed. Thanks.

[2022-04-12 12:15] nargas-ritu commented on #4639
Please open a new issue against Corda 4.9 if the issue persists.

[2022-04-12 12:30] nargas-ritu commented on #3864
Won't do.

[2022-04-12 12:30] #3864 closed

[2022-04-12 13:45] nargas-ritu commented on #4155
Internal ticket - [CORDA-4241](https://r3-cev.atlassian.net/browse/CORDA-4241)

[2022-04-12 14:28] nargas-ritu commented on #4315
Internal ticket [CORDA-4242](https://r3-cev.atlassian.net/browse/CORDA-4242)

[2022-04-12 14:31] nargas-ritu commented on #4423
Internal ticket [CORDA-4243](https://r3-cev.atlassian.net/browse/CORDA-4243)

[2022-04-12 14:35] nargas-ritu commented on #4463
Internal ticket - [CORDA-4244](https://r3-cev.atlassian.net/browse/CORDA-4244)

[2022-04-12 14:39] nargas-ritu commented on #4502
Internal ticket - [CORDA-4245](https://r3-cev.atlassian.net/browse/CORDA-4245)

[2022-04-12 14:42] nargas-ritu commented on #4641
Internal ticket - [CORDA-4246](https://r3-cev.atlassian.net/browse/CORDA-4246)

[2022-04-12 14:50] nargas-ritu commented on #4755
Internal ticket - [CORDA-4247](https://r3-cev.atlassian.net/browse/CORDA-4247)

[2022-04-12 14:52] nargas-ritu commented on #4757
Internal ticket - [CORDA-4248](https://r3-cev.atlassian.net/browse/CORDA-4248)

[2022-04-12 14:55] nargas-ritu commented on #4923
Internal ticket - [CORDA-4249](https://r3-cev.atlassian.net/browse/CORDA-4249)

[2022-04-12 14:58] nargas-ritu commented on #5004
Internal ticket - [CORDA-4250](https://r3-cev.atlassian.net/browse/CORDA-4250)

[2022-04-14 12:14] adelel1 commented on #7139
HI, If you have a custom schema for your state you could add an issuer column and store the issuer in that column. Then use this to determine which states are yours.

[2022-04-14 13:51] adamturski commented on #7139
@adelel1 Issuer column is not enough to achieve "sorting by mine first" because you cannot pass your Party to "ORDER BY" clause. With issuer column only it would be possible to sort by issuer name which is not the same as take mine states first/last.
In my implementation I had to add "issuer: Party" on a state and a flag "ourState: Boolean" on a persistent state which is calculated comparing issue

[2022-04-19 12:47] ulrikrasmussen commented on #6160
I think this issue can be closed now: https://docs.r3.com/en/platform/corda/4.6/open-source/cordapp-custom-serializers-checkpoints.html

[2022-04-19 12:47] #6160 closed, assigned to nobody

[2022-04-20 17:49] opticyclic commented on #6883
You can rebuild the test above with 4.9 to verify.

[2022-04-26 12:14] nargas-ritu commented on #3801
Demo-bench deprecated. Closing the ticket

[2022-04-26 12:14] #3801 closed

[2022-04-26 12:15] nargas-ritu commented on #3786
Webserver is deprecated. Hence closing the ticket

[2022-04-26 12:15] #3786 closed

[2022-04-26 13:02] nargas-ritu commented on #3322
Internal ticket [CORDA-4251](https://r3-cev.atlassian.net/browse/CORDA-4251)

[2022-04-26 13:04] nargas-ritu commented on #2351
Internal ticket - [CORDA-4252](https://r3-cev.atlassian.net/browse/CORDA-4252)

[2022-04-26 13:07] nargas-ritu commented on #786
Internal ticket  [CORDA-4253](https://r3-cev.atlassian.net/browse/CORDA-4253)

[2022-04-27 12:06] adelel1 commented on #7139
HI, Your workaround seems reasonable. To add issuer to linear state would be an enhancement request. There is an internal Jira ticket CORDA-4240 created to track this.

[2022-04-27 15:17] adamturski commented on #7139
@adelel1 One of the problem with my solution is that inside of a XState I'm extracting something from flow, in this case current Party. It is not perfect, because ideally I would like to get account, but since I'm in context of a contract.jar I cannot use anything from workflows.jar.

[code]

I saw one of the ticket (https://r3-cev.atlassian.net/browse/CORDA-4229) which was suggesting to move stat

[2022-05-05 12:06] aaccioly commented on #5719
I had yet another variation of this issue with Corda 4.9.

### Community edition:

### Enterprise edition:

Big stack trace with small hints to the problem like

My specific problem was that my machine (`my-hostname`) was looping back over IPv6, i.e., `my-hostname` was `::1`.

Apparently Corda does not play well with IPv6. The fix is to make sure that Corda finds an IPv4 loopback address when it q

[2022-05-18 13:00] nargas-ritu commented on #4952
No response.

[2022-05-23 15:01] chrisr3 commented on #6955
Corda only instruments classes when they are first loaded by their `ClassLoader`, and we do not unload flow classes. Hence Qusasr does not need to be invoked at all when running a flow for the second time, which is a more likely explanation for this being faster than the first time.

[2022-06-14 18:19] Alffrredo opened #7204 "Java 17 Support"
Hi Corda Team!

I had issue to running Corda 5 nodes in a java17 jdk environment, Does it an unsupported version or i was missed something ?

Thanks,

[2022-06-24 12:06] ulrikrasmussen opened #7209 "Serialization depends on reference identity"
Consider the following program:

[code]
This prints:
[code]
Serialization is not bijective!

This is because Corda automatically de-duplicates multiple occurrences of objects in the serialized data using an `IdentityHashMap`, i.e. by reference equality (see `objectHistory` in `SerializationOutput.kt`). Supposedly this is done to reduce the size of serialized data in some cases.

The behavior is a

[2022-06-24 13:16] mohammad-al-zoubi commented on #5719
Hi,
I am also facing a similar error on Windows x64 when using the deployNodes task in the sample Cordapp:
- Java 8
- Gradle 5.6.4

[code]

[2022-06-30 14:39] roastario commented on #6779
@sachingokhale we need to re-investigate this. It would be nice to have the option to request an un-batched notarisation for some the reasons mentioned above

[2022-07-06 01:47] peterli-r3 commented on #7204
Hello @Alffrredo

Corda 5 currently only supports Java 11. The setup instructions are documented at [docs.corda.net ](http://docs.corda.net/)

Please feel free to contact [devrel@r3.com](mailto:devrel@r3.com) if you need any further information

[2022-07-06 01:47] #7204 closed, assigned to nobody

[2022-07-06 01:50] peterli-r3 commented on #7035
Hello @sescotti
thank you for your contribution to Corda!

Our engineers reviewed your request and established that, while your proposal would definitely improve Corda, the work needed to merge it (in terms of unit, integration and regression tests, documentation updates, security assessments, and ongoing maintenance) would prevent us from shipping features and fixes that are prioritized higher in

[2022-07-06 01:50] #7035 closed, assigned to nobody

[2022-07-06 01:53] #786 closed

[2022-07-06 01:54] #2351 closed

[2022-07-06 01:57] peterli-r3 commented on #3322
Hi Bartman250,

With Corda 5 coming soon, we are closing up the issues prior to Corda v4.5. Thank you for your contribution to Corda!

Please feel free to contact [devrel@r3.com](mailto:devrel@r3.com) if you need any further information

[2022-07-06 01:57] #3322 closed

[2022-07-06 01:59] peterli-r3 commented on #3998
Hi remmeier,

With Corda 5 coming soon, we are closing up the issues prior to Corda v4.5. Thank you for your contribution to Corda!

Please feel free to contact [devrel@r3.com](mailto:devrel@r3.com) if you need any further information

[2022-07-06 01:59] #3998 closed

[2022-07-06 02:00] peterli-r3 commented on #4110
Hi foultre,

With Corda 5 coming soon, we are closing up the issues prior to Corda v4.5. Thank you for your contribution to Corda!

Please feel free to contact [devrel@r3.com](mailto:devrel@r3.com) if you need any further information

[2022-07-06 02:00] #4110 closed

[2022-07-06 02:16] #4315 closed

[2022-07-06 02:17] peterli-r3 commented on #4423
Hi remmeier,

With Corda 5 coming soon, we are closing up the issues prior to Corda v4.5. Thank you for your contribution to Corda!

Please feel free to contact [devrel@r3.com](mailto:devrel@r3.com) if you need any further information

[2022-07-06 02:17] #4423 closed

[2022-07-06 02:17] peterli-r3 commented on #4463
Hi voddan,

With Corda 5 coming soon, we are closing up the issues prior to Corda v4.5. Thank you for your contribution to Corda!

Please feel free to contact [devrel@r3.com](mailto:devrel@r3.com) if you need any further information

[2022-07-06 02:17] #4463 closed

[2022-07-06 02:17] #4502 closed

[2022-07-06 02:18] peterli-r3 commented on #4641
Hi remmeier,

With Corda 5 coming soon, we are closing up the issues prior to Corda v4.5. Thank you for your contribution to Corda!

Please feel free to contact [devrel@r3.com](mailto:devrel@r3.com) if you need any further information

[2022-07-06 02:18] #4641 closed

[2022-07-06 02:28] #4739 closed

[2022-07-06 02:28] peterli-r3 commented on #4742
Hi forstema,

With Corda 5 coming soon, we are closing up the issues prior to Corda v4.5. Thank you for your contribution to Corda!

Please feel free to contact [devrel@r3.com](mailto:devrel@r3.com) if you need any further information

[2022-07-06 02:28] #4742 closed

[2022-07-06 02:29] peterli-r3 commented on #4755
Hi pgrindean

With Corda 5 coming soon, we are closing up the issues prior to Corda v4.5. Thank you for your contribution to Corda!

Please feel free to contact [devrel@r3.com](mailto:devrel@r3.com) if you need any further information

[2022-07-06 02:29] #4755 closed

[2022-07-06 02:29] peterli-r3 commented on #4757
Hi surajkaudgave

With Corda 5 coming soon, we are closing up the issues prior to Corda v4.5. Thank you for your contribution to Corda!

Please feel free to contact [devrel@r3.com](mailto:devrel@r3.com) if you need any further information

[2022-07-06 02:29] #4757 closed

[2022-07-06 02:30] #4833 closed

[2022-07-06 02:30] #4850 closed

[2022-07-06 02:34] #5004 closed

[2022-07-06 02:34] peterli-r3 commented on #5027
Hi cxyzhang0,

With Corda 5 coming soon, we are closing up the issues prior to Corda v4.5. Thank you for your contribution to Corda!

Please feel free to contact [devrel@r3.com](mailto:devrel@r3.com) if you need any further information

[2022-07-06 02:34] #5027 closed

[2022-07-06 02:35] peterli-r3 commented on #5040
Hi Alex,

With Corda 5 coming soon, we are closing up the issues prior to Corda v4.5. Thank you for your contribution to Corda!

Please feel free to contact [devrel@r3.com](mailto:devrel@r3.com) if you need any further information

[2022-07-06 02:35] #5040 closed

[2022-07-06 02:35] peterli-r3 commented on #5055
Hi remmeier,

With Corda 5 coming soon, we are closing up the issues prior to Corda v4.5. Thank you for your contribution to Corda!

Please feel free to contact [devrel@r3.com](mailto:devrel@r3.com) if you need any further information

[2022-07-06 02:36] #5060 closed

[2022-07-06 02:37] peterli-r3 commented on #5073
Hi Prateek,

With Corda 5 coming soon, we are closing up the issues prior to Corda v4.5. Thank you for your contribution to Corda!

Please feel free to contact [devrel@r3.com](mailto:devrel@r3.com) if you need any further information

[2022-07-06 02:37] peterli-r3 commented on #5082
Hi Opticyclic,

With Corda 5 coming soon, we are closing up the issues prior to Corda v4.5. Thank you for your contribution to Corda!

Please feel free to contact [devrel@r3.com](mailto:devrel@r3.com) if you need any further information

[2022-07-06 02:37] #5082 closed

[2022-07-06 02:38] #5116 closed

[2022-07-06 02:40] #5141 closed

[2022-07-06 02:40] #5140 closed

[2022-07-06 02:41] #5808 closed, assigned to nobody

[2022-07-06 02:41] #5636 closed, assigned to nobody

[2022-07-06 02:50] peterli-r3 commented on #5634
Hi Tywin,

With Corda 5 coming soon, we are closing up the issues prior to Corda v4.5. Thank you for your contribution to Corda!

Please feel free to contact [devrel@r3.com](mailto:devrel@r3.com) if you need any further information

[2022-07-06 02:50] #5634 closed, assigned to nobody

[2022-07-06 02:51] peterli-r3 commented on #5202
Hi MasX

With Corda 5 coming soon, we are closing up the issues prior to Corda v4.5. Thank you for your contribution to Corda!

Please feel free to contact devrel@r3.com if you need any further information

[2022-07-06 02:51] #5202 closed

[2022-07-06 02:52] #5302 closed

[2022-07-06 02:53] peterli-r3 commented on #5251
Hi ninmaj

With Corda 5 coming soon, we are closing up the issues prior to Corda v4.5. Thank you for your contribution to Corda!

Please feel free to contact devrel@r3.com if you need any further information

[2022-07-06 02:53] #5251 closed

[2022-07-06 02:54] peterli-r3 commented on #5249
Hi Dimashblocksure

With Corda 5 coming soon, we are closing up the issues prior to Corda v4.5. Thank you for your contribution to Corda!

Please feel free to contact devrel@r3.com if you need any further information

[2022-07-06 02:54] #5249 closed

[2022-07-06 03:00] #5461 closed, assigned to nobody

[2022-07-06 03:02] peterli-r3 commented on #5542
Hi

Corda now is available on Kubernetes.

Please feel free to contact devrel@r3.com if you need any further information

[2022-07-06 03:02] #5542 closed, assigned to nobody

[2022-07-06 03:03] peterli-r3 commented on #5563
Hi

With Corda 5 coming soon, we are closing up the issues prior to Corda v4.5. Thank you for your contribution to Corda!

Please feel free to contact devrel@r3.com if you need any further information

[2022-07-06 03:03] #5563 closed, assigned to rick-r3

[2022-07-06 03:04] #5393 closed

[2022-07-06 03:05] #5354 closed

[2022-07-06 03:06] peterli-r3 commented on #5304
Hi mvdbos

With Corda 5 coming soon, we are closing up the issues prior to Corda v4.5. Thank you for your contribution to Corda!

Please feel free to contact devrel@r3.com if you need any further information

[2022-07-06 03:06] #5304 closed

[2022-07-06 03:06] #5327 closed

[2022-07-06 03:07] peterli-r3 commented on #5479
Hi mhjort

With Corda 5 coming soon, we are closing up the issues prior to Corda v4.5. Thank you for your contribution to Corda!

Please feel free to contact devrel@r3.com if you need any further information

[2022-07-06 03:07] #5479 closed, assigned to nobody

[2022-07-06 03:08] peterli-r3 commented on #5420
Hi opticyclic

With Corda 5 coming soon, we are closing up the issues prior to Corda v4.5. Thank you for your contribution to Corda!

Please feel free to contact devrel@r3.com if you need any further information

[2022-07-06 03:08] #5420 closed

[2022-07-06 03:09] peterli-r3 commented on #5419
Hi lolo8304

With Corda 5 coming soon, we are closing up the issues prior to Corda v4.5. Thank you for your contribution to Corda!

Please feel free to contact devrel@r3.com if you need any further information

[2022-07-06 03:09] #5372 closed

[2022-07-06 03:09] peterli-r3 commented on #5225
Hi Tywin

With Corda 5 coming soon, we are closing up the issues prior to Corda v4.5. Thank you for your contribution to Corda!

Please feel free to contact devrel@r3.com if you need any further information

[2022-07-06 03:09] #5225 closed

[2022-07-06 03:10] #6073 closed, assigned to nobody

[2022-07-06 03:10] peterli-r3 commented on #6055
Hi Adel

With Corda 5 coming soon, we are closing up the issues prior to Corda v4.5. Thank you for your contribution to Corda!

Please feel free to contact devrel@r3.com if you need any further information

[2022-07-06 03:10] #6055 closed, assigned to nobody

[2022-07-06 03:11] peterli-r3 commented on #6007
Hi Jufemaiz

With Corda 5 coming soon, we are closing up the issues prior to Corda v4.5. Thank you for your contribution to Corda!

Please feel free to contact devrel@r3.com if you need any further information

[2022-07-06 03:11] #6007 closed, assigned to nobody

[2022-07-06 03:12] peterli-r3 commented on #5982
Hi Karthik137

With Corda 5 coming soon, we are closing up the issues prior to Corda v4.5. Thank you for your contribution to Corda!

Please feel free to contact devrel@r3.com if you need any further information

[2022-07-06 03:12] #5982 closed, assigned to nobody

[2022-07-06 03:12] peterli-r3 commented on #5973
Hi Karthik137

With Corda 5 coming soon, we are closing up the issues prior to Corda v4.5. Thank you for your contribution to Corda!

Please feel free to contact devrel@r3.com if you need any further information

[2022-07-06 03:12] #5973 closed, assigned to nobody

[2022-07-06 03:12] peterli-r3 commented on #5955
Hi Adel

With Corda 5 coming soon, we are closing up the issues prior to Corda v4.5. Thank you for your contribution to Corda!

Please feel free to contact devrel@r3.com if you need any further information

[2022-07-06 03:12] #5955 closed, assigned to nobody

[2022-07-06 03:17] #5868 closed, assigned to nobody

[2022-07-06 03:18] peterli-r3 commented on #5888
Hi

With Corda 5 coming soon, we are closing up the issues prior to Corda v4.5. Thank you for your contribution to Corda!

Please feel free to contact devrel@r3.com if you need any further information

[2022-07-06 03:18] #5888 closed, assigned to nobody

[2022-07-06 03:19] peterli-r3 commented on #5921
Hi Ulrikrasmussen

With Corda 5 coming soon, we are closing up the issues prior to Corda v4.5. Thank you for your contribution to Corda!

Please feel free to contact devrel@r3.com if you need any further information

[2022-07-06 03:19] #5921 closed, assigned to nobody

[2022-07-06 03:20] #5925 closed, assigned to nobody

[2022-07-06 03:21] peterli-r3 commented on #5926
Hi vjuge

With Corda 5 coming soon, we are closing up the issues prior to Corda v4.5. Thank you for your contribution to Corda!

Please feel free to contact devrel@r3.com if you need any further information

[2022-07-06 03:21] #5926 closed, assigned to nobody

[2022-07-06 03:21] #5927 closed, assigned to nobody

[2022-07-06 03:23] #5951 closed, assigned to nobody

[2022-07-06 03:24] peterli-r3 commented on #5965
Hi luca

With Corda 5 coming soon, we are closing up the issues prior to Corda v4.5. Thank you for your contribution to Corda!

Please feel free to contact devrel@r3.com if you need any further information

[2022-07-06 03:24] #5965 closed, assigned to nobody

[2022-07-06 03:24] #5980 closed, assigned to mnesbit

[2022-07-06 03:24] peterli-r3 commented on #6002
Hi Ajay

With Corda 5 coming soon, we are closing up the issues prior to Corda v4.5. Thank you for your contribution to Corda!

Please feel free to contact devrel@r3.com if you need any further information

[2022-07-06 03:24] #6002 closed, assigned to nobody

[2022-07-06 03:24] peterli-r3 commented on #6050
Hi Jaro

With Corda 5 coming soon, we are closing up the issues prior to Corda v4.5. Thank you for your contribution to Corda!

Please feel free to contact devrel@r3.com if you need any further information

[2022-07-06 03:24] #6050 closed, assigned to nobody

[2022-07-06 06:07] peterli-r3 commented on #5923
Hi Karthik137

The network bootstrapper does not support dynamically adding new nodes to the network. The optional solution is CENM or use the Corda network.

[2022-07-06 06:07] #5923 closed, assigned to nobody

[2022-07-06 06:13] peterli-r3 commented on #6550
Hello CaJIbHuk
thank you for your contribution to Corda!

Our engineers reviewed your Pull Request and established that, while your proposal would definitely improve Corda, the work needed to merge it (in terms of unit, integration and regression tests, documentation updates, security assessments, and ongoing maintenance) would prevent us from shipping features and fixes that are prioritised highe

[2022-07-06 06:13] #6550 closed, assigned to nobody

[2022-07-06 06:16] peterli-r3 commented on #6498
Hi ando0689

With Corda 5 coming soon, we are closing up the issues prior to Corda v4. Thank you for your contribution to Corda!

Please feel free to contact devrel@r3.com if you need any further information

[2022-07-06 06:16] #6498 closed, assigned to nobody

[2022-07-06 06:17] #6812 closed, assigned to blsemo

[2022-07-06 06:18] peterli-r3 commented on #6569
Hello Mario
thank you for your contribution to Corda!

Our engineers reviewed your request and established that, while your proposal would definitely improve Corda, the work needed to merge it (in terms of unit, integration and regression tests, documentation updates, security assessments, and ongoing maintenance) would prevent us from shipping features and fixes that are prioritised higher in our

[2022-07-06 06:18] #6569 closed, assigned to nobody

[2022-07-06 08:02] #6827 closed, assigned to nobody

[2022-07-06 08:04] #6905 closed, assigned to nobody

[2022-07-06 08:06] #6903 closed, assigned to nobody

[2022-07-07 07:45] #5127 closed

[2022-07-07 07:45] #5139 closed

[2022-07-07 07:45] #5142 closed

[2022-07-07 07:45] #5143 closed

[2022-07-07 07:45] #5189 closed

[2022-07-07 07:45] #5725 closed, assigned to nobody

[2022-07-07 07:45] #5832 closed, assigned to rick-r3

[2022-07-07 07:45] #5883 closed, assigned to rick-r3

[2022-07-07 07:45] #5931 closed, assigned to nobody

[2022-07-07 07:45] #5972 closed, assigned to nobody

[2022-07-07 07:45] #5986 closed, assigned to nobody

[2022-07-07 07:45] #6041 closed, assigned to nobody

[2022-07-07 07:45] #6089 closed, assigned to nobody

[2022-07-07 07:45] #6101 closed, assigned to nobody

[2022-07-07 07:45] #6318 closed, assigned to nobody

[2022-07-13 13:46] alexeykoren opened #7218 "Cannot load custom DigestAlgorithm class"
There is a HashAgility tool that allows for setting custom digest algorithms.

There might be a slight problem: inside init method it tries to call
`DigestAlgorithmFactory.registerClass(customDigestAlgorithmClassName)`
which tries to instantiate
`CustomAlgorithmFactory(customDigestAlgorithmClassName)`
which tries to instantiate CustomDigestAlgorithm via constructor that it gets from reflection usi

[2022-07-21 01:33] KotlinLubber commented on #6925
Yeh this is a real pain. Want to use the latest IntelliJ and held back by Corda. Any update on when Corda will upgrade from a super old deprecated version of Kotlin? In fact you really need to upgrade to 1.6 or 1.7 for it to work well with the latest IntelliJ. For your code to be usable in the latest IntelliJ really isn't much to ask.

https://plugins.jetbrains.com/plugin/6954-kotlin/versions

[2022-07-26 08:55] ulrikrasmussen commented on #5304
This issue is as relevant for Corda 4.9 as it is to versions prior to 4.5. As far as I know, no changes are planned in Corda 5 that would resolve this issue - so why close it?

[2022-09-30 05:41] sandeepnRES opened #7248 "Corda Docker Images removed from Dockerhub?"
- Corda Images 4.8.1 to 4.8.6, none of them are available at Dockerhub right now. Can someone please help on this?
Its been more than 48 hours I think.

Edit: Basically all patch versions are not available. And we are not sure 4.8 (it was updated last year) is free of all vulnerabilities (specially log4j)

[2022-10-12 18:50] sandeepnRES commented on #7248
It seems now even `corda.jar` files have been removed from versions 4.8.1 to 4.8.6....
Was this announced somewhere that corda will be deleting patch versions from everywhere?

Our whole application is failing.

[2022-11-29 01:02] adamturski opened #7277 "NodeVaultService._queryBy does not preserve requested order from Sort"
In summary, in NodeVaultService._queryBy() method, SQL Query results list elements are mapped to StateRefs and put in Set<StateRef>. Then the Set<StateRef> is used to populate List<StateAndRef> which is returned in a Vault.Page. This means that if we used any sort on a page, then this can be lost due to mapping to Set.
More simple example what is happening here is when we query vault we translate: